<div class="error-page">
	<div class="row">
	  <div class="col-xs-12 col-sm-offset-2 col-sm-8">

		  <i class="ed-glyphicon-remove-circle"></i>
		  <h1>Error 500</h1>
		  <p class="subtitle">Algo no ha funcionado correctamente. Vuelve a intentarlo más tarde</p>

		  <!-- enlaces de interés -->
		  <div class="text-center">
			<a href="/" class="btn cta">IR A PORTADA</a>
		  </div>
		  <!-- fin enlaces de interés -->
	  </div>
	</div>
</div>