<?php

    if ( $issue->userRol == 'Admin' || $issue->userRol == 'Editor' || $issue->userRol == 'Publicator' ){
        if ( $issue->class != '' || $issue->itemORM->publishDate == ''){
            ?>
                <div class="btn-group">
                   <a href="/issue/edit/<?php echo $issue->itemORM->id;?>" class="btn btn-default"><i class="ed-edit"></i> Editar</a>

                   <button type="button" class="btn btn-default dropdown-toggle"
                           data-toggle="dropdown">
                     <span class="caret"></span>
                     <span class="sr-only">Desplegar menú</span>
                   </button>

                   <ul class="dropdown-menu" role="menu">
                       <?php
                           if ( $issue->class == 'draft-number' ){
                               //Es un borrador
                               echo '<li><a href="#">Previsualizar</a></li>';
                           }
                       ?>

                       <li class="generator" data-idx="<?php echo $issue->itemORM->id; ?>" data-type="revistas"><a href="javascript:void(0);">Generar PDF</a></li>
                       
                       <?php
                        //Compruebo si exite archivo pdf generado
                        if( $idMagazine != 25 ){
                            if (file_exists($pathPdfs->revistas . $issue->itemORM->id . '.pdf')) {
                                echo '<li class="downloadPDF"><a href="/pdfs/'. $issue->itemORM->id . '.pdf" target="_blank">Descargar PDF</a></li>';
                            }
                        }
                       ?>
                       <li><a href="#">Descargar HTML</a></li>
                       <li><a href="javascript:void(0);" class="cloneIssue" data-id="<?php echo $issue->itemORM->id;?>">Clonar</a></li>

                       <?php
                           if ( $issue->class == 'draft-number' ){
                               //Es un borrador
                               echo '<li><a href="javascript:void(0);" class="deleteIssue" data-id="' . $issue->itemORM->id . '">Eliminar</a></li>';
                           }

                           //Caso especial del CAF Madrid
                           if( $idMagazine == 25 ){
                               //Compruebo si el archivo ya está creado
                               $modifiedDate = '';
                               if (file_exists($routes->caf . $issue->itemORM->id . '.pdf')) {
                                   $modifiedDate = '(Fecha: ' . date("d-m-Y H:i:s", filectime($routes->caf . $issue->itemORM->id . '.pdf')) . ')';
                               }
                               echo '<li class="caf generator" data-idx="'.$issue->itemORM->id.'" data-type="caf"><a href="javascript:void(0);">Generar PDF CAF ' . $modifiedDate . '</a></li>';
                           }
                       ?>
                   </ul>
                 </div>
                <?php
        }else{
           ?>
              <div class="btn-group">
                 <a href="avascript:void(0);" class="btn btn-default"><i class="lf-icon-configuration"></i></a>

                 <button type="button" class="btn btn-default dropdown-toggle"
                         data-toggle="dropdown">
                   <span class="caret"></span>
                   <span class="sr-only">Desplegar menú</span>
                 </button>

                 <ul class="dropdown-menu" role="menu">
                    <li class="generator" data-idx="<?php echo $issue->itemORM->id; ?>" data-type="revistas"><a href="javascript:void(0);">Generar PDF</a></li>
                       
                    <?php
                     //Compruebo si exite archivo pdf generado
                     if( $idMagazine != 25 ){
                         if (file_exists($pathPdfs->revistas . $issue->itemORM->id . '.pdf')) {
                             echo '<li class="downloadPDF"><a href="/pdfs/'. $issue->itemORM->id . '.pdf" target="_blank">Descargar PDF</a></li>';
                         }
                     }
                    ?>
                    <li><a href="#">Descargar HTML</a></li>
                    <li><a href="javascript:void(0);" class="cloneIssue">Clonar</a></li>

                     <?php
                         //Caso especial del CAF Madrid
                         if( $idMagazine == 25 ){
                             //Compruebo si el archivo ya está creado
                             $modifiedDate = '';
                             if (file_exists($routes->caf . $issue->itemORM->id . '.pdf')) {
                                 $modifiedDate = '(Fecha: ' . date("d-m-Y H:i:s", filectime($routes->caf .$issue->itemORM->id . '.pdf')) . ')';
                             }
                             echo '<li class="caf generator" data-idx="'.$issue->itemORM->id.'" data-type="caf"><a href="javascript:void(0);">Generar PDF CAF ' . $modifiedDate . '</a></li>';
                         }
                     ?>
                 </ul>
               </div>
              <?php
       }
    }
?>