<?php use Phalcon\Tag;?>

    <!-- Login and password inputs ... -->
    <div class="container login">    
        <aside class="led-blue-bg col-md-offset-1 col-md-5">
            
            <?php echo Tag::form(array('session/login', 'id'=>'loginform')); ?>
                <p>
                    <i class="icon-usuario"></i>
                    <?php echo _('Login'); ?>
                </p>
            <?php $this->flashSession->output() ?>
            
                <div class="form-group">            
                    <div class="input-group">                
                        <!--<input type="text" id="username" name="username" class="form-control" placeholder="Usuario">-->
                        <?php echo $form->render('user'); ?>
                    </div>            
                    <div class="input-group">                
                        <!--<input type="password" id="password" name="password" class="form-control" placeholder="Contraseña">-->
                        <?php echo $form->render('pwd'); ?>
                    </div>       
                </div>
                <!--<input type='hidden' name='<?php echo $this->security->getTokenKey() ?>' value='<?php echo $this->security->getToken() ?>'/>-->
                <?php echo $form->render('csrf'); ?>
                <span class="input-group-btn"><button type="submit" class="btn btn-default">Entrar</button></span>        
            </form>    
        </aside>
    </div> 
</form>