
body{
    background:#F6F6F6;
}
.pdf-index{
    background-color:#F6F6F6;
    margin:0 auto;
}
#document {
    background: none repeat scroll 0 0 #EBEBEB;
    font-family: "MTTMilano", Arial, sans-serif;
    height: auto !important;
    min-height: 100%;
    padding-bottom: 15px;
}

.layout {
    margin:0 auto; background:#FFF; padding:15px; width:972px
}


/**
* HEAD PDF -->
* [#document-pdf | .sk-pdf]
*
*
*/
#document-pdf {background-color:#fff;}
#document-pdf #layout {box-shadow:none;}

.pdf-index .lst-index-subcnt .it-title {font-size:16px !important; color:#333;}
.pdf-index .page-num {
    position:absolute; top:20px; right:10px;
    font-size:24px; color:#d3052c;
}

.pdf-index .lst-index-cnt {margin:0; padding:0}
.pdf-index .lst-index-cnt .it-title {margin-bottom:10px; font-size:20px; color:#333;}
.pdf-index .lst-index-cnt .it-author {margin-bottom:5px; font-size:16px; font-style:italic; color:#666;}
.pdf-index .lst-index-cnt .it-author-info {margin-bottom:10px; font:14px Arial,Helvetica,sans-serif; color:#666;}

/**
 * PAGE CONTENTS (CONTENT DETAIL ARTICLES, STORIES, INTERVIEWS... ) -->
 */
.mag_date{
    text-align: right;
}
.title-index{
    font-style: normal;
    color:#d3052c;
    background-color:rgba(211, 5, 44, 0.10);
    font-size:25px;
    padding: 5px 20px;
    text-align: right;
}
.cont-info-extra-navbar {
    background: #d3052c;
    color: #FFF;
    padding: 0 4px;
    text-transform: uppercase;
}


.title-pag{
    color:#001978;
    text-transform: uppercase;
    font-size:30px;
}
.line-title-pag{
    border:0;
    border-bottom:2px solid #001978;
    margin-top:5px;
    margin-bottom: 1.5em;
}
.item-index{
    border-bottom:1px solid #d1d1d1;
    position:relative;
    padding:20px 50px 5px 5px;
    display:block;
    list-style-type: none;
}
.pR0{padding-right:0}
.it-kicker {
    margin-bottom:5px;
    color: #d3052c;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.title-section-pdf{
    background:#e8e8e8;
    color:#333;
    font-size:25px;
    text-transform: uppercase;
    padding:5px 20px
}
.title-section-pdf span{
    text-transform: none;
    font-size:20px;
    line-height:30px;
}
.title-contenido{
    font-size: 2em;
    margin:10px 0;
}

/* Layout modes */
.col-xs-1,
.col-1,
.col-sm-1,
.col-md-1 {
  width: inherit;
}
.col-xs-2,
.col-2,
.col-sm-2,
.col-md-2 {
  width: inherit;
}
.col-xs-3,
.col-3,
.col-sm-3,
.col-md-3 {
  width: inherit;
}
.col-xs-4,
.col-4,
.col-sm-4,
.col-md-4 {
  width: inherit;
}
.col-xs-5,
.col-5,
.col-sm-5,
.col-md-5 {
  width: inherit;
}
.col-xs-6,
.col-6,
.col-sm-6,
.col-md-6 {
  width: inherit;
}
.col-xs-7,
.col-7,
.col-sm-7,
.col-md-7 {
  width: inherit;
}
.col-xs-8,
.col-8,
.col-sm-8,
.col-md-8 {
  width: inherit;
}
.col-xs-9,
.col-9,
.col-sm-9,
.col-md-9 {
  width: inherit;
}
.col-xs-10,
.col-10,
.col-sm-10,
.col-md-10 {
  width: inherit;
}
.col-xs-11,
.col-11,
.col-sm-11,
.col-md-11 {
  width: inherit;
}
.col-xs-12,
.col-12,
.col-sm-12,
.col-md-12 {
  width: inherit;
}
.col-1,
.col-md-1,
.col-lg-1 {
  max-width: 8.33333333%;
}
.col-2,
.col-md-2,
.col-lg-2 {
  max-width: 16.66666667%;
}
.col-3,
.col-md-3,
.col-lg-3 {
  max-width: 25%;
}
.col-4,
.col-md-4,
.col-lg-4 {
  max-width: 33.33333333%;
}
.col-5,
.col-md-5,
.col-lg-5 {
  max-width: 41.66666667%;
}
.col-6,
.col-md-6,
.col-lg-6 {
  max-width: 50%;
}
.col-7,
.col-md-7,
.col-lg-7 {
  max-width: 58.33333333%;
}
.col-8,
.col-md-8,
.col-lg-8 {
  max-width: 66.66666667%;
}
.col-9,
.col-md-9,
.col-lg-9 {
  max-width: 75%;
}
.col-10,
.col-md-10,
.col-lg-10 {
  max-width: 83.33333333%;
}
.col-11,
.col-md-11,
.col-lg-11 {
  max-width: 91.66666667%;
}
.col-12,
.col-md-12,
.col-lg-12 {
  max-width: 100%;
}

.new-page {
    page-break-before: always;
}

.pr-0, .px-0 {
    padding-right: 0!important;
}
