
body{background:#f6f6f6; font-family: "MTTMilano", Arial, sans-serif; line-height:1.2}

a,
.generic-text-featured{
    color:#b3344c;
}
a:hover{
    color:#d3052c;
    text-decoration: none
}
.show {
       display: block !important;
   }
.hidden {
    display: none !important;
}



/* h2 */
.title-common-mod{
    color:#333;
    font-size:26px;
    font-weight:700;
}
/* h3 */
.title-section{
     color:#333;
     font-size:20px;
     font-weight: bold;
     text-transform: uppercase;
     border-bottom:1px solid #b3344c;
     margin-bottom:20px;
     padding-bottom: 5px;
 }

.title-section-2{
    color:#b3344c;
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom:1px solid #b3344c;
    margin-bottom:20px;
    padding-bottom: 5px;
}

/* h4 */
.title-mod-featured{
    color:#b3344c;
    font-size:15px;
    font-weight: bold;
    text-transform: uppercase;
}

/* menú */

.button-all{
    color:#b3344c;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:700;
    margin-top:10px;
}
.button-all:hover{
    text-decoration:underline;
}
.btn{
    background:#b3344c;
    padding:5px 10px;
    color:#FFF;
    font-size:15px;
    text-transform: uppercase;
    border-radius:0;
    line-height:25px;
    transition: 0.5s;
    border:2px solid #b3344c;
}
.btn:hover{
    color:#b3344c;
    background: #FFF;
}
/* FIN ESTILOS HOME */

.line-common{
    border:0;
    border-bottom:1px solid #d1d1d1;
}
.line-common-bold{
    border:0;
    border-bottom:2px solid #333333;
}
.line-special{
    border:0;
    border-bottom:2px solid #b3344c;
}

/* ESTILOS PÁGINA DETALLE */
.cont-redes-sociales{
    font-size:2em
}
.btn-light{
    background:#fff;
    padding:5px 10px;
    color:#b3344c!important;
    font-size:15px;
    text-transform: uppercase;
    border-radius:0;
    line-height:25px;
    transition: 0.5s;
    border:2px solid #b3344c;
}
.btn-light:hover{
    color:#fff!important;
    background: #b3344c;
}
/* FORM */
input[type="checkbox"]+label, input[type="radio"]+label {
    padding-left: 5px;
    display: inline-block;
    position: relative;
    margin: 10px 20px 10px 0;
}
input[type="checkbox"], input[type="radio"]{
    position: absolute;
    left: -9999px;
    font-size: .1em;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

input[type="checkbox"]+label:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2px;
    left: -19px;
    border: 1px solid #4A4A4A;
    background: #fff;
}
input[type="checkbox"]:checked+label:after {
    background-color: transparent;
    left: -17px;
    top: 5px;
    width: 13px;
    height: 7px;
    -webkit-transform: rotate(305deg);
    transform: rotate(305deg);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    border-radius: 3px;
    content: '';
    display: block;
    position: absolute;
     border: solid #000000;
    border-width: 0 0 3px 3px;
}

/* FIN FORM */
/* PAGINATION */
.page-link{color:#b3344c;}

.bg-filter{background:#b3344c; color:#FFF}
.bg-filter .title{font-size:1.3em; font-weight: 500}
.bg-filter .title + hr{border-top:1px solid #FFF}
.bg-filter a{ color:#FFF}
.title-pag{
    color:#d3052c;
    text-transform: uppercase;
    font-size:30px;
}
.line-title-pag{
    border:0;
    border-bottom:2px solid #d3052c;
    margin-top:5px;
    margin-bottom: 1.5em;
}
/* TABS */
.nav-tabs .nav-link{
    border-radius:0;
}
.nav-tabs .nav-link:hover{
    border:1px solid transparent;
}
.nav-tabs .nav-link.active:hover{
  border-color:  #dee2e6 #dee2e6 #fff;
}
.tab-content{
    background:#FFF;
    border:1px solid #dee2e6;
    border-top:0;
}

/* FIN TABS */

@media (max-width: 767px) {
    .title-pag{
        margin-top:20px;
    }
    .button-all{
        margin-top:20px;
    }
}
@media (min-width: 768px){
    .container {
        max-width: 760px;
    }
}
@media (min-width: 992px){
    .container {
        max-width: 990px;
    }
}
@media (min-width:768px) and ( max-width: 991px){

}
@media (min-width: 1200px){
    .container {
        max-width: 1200px;
    }
}

