<!DOCTYPE HTML>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <head>
        <link rel="stylesheet" media="all" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" media="all" href="<?php echo $_SERVER['DOCUMENT_ROOT'];?>/css/pdf/<?php echo $typeProject;?>/pdf.css">
        <?php
            if ( 'caf' == $typeProject ){
                ?><link rel="stylesheet" media="all" href="<?php echo $_SERVER['DOCUMENT_ROOT'];?>/css/pdf/<?php echo $typeProject;?>/revistas-project.css"><?php
            }
        ?>
        <link rel="stylesheet" media="all" href="https://assets.lefebvre.es/media/css/fonts-mttmilano.css">
    </head>
    <body class="<?php echo $rootvar['bodyClass']; ?>">
        <div id="document-pdf" class="pdf-index">
            <div class="layout">
                <!-- Página contenido -->

                <div class="row">
                    <div class="col-lg-12">
                        <div style="display: block; width: 100%; text-align: left; margin-bottom: 15px;">
                            <img src="<?php echo $logoURL;?>" />
                        </div>
                        <div style="display: inline-block; max-width:100%; padding-left: 15px;">
                            <h1 class="title-pag d-inline-block"><?php echo $magazineTitle;?></h1>
                        </div>
                        <div style="display: inline-block; width:63%; vertical-align: middle; text-align: right;">
                            <div class="mag_date-cnt cf">
                                <p class="mag_date fr"><span><?php echo $issueName;?></span></p>
                            </div>
                        </div>                        
                    </div>
                    <div class="col-lg-12"> <hr class="line-title-pag"></div>
                </div>
                
                <?php
                    foreach ( $contents as $key => $content ){
                        $newPage = '';
                        if ( $key != 0 )
                            $newPage = 'new-page';
                        ?>
                            <div class="row <?php echo $newPage;?>">
                                <div class="col-lg-12">
                                    <div class="title-section-pdf">
                                        <?= $content->type ?>
                                        <?php
                                            if ( $content->category != '' )
                                                echo '<span class="float-right">' . $content->category . '</span>';
                                        ?>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    
                                    <?php
                                        if( $content->subtitule != '' ){
                                            ?><p style="margin-top:10px;"><small><?= $content->subtitule ?></small></p><?php
                                        }
                                    ?>
                                    
                                    <h1 class="title-contenido"><?= $content->title;?></h1>
                                    
                                    <!-- AUTOR O COORDINADOR ------------------------------------------>
                                    <?php 
                                        if ( $content->author != '' ){
                                            ?>
                                                <address>
                                                    <small class="author">Por:</small>
                                                    <a href="" title="<?= $content->author ?>" ><?= $content->author ?></a>
                                                </address>
                                                <p><?= $content->job ?></p>
                                    
                                                <?php
                                        }
                                    ?>
                                    <!-- FIN AUTOR O COORDINADOR -------------------------------------->
                                    
                                    <div id="magazine-advanced-links">
                                        
                                        <?php 
                                            if ( $content->date != '' ){
                                                ?><p>Fecha de la consulta: <b><?= $content->date;?></b></p><?php
                                            }
                                            
                                            if ($content->type != 'Foro Abierto'){
                                                echo $content->content;
                                            }else{
                                                
                                                echo $content->approach;
                                                
                                                if( $content->resultTopic != '' ){
                                                    echo $content->resultTopic;
                                                }
                                                
                                                foreach( $content->pointsView as $pointView ){
                                                    
                                                    if ($pointView->signature != ''){
                                                        $fullName   = $pointView->signature;
                                                        $job        = $pointView->job;
                                                    }else{
                                                        $fullName   = $pointView->author->tratamiento . ' ' . $pointView->author->fullName;
                                                        $job        = $pointView->author->job;
                                                    }
                                                    
                                                    ?>
                                                        <div class="row">
                                                            <div style="display: inline-block; width:15%; vertical-align: top; padding-left: 15px; word-wrap: break-word;">
                                                                <span style="display:block; padding-right: 10px; margin-bottom: 10px;"><?= $fullName; ?></span>
                                                                <span style="display:block;"><?= $job; ?></span>                                                        
                                                            </div>
                                                            <div style="display: inline-block; width:82%; word-wrap: break-word;">
                                                                <?= $pointView->pointView ?>
                                                            </div>
                                                        </div>
                                                        <?php
                                                }
                                            }
                                        ?>
                                        
                                    </div>
                                </div>
                            </div>
                            
                            <?php
                    }
                ?>
            </div><!-- #layout -->
        </div>
    </body>
</html>
