/*****************************************
* Estilos de los campos del page builder *
*****************************************/
.ui-sortable-handle:hover {
    cursor: move;
}
.media-library .thumbnails figure {
    height: 160px;
    min-width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #f2f2f2;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    border: #ddd solid 1px;
}
.media-header {
    margin-top: 5px;
    margin-bottom: 20px;
}
.treeDirectories li.active {
    background: #ddd;
}
.media-library .media-content figure img {
    margin: 0 auto;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
.media-library .media-content figure:hover .overlay {
    opacity: 1;
}
.media-library .media-content figure:hover .overlay i {
    top: 50%;
}
.chooseImage {
    color: #ffffff;
    background-color: #001978;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;       
    padding: 10px 10px;
    cursor: pointer;
    float: right;
}
.ledImageType {
    padding-right: 185px;
}
.modal-full {
    width: 95%;
    height: 100vh;
}
.modal-full .close {
    line-height: .3em;
}
.modalLoading {
    height: 82vh;
}
.content-tree a {
    font-weight: normal;
    text-decoration: none;
    outline: none;
}
.submenu {
    margin-top: 10px;
}
.row.full-height {
    overflow: hidden;
}
.row.full-height > [class*="col-"]{
    height: 100vh;
}
.bg-grey {
    background: #f2f2f2;
}
.bg-ccc {
    background: #ccc;
}
#mediaLibraryContent .column {
    padding-left: 5px;
    padding-right: 5px;
}
#mediaLibraryContent .column figure {
    margin-bottom: 10px;
    position: relative;
}
#mediaLibraryContent .ui-selected {
    border: #001978 solid 5px;
}
#mediaLibraryContent .ui-selected:after {
    font-family: "gestor-newsletters";
    content: '\23';
    position: absolute;
    top: 0;
    right: 0;
}
#mainModal .modal-body {
    padding: 0;
    background: #fff;
}
body.mediaController,
body.dropSpaces {
    padding: 0;
    margin: 0;
}
.content-tree {
    padding: 20px 20px 20px 45px;
}
.media-item {
    display: inline-block;
    height: 105px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.media-item.active {
    border:1px solid rgba(0, 25, 120, .4);
    -webkit-box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
    -moz-box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
}
.nl-list.media-items .media-item img {
    margin-bottom: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 110%;
}
.img-selected{
    background: rgba(0, 25, 120, .7);
    display:block;
    position:absolute;
    width: 240px;
    height: 105px;
    z-index:2;
}
.media-bar {
    background: #F4F4F4;
    margin-bottom: 40px;
}
.btn-new-image {
    margin-bottom: 7px;
}
.filter-list button.btn-common{
    margin-top: 7px;
    display: inline-block;
    padding: 5px 15px;    
    background: #001978;    
    color: #FFF;    
    font-weight: 600; 
    font-size:1em;    
    width: auto;    
    text-transform: lowercase;
}
.grey-bg .cont-btn {
    margin: 0 0 25px 0;
}
#ledBuilder {
    overflow: hidden;
    position: relative;
}
.form-group {
    position: relative;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.error-container {
    width: 480px;
    height: 500px;
    background: #F4F4F4;
    padding: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -240px;

}
.errCode {
    font-weight: 900;
    font-size: 172px;
    font-family: 'Playfair Display', serif;
    color: #001978;
    line-height: 1;
    margin-bottom: 20px;
}
.errContent h1 {
    margin-bottom: 10px;
}

.errContent {
    padding-bottom: 30px;
}
.component-id-info {
    background: #fae61e;
    font-size: 15px;
    padding: 3px 6px;
}
.ledAddMedia {
    width: 100%;
}
.error-no-image {
    padding: 5px 10px;
    font-size: 1.025em;
}
#mainModal .modal-content {
    height: calc(100vh - 60px);
}
.overlay-crop {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: #eee;
    display: none;
	min-height:100vh;
}
.image-container-crop {
    position: relative;
    width: 70%;
    margin: 25px auto 0 auto;
    text-align: center;
}
.image-container-crop img {
    max-width: 100%;
}
a.media-item:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}
.tools-container-crop {
    text-align: center;
    margin: -40px 0;
}
.admin-menu i {
    font-size: 27px;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    top: 9px;
}
.section-bar li.admin-menu > a {
    padding: 5px 20px 14px;
}

.sidebar-menu {
    padding: 0;
}
.sidebar-menu > li > a {
    display: block;
    border-bottom: #eee solid 1px;
}
.sidebar-menu > li > a:hover {
    text-decoration: none;
}
.component-preview-container {
    height: 250px;
    background: #fff;
}
.inline-filters {
    margin-top: 30px;
}
.filtrable {
    -webkit-transition: all .5;
    -moz-transition: all .5;
    -ms-transition: all .5;
    -o-transition: all .5;
    transition: all .5;
}
.filtrableHidden {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/**
* Datapicker
*/
.ui-datepicker {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.075);
    min-width: 17em;
    width: auto;
    z-index: 1000 !important;
}
body.wp-admin:not(.rtl) .ui-datepicker {
    margin-left: -1px;
}
body.wp-admin.rtl .ui-datepicker {
    margin-right: -1px;
}
.ui-datepicker * {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.ui-datepicker table {
    font-size: 13px;
    margin: 0;
    border: none;
    border-collapse: collapse;
}
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background-image: none;
    border: none;
    color: #fff;
    font-weight: normal;
}
.ui-datepicker .ui-datepicker-header .ui-state-hover {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
}
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    top: 6px;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 33%;
}
.ui-datepicker thead {
    color: #fff;
    font-weight: 600;
}
.ui-datepicker th {
    padding: 10px;
}
.ui-datepicker td {
    padding: 0;
    border: 1px solid #f4f4f4;
}
.ui-datepicker td.ui-datepicker-other-month {
    border: transparent;
}
.ui-datepicker tr:first-of-type td {
    border-top: 1px solid #f0f0f0;
}
.ui-datepicker td.ui-datepicker-week-end {
    background-color: #f4f4f4;
    border: 1px solid #f0f0f0;
}
.ui-datepicker td.ui-datepicker-today {
    background-color: #f0f0c0;
}
.ui-datepicker td.ui-datepicker-current-day {
    background: #bbdd88;
}
.ui-datepicker td .ui-state-default {
    background: transparent;
    border: none;
    text-align: center;
    text-decoration: none;
    width: auto;
    display: block;
    padding: 5px 10px;
    font-weight: normal;
    color: #444;
}
.ui-datepicker td.ui-state-disabled .ui-state-default {
    opacity: 0.5;
}
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-header {
    background: #00C7DF;
}
.ui-datepicker thead {
    background: #001978;
}
.ui-datepicker td .ui-state-hover {
    background: #0073aa;
    color: #fff;
}
.ui-datepicker th{
    color: white !important;
}
.ui-datepicker .ui-widget-header .ui-icon {
    filter: brightness(0) invert(1);
}

/**
* Media
*/
.media-mgmt .filter-list li i {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 32px;
    color: #5FC7DE;
}
.modal-open .ui-datepicker {
    z-index: 1111 !important;
}
.media-mgmt.media-library .pagination .active > span{
    z-index: 0;
}
#media-content-images > div{
    overflow: hidden;
}
#media-content-images .ledControls{
    /*right: initial;*/
    left: 0;
}
#media-content-images .ledControls{
    max-width: 60px;
    max-height: 35px;
}
#media-content-images .ledControls li{
    display: inline-block;
}
#media-content-images .ledControls li:hover{
    opacity: 0.5;
}
#led-modal-url{
    z-index: 1060 !important;
}
.copyPublicUrl{
    overflow-wrap: break-word;
}
.pageController.editAction.modal-open .modal-backdrop-order:last-of-type{
    z-index: 1055 !important;
    opacity: 0.4; 
}
.pageController.editAction.modal-open .modal-backdrop-order:first-of-type{
    z-index: 1051 !important;
}
.media-item .ledControls {
    top: -8px !important;
}
.modal-select-image{
    margin-bottom: 0px !important;
}
.media-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
.icon-add:before {
  content: "\61";
}
.icon-edit:before {
  content: "\7a";
}