/************************************************
* Estilos para los componentes del page builder *
************************************************/

/**Page builder**/
.lpb-editing.later-version .column .lpb-content {
    height: calc(100% - 40px);
}
.lpb-editing.later-version .column .lpb-content .ledColumnContent{
    height: 100%;
}

.lpb-content.ledDropPermitted{
    background: #8ec38f !important; 
}
.lpb-content.ledDropForbidden, .no-add-in-row .lpb-content{
    background: #e28995 !important; 
}
.ledColumnContent.noContent:after {
    content: "Arrastre aqu\00ED\0020 un componente";
    width: 100%;
    min-height: 70px;
    color: #001978;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
.ledColumnContent .ledComponent{
    border: 1px solid #c1c1c1;
    padding: 5px;
    margin-bottom: 5px;  
}
.ledColumnContent .ui-sortable-placeholder{
    background: #fefefe !important;
    border: 1px dashed #E1E1E1;
}

/**Componentes**/
.previewComponent{
    border: 1px solid #c1c1c1 !important;
    padding: 10px;
    background-color: white;
}
.widget-list{
    padding-left: 0px !important;
}
.widget-list div {
    margin: 0;
    border: 0px solid #c1c1c1;
}
.widget-list p {
    margin-top: 0px;
    margin-bottom: 20px;
}
.widget-list li.conf-trigger{
    list-style: none;
    opacity: 1 !important;
}
li.conf-trigger{
    list-style: none;
    opacity: 0.7;
}
.ledComponent{
    cursor: move;
    position: relative;
}
.ledDraggable{
    visibility : initial !important;
}
.ledComponent *{  
    word-break: break-word;
}

/**Componente activo**/
.overlayComponent{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    min-height: 100%;
}
.activeComponent{
    position: relative; 
    background: white;
    z-index: 11 !important;
}

/**Campo activo**/
.activeField{
    border: 1px dashed #c1c1c1;
    display: block;
}

/**Controles del componente**/
.ledControls {
    position: absolute;
    right: 0;
    background: #fff;
    padding: 5px 0 4px 0;
    top: 0;
}
.ledControls ul {
    padding: 0;
    margin: 0;
}
.ledControls ul > li {
    line-height: 0;
    list-style: none;
}
.ledControls a,
.ledControls a:hover {
    text-decoration: none;
    display: block;
    padding: 3px 0 0 3px;
}
.ledControls a:hover {
    border: 0!important;
    box-shadow: none!important;
}
.ledControls .icon, .ledControls .glyphicon {
    font-size: 24px;
    line-height: 0;
}
.ledControls .icon-bin {
    color: #f00;
    position: relative;
    left: -1px;
}
.ledControls .glyphicon {
    position: relative;
    left: 4px !important;
}

/** Correcciones compatibilidad boostrap 4 **/
/*.lpb-editing .mr-3,
.lpb-editing.mx-3 {
    margin-right: 1rem!important;
}
.lpb-editing .mb-3,
.lpb-editing .my-3 {
    margin-bottom: 1rem!important;
}
.lpb-editing .ml-3,
.lpb-editing .mx-3 {
    margin-left: 1rem!important;
}
.lpb-editing .p-3 {
    padding: 1rem!important;
}
.lpb-editing .pb-4,
.lpb-editing .py-4 {
    padding-bottom: 1.5rem!important;
}*/
.pb-5,
.py-5 {
    padding-bottom: 3rem!important;
}

/**Formulario de configuracion de los componentes**/


