/**
* Estilos para page builder
*/
.lpb-canvas, .lpb-mainControls{
    padding-right: 20px;
    padding-left: 20px;
}
#ledPageBuilder{
  background: #F4F4F4;
  min-height: 100vh;
}
#ledPageBuilder .pull-right .btn-primary {
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 2px solid #001978;
  background: #001978;
  color: #FFF;
  transition: all .2s;
  border-radius: 2px;
}
#ledPageBuilder .pull-right .btn-primary:hover {
  background: #FFF;
  color: #001978;
}
.lpb-mainControls {
  position: relative;
  min-height: 22px;
  margin-bottom: 20px;
}
.lpb-mainControls .lpb-wrapper {
  padding-top: 15px;
  min-height: 60px;
}
.lpb-mainControls a, .lpb-mainControls button{
    margin-bottom : 0px;
}
.lpb-mainControls .lpb-wrapper.lpb-top .container {
  margin: 0;
  padding: 0;
  width: auto;
}
.lpb-mainControls .lpb-wrapper.lpb-fixed {
  position: fixed;
  z-index: 20;
  top: 0;
}
.lpb-mainControls .btn.btn-primary {
  background: #fff;
  border-color: #AAA;
  padding: 8px 10px;
  color: #AAA;
  display: flex;
  align-items: center;
  border-radius: 0px !important;
  font-size: 13px !important;
}
.lpb-mainControls .lpb-addRowGroup .btn.btn-primary:hover {
  opacity: 0.8;
}
.lpb-mainControls .lpb-addRowGroup .lpb-row-icon {
  width: 48px;
  margin: 0;
}
.lpb-mainControls .lpb-row-text{
  margin-left: 5px;
  margin-right: 0px;
}
.lpb-mainControls .lpb-addRowGroup .lpb-row-icon .column {
  height: 10px;
  background: #AAA;
  padding: 0;
  border-left: 2px solid #F1F1F1;
}
.lpb-mainControls .lpb-layout-mode {
  margin-left: 5px;
}
.lpb-mainControls .btn:focus {
  box-shadow: none;
  outline: none;
}
.lpb-mainControls .dev-buttons.btn-group.pull-left, .lpb-mainControls .custom-left-buttons{
  margin-left: 5px;
}
.lpb-mainControls .dev-buttons.btn-group.pull-left .glyphicon:before{ 
  font-size: 19px;
}
.lpb-mainControls .blue-btn{
  margin-left: 5px;
  padding: 8px 10px;
  font-size: 13px !important;
}
.lpb-mainControls .btn-primary.active.focus, 
.lpb-mainControls .btn-primary.active:focus, 
.lpb-mainControls .btn-primary.active:hover, 
.lpb-mainControls .btn-primary:active.focus, 
.lpb-mainControls .btn-primary:active:focus, 
.lpb-mainControls .btn-primary:active:hover, 
.lpb-mainControls .open>.dropdown-toggle.btn-primary.focus, 
.lpb-mainControls .open>.dropdown-toggle.btn-primary:focus, 
.lpb-mainControls .open>.dropdown-toggle.btn-primary:hover {
  color: #fff;
  background-color: #AAA;
  border-color: #AAA;
}
.lpb-mainControls .dropdown-menu{
  margin-top: 0px;
}
.lpb-mainControls .dropdown-menu a{
  cursor: pointer;
  color: #AAA !important;
  font-weight: 600;
}
.lpb-html-output {
  width: 100%;
  display: none;
}
/* Not editing */
.lpb-canvas .lpb-tools-drawer {
  display: none;
}
/* While editing */
.later-version .col{
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
  min-width: 20%;
}
.later-version .row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.lpb-editing .no-columns:after {
  content: "Inserte una columna";
  width: 100%;
  height: 70px;
  color: #001978;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.later-version.lpb-layout-phone .col {
  min-width: 50%;
}
.lpb-canvas.lpb-editing {
  /* Content area */
  /* Sorting */
}
.lpb-canvas.lpb-editing .lpb-tools-drawer {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: blue;
  display: block;
  width: 100%;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer > a {
  display: inline-block;
  padding: 5px;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer > a:hover {
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer .lpb-details {
  display: none;
  margin-top: 5px;
  padding: 5px 15px;
  border-top: 1px solid #E1E1E1;
  width: calc(100% + 8px);
  margin-left: -4px;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer .lpb-details .btn-group a {
  color: #333;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer .lpb-details .btn-group a.active {
  color: white;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer .lpb-details .btn-group a:hover {
  text-decoration: none;
  cursor: pointer;
}
.lpb-canvas.lpb-editing .lpb-tools-drawer .lpb-details input {
  border: 1px solid #DDD;
  border-radius: 4px;
  font-size: 11px;
  padding: 2px 5px;
  margin-right: 5px;
  width: 100px;
}
.lpb-details .btn{
  margin: 0px;
  font-size: 13px;
}
.lpb-details .btn:hover{
  color: #fff !important;
}
.lpb-editing .column > .lpb-tools-drawer > .lpb-details{
  border-top: 1px solid #fff !important;
}
.lpb-editing .column > .lpb-tools-drawer > .lpb-details .lpb-input{
  border: 1px solid #7f7f7f !important;
}
.lpb-details label {
    margin-bottom: 0px;
    margin-left: 10px;
}
.lpb-canvas.lpb-editing .row {
  background-color: #fff;
  padding: 0 10px 10px;
  margin-bottom: 10px;
  margin-left: 0;
  margin-right: 0;
}
.lpb-canvas.lpb-editing > .row:first-of-type {
  border-top: 0px;
}
.lpb-canvas.lpb-editing .row > .lpb-tools-drawer {
  background: #fff;
  padding: 5px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 10px;
  margin-left: -10px;
  min-width: calc(100% + 20px);
}
.lpb-editing .column > .row {
  margin-top: 0px !important;
  border-top: 0px !important;
}
.lpb-editing .column > .row > .lpb-tools-drawer{
  min-width: calc(100% + 10px) !important;
}
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a {
  color: #666;
}
.lpb-canvas.lpb-editing .row > .lpb-tools-drawer > a.lpb-add-column {
  color: #001978;
}
.lpb-canvas.lpb-editing .row > .lpb-tools-drawer > a.lpb-add-column.no-add-column{
  opacity: 0.5;
  color: #666 !important;
  cursor: no-drop !important;
}
.lpb-canvas.lpb-editing .column {
  padding: 0 5px 5px;
}
.lpb-canvas.lpb-editing .column > .lpb-tools-drawer {
    background: #DDD;
    padding: 5px;
}
.lpb-canvas.lpb-editing .column > .lpb-tools-drawer a {
  color: #178acc;
}
.lpb-canvas.lpb-editing .column > .lpb-tools-drawer > a.lpb-add-row {
  color: #666;
}
.lpb-canvas.lpb-editing .lpb-content-type-tinymce.active {
  outline: 1px dashed #A1A1A1;
}
.lpb-canvas.lpb-editing .ui-sortable-placeholder {
  background: rgba(255, 255, 0, 0.2);
  visibility: visible !important;
  min-height: 50px;
}
.lpb-editing .column .lpb-content{
  padding: 5px;
  border-top: 1px solid #FFF;
  background: #DDD;
}
.lpb-editing .column .lpb-content .ledColumnContent{
  padding: 5px;
  background: #FFF;
}
.lpb-editing .column .row{
  border:5px solid #E1E1E1;
  margin-top: 10px;  
  margin-bottom: 0px; 
  padding: 0 5px 5px;
}
.lpb-editing .column .row > .lpb-tools-drawer {
  margin-left: -5px;
  width: calc(100% + 10px);
}
.row.auto-on > .column > .lpb-tools-drawer > a[class*=-col-width]{
  display: none;
}
.lpb-editing .add-column-disabled > .column > .lpb-tools-drawer > .lpb-clone{
  display: none;
}
/* Layout modes */
.lpb-canvas.lpb-layout-phone {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.lpb-canvas.lpb-layout-phone .col-xs-1 {
  width: 8.33333333%;
}
.lpb-canvas.lpb-layout-phone .col-xs-2 {
  width: 16.66666667%;
}
.lpb-canvas.lpb-layout-phone .col-xs-3 {
  width: 25%;
}
.lpb-canvas.lpb-layout-phone .col-xs-4 {
  width: 33.33333333%;
}
.lpb-canvas.lpb-layout-phone .col-xs-5 {
  width: 41.66666667%;
}
.lpb-canvas.lpb-layout-phone .col-xs-6 {
  width: 50%;
}
.lpb-canvas.lpb-layout-phone .col-xs-7 {
  width: 58.33333333%;
}
.lpb-canvas.lpb-layout-phone .col-xs-8 {
  width: 66.66666667%;
}
.lpb-canvas.lpb-layout-phone .col-xs-9 {
  width: 75%;
}
.lpb-canvas.lpb-layout-phone .col-xs-10 {
  width: 83.33333333%;
}
.lpb-canvas.lpb-layout-phone .col-xs-11 {
  width: 91.66666667%;
}
.lpb-canvas.lpb-layout-phone .col-xs-12 {
  width: 100%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-1 {
  max-width: 8.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-2 {
  max-width: 16.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-3 {
  max-width: 25%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-4 {
  max-width: 33.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-5 {
  max-width: 41.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-6 {
  max-width: 50%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-7 {
  max-width: 58.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-8 {
  max-width: 66.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-9 {
  max-width: 75%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-10 {
  max-width: 83.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-11 {
  max-width: 91.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-12 {
  max-width: 100%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-1 {
  flex: 0 0 8.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-2 {
  flex: 0 0 16.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-3 {
  flex: 0 0 25%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-4 {
  flex: 0 0 33.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-5 {
  flex: 0 0 41.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-6 {
  flex: 0 0 50%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-7 {
  flex: 0 0 58.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-8 {
  flex: 0 0 66.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-9 {
  flex: 0 0 75%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-10 {
  flex: 0 0 83.33333333%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-11 {
  flex: 0 0 91.66666667%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-12 {
  flex: 0 0 100%;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-1,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-1,
.later-version .lpb-canvas.lpb-layout-phone .col-md-1,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-1 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-2,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-2,
.later-version .lpb-canvas.lpb-layout-phone .col-md-2,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-2 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-3,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-3,
.later-version .lpb-canvas.lpb-layout-phone .col-md-3,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-3 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-4,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-4,
.later-version .lpb-canvas.lpb-layout-phone .col-md-4,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-4 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-5,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-5,
.later-version .lpb-canvas.lpb-layout-phone .col-md-5,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-5 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-6,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-6,
.later-version .lpb-canvas.lpb-layout-phone .col-md-6,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-6 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-7,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-7,
.later-version .lpb-canvas.lpb-layout-phone .col-md-7,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-7 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-xs-8,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-8,
.later-version .lpb-canvas.lpb-layout-phone .col-md-8,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-8 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-sm-9,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-9,
.later-version .lpb-canvas.lpb-layout-phone .col-md-9,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-9 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-sm-10,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-10,
.later-version .lpb-canvas.lpb-layout-phone .col-md-10,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-10 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-sm-11,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-11,
.later-version .lpb-canvas.lpb-layout-phone .col-md-11,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-11 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-phone .col-sm-12,
.later-version .lpb-canvas.lpb-layout-phone .col-sm-12,
.later-version .lpb-canvas.lpb-layout-phone .col-md-12,
.later-version .lpb-canvas.lpb-layout-phone .col-lg-12 {
  width: inherit;
}
.lpb-canvas.lpb-layout-tablet .col-sm-1 {
  width: 8.33333333%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-2 {
  width: 16.66666667%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-3 {
  width: 25%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-4 {
  width: 33.33333333%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-5 {
  width: 41.66666667%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-6 {
  width: 50%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-7 {
  width: 58.33333333%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-8 {
  width: 66.66666667%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-9 {
  width: 75%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-10 {
  width: 83.33333333%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-11 {
  width: 91.66666667%;
}
.lpb-canvas.lpb-layout-tablet .col-sm-12 {
  width: 100%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-1 {
  max-width: 8.33333333% !important;
  flex: 0 0 8.33333333%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-2 {
  max-width: 16.66666667% !important;
  flex: 0 0 16.66666667%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-3 {
  max-width: 25% !important;
  flex: 0 0 25%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-4 {
  max-width: 33.33333333% !important;
  flex: 0 0 33.33333333%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-5 {
  max-width: 41.66666667% !important;
  flex: 0 0 41.66666667%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-6 {
  max-width: 50%;
  flex: 0 0 50%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-7 {
  max-width: 58.33333333% !important;
  flex: 0 0 58.33333333%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-8 {
  max-width: 66.66666667% !important;
  flex: 0 0 66.66666667%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-9 {
  max-width: 75% !important;
  flex: 0 0 75%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-10 {
  max-width: 83.33333333% !important;
  flex: 0 0 83.33333333%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-11 {
  max-width: 91.66666667% !important;
  flex: 0 0 91.66666667%;
}
.later-version .lpb-canvas.lpb-layout-tablet .col-sm-12 {
  max-width: 100% !important;
  flex: 0 0 100%;
}
.lpb-canvas.lpb-layout-tablet {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-1,
.later-version .lpb-canvas.lpb-layout-tablet .col-1,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-1,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-1 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-2,
.later-version .lpb-canvas.lpb-layout-tablet .col-2,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-2,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-2 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-3,
.later-version .lpb-canvas.lpb-layout-tablet .col-3,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-3,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-3 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-4,
.later-version .lpb-canvas.lpb-layout-tablet .col-4,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-4,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-4 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-5,
.later-version .lpb-canvas.lpb-layout-tablet .col-5,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-5,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-5 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-6,
.later-version .lpb-canvas.lpb-layout-tablet .col-6,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-6,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-6 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-7,
.later-version .lpb-canvas.lpb-layout-tablet .col-7,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-7,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-7 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-8,
.later-version .lpb-canvas.lpb-layout-tablet .col-8,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-8,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-8 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-9,
.later-version .lpb-canvas.lpb-layout-tablet .col-9,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-9,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-9 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-10,
.later-version .lpb-canvas.lpb-layout-tablet .col-10,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-10,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-10 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-11,
.later-version .lpb-canvas.lpb-layout-tablet .col-11,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-11,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-11 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-12,
.later-version .lpb-canvas.lpb-layout-tablet .col-12,
.later-version .lpb-canvas.lpb-layout-tablet .col-md-12,
.later-version .lpb-canvas.lpb-layout-tablet .col-lg-12 {
  width: inherit;
}
.lpb-canvas.lpb-layout-desktop {
  max-width: none;
  margin-left: auto;
  margin-right: auto;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-1,
.later-version .lpb-canvas.lpb-layout-desktop .col-1,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-1,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-1 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-2,
.later-version .lpb-canvas.lpb-layout-desktop .col-2,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-2,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-2 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-3,
.later-version .lpb-canvas.lpb-layout-desktop .col-3,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-3,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-3 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-4,
.later-version .lpb-canvas.lpb-layout-desktop .col-4,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-4,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-4 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-5,
.later-version .lpb-canvas.lpb-layout-desktop .col-5,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-5,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-5 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-6,
.later-version .lpb-canvas.lpb-layout-desktop .col-6,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-6,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-6 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-7,
.later-version .lpb-canvas.lpb-layout-desktop .col-7,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-7,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-7 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-8,
.later-version .lpb-canvas.lpb-layout-desktop .col-8,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-8,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-8 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-9,
.later-version .lpb-canvas.lpb-layout-desktop .col-9,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-9,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-9 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-10,
.later-version .lpb-canvas.lpb-layout-desktop .col-10,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-10,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-10 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-11,
.later-version .lpb-canvas.lpb-layout-desktop .col-11,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-11,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-11 {
  width: inherit;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-xs-12,
.later-version .lpb-canvas.lpb-layout-desktop .col-12,
.later-version .lpb-canvas.lpb-layout-desktop .col-sm-12,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-12 {
  width: inherit;
}
.lpb-canvas.lpb-layout-desktop .col-1,
.lpb-canvas.lpb-layout-desktop .col-md-1,
.lpb-canvas.lpb-layout-desktop .col-lg-1 {
  max-width: 8.33333333%;
}
.lpb-canvas.lpb-layout-desktop .col-2,
.lpb-canvas.lpb-layout-desktop .col-md-2,
.lpb-canvas.lpb-layout-desktop .col-lg-2 {
  max-width: 16.66666667%;
}
.lpb-canvas.lpb-layout-desktop .col-3,
.lpb-canvas.lpb-layout-desktop .col-md-3,
.lpb-canvas.lpb-layout-desktop .col-lg-3 {
  max-width: 25%;
}
.lpb-canvas.lpb-layout-desktop .col-4,
.lpb-canvas.lpb-layout-desktop .col-md-4,
.lpb-canvas.lpb-layout-desktop .col-lg-4 {
  max-width: 33.33333333%;
}
.lpb-canvas.lpb-layout-desktop .col-5,
.lpb-canvas.lpb-layout-desktop .col-md-5,
.lpb-canvas.lpb-layout-desktop .col-lg-5 {
  max-width: 41.66666667%;
}
.lpb-canvas.lpb-layout-desktop .col-6,
.lpb-canvas.lpb-layout-desktop .col-md-6,
.lpb-canvas.lpb-layout-desktop .col-lg-6 {
  max-width: 50%;
}
.lpb-canvas.lpb-layout-desktop .col-7,
.lpb-canvas.lpb-layout-desktop .col-md-7,
.lpb-canvas.lpb-layout-desktop .col-lg-7 {
  max-width: 58.33333333%;
}
.lpb-canvas.lpb-layout-desktop .col-8,
.lpb-canvas.lpb-layout-desktop .col-md-8,
.lpb-canvas.lpb-layout-desktop .col-lg-8 {
  max-width: 66.66666667%;
}
.lpb-canvas.lpb-layout-desktop .col-9,
.lpb-canvas.lpb-layout-desktop .col-md-9,
.lpb-canvas.lpb-layout-desktop .col-lg-9 {
  max-width: 75%;
}
.lpb-canvas.lpb-layout-desktop .col-10,
.lpb-canvas.lpb-layout-desktop .col-md-10,
.lpb-canvas.lpb-layout-desktop .col-lg-10 {
  max-width: 83.33333333%;
}
.lpb-canvas.lpb-layout-desktop .col-11,
.lpb-canvas.lpb-layout-desktop .col-md-11,
.lpb-canvas.lpb-layout-desktop .col-lg-11 {
  max-width: 91.66666667%;
}
.lpb-canvas.lpb-layout-desktop .col-12,
.lpb-canvas.lpb-layout-desktop .col-md-12,
.lpb-canvas.lpb-layout-desktop .col-lg-12 {
  max-width: 100%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-1,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-1,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-1 {
  flex: 0 0 8.33333333%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-2,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-2,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-2 {
  flex: 0 0 16.66666667%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-3,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-3,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-3 {
  flex: 0 0 25%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-4,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-4,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-4 {
  flex: 0 0 33.33333333%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-5,
.lter-version .lpb-canvas.lpb-layout-desktop .col-md-5,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-5 {
  flex: 0 0 41.66666667%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-6,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-6,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-6 {
  flex: 0 0 50%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-7,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-7,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-7 {
  flex: 0 0 58.33333333%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-8,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-8,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-8 {
  flex: 0 0 66.66666667%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-9,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-9,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-9 {
  flex: 0 0 75%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-10,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-10,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-10 {
  flex: 0 0 83.33333333%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-11,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-11,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-11 {
  flex: 0 0 91.66666667%;
}
.later-version .lpb-canvas.lpb-layout-desktop .col-12,
.later-version .lpb-canvas.lpb-layout-desktop .col-md-12,
.later-version .lpb-canvas.lpb-layout-desktop .col-lg-12 {
  flex: 0 0 100%;
}
/* Font Awesome para el editor
 * (min. Version 4.0)
 */
.lpb-canvas.lpb-editing .lpb-tools-drawer > a {
  padding: 3px 5px;
}
.lpb-canvas .glyphicon,
.lpb-mainControls .glyphicon {
  top: 0;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.lpb-canvas .glyphicon-move:before {
  content: "\f047";
}
.lpb-canvas .glyphicon-minus:before {
  content: "\f147";
}
.lpb-canvas .glyphicon-plus:before {
  content: "\f196";
}
.lpb-canvas .glyphicon-cog:before {
  content: "\f013";
}
.lpb-canvas .glyphicon-trash:before {
  content: "\f014";
}
.lpb-canvas .glyphicon-clone:before {
  content: "\f24d";
}
.lpb-canvas .glyphicon-plus-sign:before,
.lpb-mainControls .glyphicon-plus-sign:before {
  content: "\f055";
}
.lpb-mainControls .glyphicon-eye-open:before {
  content: "\f06e";
}
.lpb-mainControls .glyphicon-chevron-left:before {
  content: "\f121";
}
.lpb-mainControls .glyphicon-chevron-right {
  display: none;
}
.lpb-editing .glyphicon-resize-on:before {
    content: "\f205" !important;
}
.lpb-editing .glyphicon-resize-off:before {
    content: "\f204" !important;
}
.ui-sortable-placeholder{
  background: #fefefe !important;
  border: 1px dashed #E1E1E1;
}

/**
* Color botones
*/
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a.lpb-color-add {
    color: green;
}
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a.lpb-color-remove {
    color: red;
}
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a.lpb-color-config {
    color: #001978;
}
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a.lpb-move,
.lpb-canvas.lpb-editing .row .lpb-tools-drawer > a.lpb-clone{
    color: #666 !important;
}
.lpb-decrease-col-width{
  color: #ec8d00 !important;
}
.lpb-increase-col-width{
  color: #3f51b5 !important;
}
.lpb-color-auto {
    color: #3f51b5 !important;
}

/*
* Dialog
*/
.lpb-dialog .ui-widget.ui-widget-content:not(#ui-datepicker-div) {
    border: 0px !important;   
}
.lpb-dialog .ui-dialog-title:not(#ui-datepicker-div){
    color: #001978 !important;
    background-color: #FFF !important;
}
.lpb-dialog .ui-dialog-titlebar:not(#ui-datepicker-div){
    background-color: white !important;
    border: 0;
}
.lpb-dialog .ui-dialog-buttonset .ui-button.ui-corner-all {  
    background-color: #001978;
    color: #FFF;
    border: 2px solid #001978;
    font-size: 14px;
    border-radius: 0px;
}
.lpb-dialog .ui-dialog-buttonset .ui-button.ui-corner-all:hover{
    background-color: white;
    color: #001978;
}
.lpb-dialog.ui-dialog *{
    font-family: Raleway, Arial, sans-serif !important;
}
.lpb-dialog .ui-state-active, 
.lpb-dialog .ui-widget-content .ui-state-active, 
.lpb-dialog .ui-widget-header .ui-state-active, 
.lpb-dialog a.ui-button:active, 
.lpb-dialog .ui-button:active, 
.lpb-dialog .ui-button.ui-state-active:hover {   
    background: #001978 !important;
    color:#FFF;
}
.lpb-dialog .ui-state-highlight, 
.lpb-dialog .ui-widget-content .ui-state-highlight, 
.lpb-dialog .ui-widget-header .ui-state-highlight {
    border: 1px solid #47b1c8 !important;
    background: #d5f4fb !important;
    color: #777620 !important;
}
.lpb-dialog.ui-dialog .ui-dialog-titlebar-close { 
    border: 0!important;
}
.lpb-dialog.ui-dialog .ui-dialog-titlebar {
    padding: .6em 1em;
}
.lpb-dialog.ui-dialog .ui-dialog-buttonpane{
    border:0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.lpb-dialog.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none;
    margin-bottom: 10px;
}
#lpb-dialog .ui-icon{
    display: none !important;
}
#lpb-dialog [class*=ui-icon-]{
    display: inline-block !important;
    float: left; 
    margin: 3px 12px 20px 0;
}
.lpb-dialog.ui-corner-all, 
.lpb-dialog.ui-corner-bottom, 
.lpb-dialog.ui-corner-right, 
.lpb-dialog.ui-corner-br {
    border-bottom-right-radius: 0px;
}
.lpb-dialog.ui-corner-all, 
.lpb-dialog.ui-corner-bottom, 
.lpb-dialog.ui-corner-left, 
.lpb-dialog.ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.lpb-dialog.ui-corner-all, 
.lpb-dialog.ui-corner-top, 
.lpb-dialog.ui-corner-right, 
.lpb-dialog.ui-corner-tr {
    border-top-right-radius: 0px;
}
.lpb-dialog.ui-corner-all, 
.lpb-dialog.ui-corner-top, 
.lpb-dialog.ui-corner-left, 
.lpb-dialog.ui-corner-tl {
    border-top-left-radius: 0px !important;
}
#lpb-dialog{
    display: none;
}
.lpb-dialog #lpb-dialog{
    display: block;
}

/* RESPONSIVE */
@media (min-width: 986px) and (max-width: 1246px){
    .lpb-mainControls .custom-right-buttons{
        float: left !important;
        margin-top: 10px;
    }
    .lpb-mainControls .custom-right-buttons > *:first-of-type{
        margin-left: 0px;
    }
}