.it-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

.page-num {
    position: absolute;
    top: 20px;
    right: 10px;
    font-size: 24px;
    color: #001978;
}

.item-index {
    border-bottom: 1px solid #d1d1d1;
    position: relative;
    padding: 20px 50px 5px 5px;
    display: block;
    list-style-type: none;
}

body {
    font-family: "MTTMilano", Arial, sans-serif;
    line-height: 1.2;
}

.title-index {
    font-style: normal;
    color: #001978;
    background-color: #001978;
    font-size: 25px;
    padding: 5px 20px;
    text-align: right;
}

.title-pag {
    color: #001978;
    text-transform: uppercase;
    font-size: 30px;
}

.line-title-pag {
    border: 0;
    border-bottom: 2px solid #001978;
    margin-top: 5px;
    margin-bottom: 1.5em;
}