<!-- Modal Asociar Autor -->
<div class="modal fade in led-modal-summary" id="addAuthorModal" role="dialog">
    <div class="modal-dialog modal-extralg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><?php echo _('Asociar Autor / Coordinador'); ?></h4>
            </div>
            <div class="modal-body">
                
                <div id="errorsModalAuthor" class="alert-danger" style="
                    padding: 10px;
                    z-index: 1030;
                    text-align: center;
                    font-size: 14px;
                    max-width: 1480px;
                    width: 100%;
                    border:1px solid;
                    margin: 0 6%;
                    display: none;"></div>
        
                <div class="trialFormAuthor">
                    <div class="row content_author">
                        <div class="col-sm-12 affiliateAuthors"></div>
                        <div class="col-sm-6">
                            <p class="h3">Autores / Coordinadores Seleccionados</p>
                            <ul id="finishListAuthorsTribunes" class="list-group connectedAuthorsSortable finishListAuthors"></ul>
                        </div>
                        <div class="col-sm-6">
                            
                            <p class="h3">Buscar Autor / Coordinador</p>
                            <div class="alert alert-danger hidden" role="alert" id="errorSearchAuthorTribune"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="fullName">Nombre y/o Apellidos</label>
                                            <input type="text" class="form-control" name="fullName" id="fullName" value="">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <ul id="authorTribuneList" class="list-group connectedAuthorsSortable"></ul>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn createAuthorButton" data-id="" data-chargeon="finishListAuthorsTribunes" data-classitem="listablesAuthors"><?php echo _('Crear Autor');?></button>
                <button type="button" class="btn blue-btn" id="addAuthorButton" data-id=""><?php echo _('Asociar Autores / Coordinadores');?></button>
            </div>
        </div>      
    </div>
</div>