<!-- Modal Editar Contenido -->
<div class="modal fade in led-modal-summary" id="addReviewModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><?php echo _('Editar Contenido'); ?></h4>
            </div>
            <div class="modal-body">
                
                <div id="errorsModal" class="alert-danger" style="
                    padding: 10px;
                    z-index: 1030;
                    text-align: center;
                    font-size: 14px;
                    max-width: 1480px;
                    width: 100%;
                    border:1px solid;
                    margin-bottom: 4%;
                    display: none;"></div>
        
                <div class="trialForm">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reviewTitle"><?php echo _('Título'); ?></label>
                                <input type="text" id="reviewTitle" name="reviewTitle" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="reviewEpigraph"><?php echo _('Epígrafe'); ?></label>
                                <input type="text" id="reviewEpigraph" name="reviewEpigraph" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="reviewKeywords"><?php echo _('Keywords'); ?></label>
                                <input type="text" id="reviewKeywords" name="reviewKeywords" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="reviewSignature"><?php echo _('Firma'); ?></label>
                                <input type="text" id="reviewSignature" name="reviewSignature" class="form-control">
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="reviewResume"><?php echo _('Entradilla'); ?></label>
                                <textarea class="form-control add-btn-event-item norender" rows="7" id="reviewResume" name="reviewResume" placeholder="Inserta aquí tu entradilla"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="reviewText"><?php echo _('Reseña o Cuerpo'); ?></label>
                                <textarea class="form-control add-btn-event-item norender" rows="14" id="reviewText" name="reviewText" placeholder="Inserta aquí tu reseña"></textarea>
                            </div>
                        </div>
                    </div>
                    
                    <div class="trial-message"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn" id="addReviewButton" data-id=""><?php echo _('Añadir');?></button>
            </div>
        </div>      
    </div>
</div>