<!-- Modal Crear Author -->
<div class="modal fade in led-modal-summary" id="createAuthorModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><?php echo _('Crear Nuevo Autor'); ?></h4>
            </div>
            <div class="modal-body">
                
                <div id="errorsCreateAuthorModal" class="alert-danger" style="
                    padding: 10px;
                    z-index: 1030;
                    text-align: center;
                    font-size: 14px;
                    max-width: 1480px;
                    width: 100%;
                    border:1px solid;
                    margin-bottom: 0 6%;
                    display: none;"></div>
        
                <div class="trialFormCreateAuthor">
                    <form id="formCreateAuthor" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="tratamiento"><?php echo _('Tratamiento *'); ?></label>
                                    <select class="form-control required" id="tratamiento" name="tratamiento">
                                        <option value="D.">D.</option>
                                        <option value="Dña.">Dña.</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="fullName"><?php echo _('Nombre y Apellido *'); ?></label>
                                    <input type="text" id="fullName" name="fullName" class="form-control required">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="job"><?php echo _('Cargo *'); ?></label>
                                    <input type="text" id="job" name="job" class="form-control required">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="urlImageFile">Archivo de la imagen</label>
                                    <input type="file" id="urlImageFile" name="urlImageFile" class="form-control" placeholder="Inserta la URL de la imagen asociada" accept=".jpg,.jpeg,.png"> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="img-wrap hidden">
                                            <img src="/images/authors/no-img.png" id="authorImageDisplay" width="100%">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" id="idNew" name="idNew" value="0">
                        <input type="hidden" id="fullNameNew" name="fullNameNew" value="">
                        <input type="hidden" id="chargeOn" name="chargeOn" value="">
                        <input type="hidden" id="classItem" name="classItem" value="">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn" id="saveAuthorButton" data-id=""><?php echo _('Crear');?></button>
            </div>
        </div>      
    </div>
</div>