<!-- Default dialog-->
<div id="led-dialog" class="led-dialog-title" title="">
    <p>
        <span class="led-dialog-icon"></span>
        <span class=led-dialog-content></span>
    </p>
</div>
<!-- /Default dialog -->