<!-- Modal Field-->
<div class="modal fade" id="fieldModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title pull-left" id="modalTitle">Campos</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="fields-form" method='post'>
                        <!-- Campo nombre -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Nombre');?></label>
                            <?php echo $fieldForm->render('field', ['class' => 'form-control', 'required' => 'required']); ?>
                        </div>
                        <!-- Campo tipo -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Tipo de campo');?></label>
                            <?php echo $fieldForm->render('idDataType', ['class' => 'form-control']); ?>
                        </div>
                        <!--Campo valor por defecto -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Valor por defecto');?></label>
                            <?php echo $fieldForm->render('defaultValue', ['class' => 'form-control']); ?>
                        </div>
                        <!--Campo nombre -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Tipo de campo del componente');?></label>
                            <?php echo $fieldForm->render('tag', ['class' => 'form-control']); ?>
                        </div>
                    </form><!-- /#origin-form -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn insertField" id="insertField"><?php echo _('Insertar campo');?></button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Field -->