<!-- Modal Filter Options-->
<div class="modal fade" id="filterOptionsModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">Opciones del filtro</h4>
            </div>
            <div class="modal-body">
                <div class="row mb20">
                    <div id="origin-filter-options" class="col-sm-12">
                        <ul id="filter-options-list" class="origin-list-form no-padding hidden"></ul>
                        <div id="no-filter-options" class="grey-light-bg pd5">
                            <?php echo _('No hay opciones.'); ?>
                        </div><!-- /#no-filter-options -->
                    </div><!-- /#origin-filter-options -->
                </div><!-- /.row -->
                <div class="row">
                    <form id="filter-options-form" method='post'>
                        <!-- Inice del filtro-->
                        <input type="hidden" id="indexFilterOptions" />
                        <!-- Campo nombre -->
                        <div class="col-sm-4 form-group">
                            <?php echo $filterOptionForm->render('name', ['class' => 'form-control', 'required' => 'required', 'placeholder' => 'Nombre']); ?>
                        </div>
                        <!-- Campo valor -->
                        <div class="col-sm-4 form-group">
                            <?php echo $filterOptionForm->render('value', ['class' => 'form-control', 'required' => 'required', 'placeholder' => 'Valor']); ?>
                        </div>
                        <!-- Campo Insertar -->
                        <div class="col-sm-4">
                            <a id="insertOption" class="btn blue-btn w-100" href="javascript:void(0);"><?php echo _('Insertar'); ?></a>
                        </div>
                    </form><!-- /#origin-form -->
                </div><!-- /.row -->
            </div>
        </div>
    </div>
</div>
<!-- /Modal Filter -->