<!-- Modal Filter-->
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">Filtros</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form id="filters-form" method='post'>
                        <!-- Campo titulo -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Título');?></label>
                            <?php echo $filterForm->render('title', ['class' => 'form-control', 'required' => 'required']); ?>
                        </div>
                        <!-- Campo descripcion -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Descripción');?></label>
                            <?php echo $filterForm->render('description', ['class' => 'form-control']); ?>
                        </div>
                        <!-- Campo tipo -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Tipo de campo');?></label>
                            <?php echo $filterForm->render('idDataType', ['class' => 'form-control']); ?>
                        </div>
                        <!--Campo nombre del parametro -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Nombre del parámetro');?></label>
                            <?php echo $filterForm->render('param', ['class' => 'form-control', 'required' => 'required']); ?>
                        </div>
                        <!--Campo valor -->
                        <div class="col-sm-12 form-group">
                            <label><?php echo _('Valor por defecto');?></label>
                            <?php echo $filterForm->render('value', ['class' => 'form-control']); ?>
                        </div>
                    </form><!-- /#origin-form -->
                </div><!-- /.row -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn insertFilter" id="insertFilter"><?php echo _('Insertar filtro');?></button>
            </div>
        </div>
    </div>
</div>
<!-- /Modal Filter -->