<!-- Modal Generar Punto de vista -->
<div class="modal fade in led-modal-summary" id="generatePointViewModal" role="dialog">
    <div class="modal-dialog modal-extralg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><?php echo _('Generar Punto de Vista'); ?></h4>
            </div>
            <div class="modal-body">
                
                <div id="errorsGeneratePointViewModal" class="alert-danger" style="
                    padding: 10px;
                    z-index: 1030;
                    text-align: center;
                    font-size: 14px;
                    max-width: 1480px;
                    width: 100%;
                    border:1px solid;
                    margin: 0 6%;
                    display: none;"></div>
        
                <div class="trialFormGeneratePointView">
                    <div class="row content_pointview">
                        <div class="col-sm-6">
                            <p class="h3">Punto de vista</p>
                            <div class="form-group">
                                <textarea class="form-control add-btn-event-item norender" rows="14" id="pointViewText" name="pointViewText" placeholder="Inserta aquí el punto de vista"></textarea>
                            </div>
                            <ul id="finishListAuthorPointView" class="list-group connectedAuthorPointViewSortable finishListAuthorPointView"></ul>
                            
                        </div>
                        <div class="col-sm-6">
                            
                            <p class="h3">Buscar Autor</p>
                            <div class="alert alert-danger hidden" role="alert" id="errorSearchAuthorPointView"></div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="fullNamePointView">Nombre y/o Apellidos</label>
                                            <input type="text" class="form-control" name="fullNamePointView" id="fullNamePointView" value="">
                                        </div>
                                    </fieldset>
                                </div>
                            </div>

                            <ul id="authorPointViewList" class="list-group connectedAuthorPointViewSortable"></ul>
                        </div>
                    </div>
                    <input type="hidden" name="action" id="action" value="new">
                    <input type="hidden" name="idpoint" id="idpoint" value="0">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn createAuthorButton" data-id="" data-chargeon="finishListAuthorPointView" data-classitem="listablesAuthorsPointView"><?php echo _('Crear Autor');?></button>
                <button type="button" class="btn blue-btn" id="generatePointViewButton" data-id=""><?php echo _('Guardar');?></button>
            </div>
        </div>      
    </div>
</div>