<!-- Modal Generar Foro -->
<div class="modal fade in led-modal-summary" id="generateForumModal" role="dialog">
    <div class="modal-dialog modal-extralg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title"><?php echo _('Generar Foro Abierto'); ?></h4>
            </div>
            <div class="modal-body">
                
                <div id="errorsGenerateForumModal" class="alert-danger" style="
                    padding: 10px;
                    z-index: 1030;
                    text-align: center;
                    font-size: 14px;
                    max-width: 1480px;
                    width: 100%;
                    border:1px solid;
                    margin-bottom: 4%;
                    display: none;"></div>
        
                <div class="trialFormGenerateForum">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="forumTitle"><?php echo _('Título *'); ?></label>
                                <input type="text" id="forumTitle" name="forumTitle" class="form-control required">
                            </div>
                            <div class="form-group">
                                <label for="forumKeywords"><?php echo _('Keywords *'); ?></label>
                                <input type="text" id="forumKeywords" name="forumKeywords" class="form-control required">
                            </div>
                            <div class="form-group">
                                <label for="approachText"><?php echo _('Planteamiento *'); ?></label>
                                <textarea class="form-control add-btn-event-item norender required" rows="14" id="approachText" name="approachText" placeholder="Inserta aquí el planteamiento"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="resultText"><?php echo _('Resultado *'); ?></label>
                                <textarea class="form-control add-btn-event-item norender required" rows="14" id="resultText" name="resultText" placeholder="Inserta aquí el resultado"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label><?php echo _('Puntos de vista'); ?></label>
                                <button type="button" class="btn" id="addViewPoint" style="float: right;">Añadir Nuevo</button>
                            </div>
                            <ul id="pointsViewsList" class="list-group"></ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="dialog-confirm-delete-pointview" style="display: none;" title="<?php echo _('¿Está seguro de eliminarlo?');?>">
                <p class="secure-confirmation text-justify">
                    <span class="ui-icon ui-icon-alert"></span>
                    <?php echo _('Se borrará el punto de vista permanentemente.<br/>¿Desea seguir?');?>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn blue-btn" id="generateForumButton" data-id=""><?php echo _('Guardar');?></button>
            </div>
        </div>      
    </div>
</div>