<!-- Modal Url-->
<div class="modal fade" id="mainModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-full" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">Modal title</h4>
				<p class="text-center" style="font-size: 12px;margin-bottom: 0px;color: #888888">
					Recomendamos el uso de navegadores Chrome y Firefox para una mejor experiencia de usuario.
					<?php echo ' <img src="/images/chrome16.png" alt="Google Chrome" title="Google Chrome" class="mL10"/>'; ?>
					<?php echo ' <img src="/images/firefox16.png" alt="Firefox" title="Firefox" class="mL10" />'; ?>
					</p>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>
<!-- /Modal Url -->