/* bg-imagen-info.css */


.bg-familia{
    background: url('../img/bg-familia-home.jpg') no-repeat;
}
.bg-inmobiliario{
    background: url('../img/bg-inmobiliario-home.jpg') no-repeat;
}
.bg-derecholocal{
    background: url('../img/bg-derecholocal-home.jpg') no-repeat;
}
.bg-circulacion{
    background: url('../img/bg-circulacion-home.jpg') no-repeat;
}
.bg-mercantil{
    background: url('../img/bg-mercantil-home.jpg') no-repeat;
}
.bg-urbanismo{
    background: url('../img/bg-urbanismo-home.jpg') no-repeat;
}
.bg-jurisprudencia{
    background: url('../img/bg-jurisprudencia-home.jpg') no-repeat;
    background-size:cover;
    min-height:356px;
    position: relative;
}
.bg-img{
    min-height:296px;
    background-size:cover;
    position: relative;
}
.cont-bg{
    background: #FFF;
    background-clip:content-box;
}
.link-common.position-absolute{
    right:15px;
    bottom:15px;
}
.cont-info-text .text-color{
    color:#007ea6;
}
.title{
    font-size: 20px;
    font-weight:700;
    line-height:24px;
}
.cont-info-text{
    background:#FFF;
    padding:15px!important;
    overflow: hidden;
}
.cont-btn{
    position: absolute;
    z-index: 10;
    bottom:15px;
    right:15px;
}
.cont-over-img .text-light{
    font-size: 14px;
    color:#FFF;
}
.cont-over-img .line{
    border:0;
    border-bottom:1px solid #FFF;
    margin: 40px 0 20px 0;
}
.cont-over-img .title-over-img{
    font-weight:700;
    color:#FFF;
    font-size: 21px;
}
.cont-over-img{
    position: absolute;
    z-index: 10;
    background:rgba(0,25,120,0.6);
    bottom:15px;
    width:190px;
    height:190px;
    left:2px;
    border:1px solid #ddd;
    padding:15px;
}


@media (max-width: 767px) {
    .bg-jurisprudencia{
        margin-top:20px;
    }
    .cont-info-text{
        margin:0;
    }
    .cont-over-img{
        top:15px;
    }
}
@media (min-width: 768px){

}
@media (min-width: 992px){

}
@media (min-width:768px) and ( max-width: 991px){

}
@media (min-width: 1200px){

}

