/*************************************************
********** Correciones para el builder ***********
*************************************************/
.ledComponent *{
    font-weight: 400;
    font-size: 16px;
    color: #333;
}
.ledComponent *:hover{
    text-decoration: none;
}
.ledComponent p{
    margin-bottom: 1rem;
}
.ledComponent h1, 
.ledComponent h2, 
.ledComponent h3, 
.ledComponent h4, 
.ledComponent h5, 
.ledComponent h6 {
    margin-bottom: .5rem;
    font-weight: 500 !important;
    line-height: 1.2;
}
.ledComponent .title-common-mod, 
.ledComponent .title-common-mod *{
    color: #333;
    font-size: 26px;
    font-weight: 700;
}
.ledComponent .text-bold-bottom-left {
    left: 5px;
}