/* carousel */
.carousel{
    margin-bottom: 25px;
}
.carousel-indicators{
    bottom:45px;
    justify-content: left;
}

.carousel-inner{
    padding-bottom: 46px;
}
.carousel-inner .cont-img{
    border-radius: 50%;
    position: absolute;
    bottom: -45px;
    right: 5px;
    width: 90px;
    height: 90px;
}
.carousel-inner .carousel-item{
    background: #FFF;
    padding:15px 15px 130px 15px;
    border-bottom:1px solid #d1d1d1;
}
.carousel-inner .autor{
    bottom: 60px;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 15px;
    width: 65%;
}
.carousel-indicators li{
    border-radius:50%;
    border:1px solid #007ea6;
    width:12px;
    height:12px;
}
.carousel-indicators li.active{
    background: #007ea6;
}

