/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-jul-2019, 15:25:24
    Author     : ext-ajjimenez
*/

/* CLASES COMUNES*/
.ledComponent *{
    font-family: "MTTMilano", Arial, sans-serif; 
    line-height:1.2;
}
.title-section {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #167390;
    margin-bottom: 20px;
    padding-bottom: 5px;
}
.mod-comun {
    border-bottom: 1px solid #d1d1d1;
    background: #FFF;
}
.float-left {
    float: left!important;
}

