
.mod-featured {
    background:rgba(0, 126, 166, 0.10);
    border-bottom:1px solid #007ea6;
}
.mod-featured a{
    text-decoration: none;
}
.text-destacado{
    color:#007ea6;
    font-size:18px;
    margin-bottom: 0;
}




