/* ESTILOS PORTADA */

.text-bold-bottom-left{
    color:#333;
    font-size:16px;
    font-weight:bold;
    position: absolute;
    bottom:15px;
    left:15px;
    width: 65%;
}
.text-bold-bottom-left a{
    color:#333;
    text-decoration: none;
}
.text-bold-bottom-color-right{
    color:#007ea6;
    font-size:15px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    bottom:15px;
    right: 15px;
}

.mod-comun{
    border-bottom:1px solid #d1d1d1;
    background: #FFF;
}
.mod-comun a{
    text-decoration: none;
}
.mod-comun p{
    color:#333;
}



