
.los-mas .item{
    list-style: none;
    color:#333;
    font-size: 16px;
    border-bottom: 1px solid #d1d1d1;
    padding:10px 0;
}
.los-mas .number{
    color:#007ea6;
    font-size: 30px;
    font-weight:bold
}
.los-mas .resumen{
    padding-left: 40px;
}
.los-mas .item:last-child{
    border-bottom: 0;
}