<div id="contentBuilder">
	<div class="col-md-8 overflow-y grey-bg" id="containerEditComponents">
		<div id="nl-edit" class="dropper-container">
            <div id="myLedPageBuilder">          
                <?php if(!$issue || !$issue->html) : ?>
                    <div class="row auto-on" id="lpb-row-<?php echo $tools->getRandomInt(); ?>">
                        <div id="lpb-column-<?php echo $tools->getRandomInt(); ?>" class="col column" data-col-sizes="col-lg-12 col-sm-12 col-xs-12">
                            <div class="ledColumnContent ledZoneType-content noContent" data-zone-id="content"></div>
                        </div>
                    </div>
                <?php else : ?>
                    <?php echo $issue->html; ?>
                <?php endif; ?>
            </div> <!-- /#myLedPageBuilder -->
		</div> <!-- /.nl-edit -->
        <div id="nl-edit-sidebar" class="dropper-container hidden">
            <div id="sidebar">          
                <?php if(!$issue || !$issue->sidebar) : ?>
                    <div class="row" id="lpb-row-<?php echo $tools->getRandomInt(); ?>">
                        <div id="lpb-column-<?php echo $tools->getRandomInt(); ?>" class="col-lg-12 col-sm-12 col-xs-12 column">
                            <div class="ledColumnContent ledZoneType-sidebar noContent" data-zone-id="sidebar"></div>
                        </div>
                    </div>
                <?php else : ?>
                    <?php echo $issue->sidebar; ?>
                <?php endif; ?>
            </div> <!-- /#myLedPageBuilder -->
		</div> <!-- /.nl-edit -->
	</div> <!-- /#containerEditComponents -->
	<div class="col-md-4 overflow-y">
		<div id="ledSidebar">
            <div id="containerComponents">
                <div class="col-sm-12"><h5><b><?php echo _('Componentes:'); ?></b></h5></div>
                <ul class="widget-list">
                    <?php $this->partial('common/partials/components') ;?>
                </ul>    
            </div><!-- /#containerComponents -->
            <div id="componentSettings" class="hidden">
                <div id="closeComponentSettings" class="col-sm-12 text-center">
                    <a href="#" class="blue-btn closeFormSettings">&lArr; <?php echo _('Cerrar') ?></a>
                </div><!-- /#closeComponentSetting -->
                <hr/>
                <div>
                    <ul id="ledSettingsMenu" class="horizontal-list col-xs-12 mT50 flexUl">
                        <li>
                            <button class="btn tab ledSettingsTab" data-target="#ledContentIssue" data-ul-id="ledSettingsMenu">
                                <?php echo _('Contenido<br/>del Nº'); ?>
                            </button>
                        </li>
                        <li>
                            <button class="btn tab ledSettingsTab active" data-target="#formComponentSettings" data-ul-id="ledSettingsMenu">
                                <?php echo _('Edición manual'); ?>								
                            </button>
                        </li>
                        <li>
                            <button class="btn tab ledSettingsTab" data-target="#ledImportContent" data-ul-id="ledSettingsMenu">
                                <?php echo _('Importar contenido'); ?>						
                            </button>
                        </li>
                    </ul>
                </div>
                <div id="ledContentIssue" class="col-sm-12 ledSettingsTabContent hidden">   
                    <?php $this->partial('common/partials/contentsIssuesList') ;?>
                </div><!-- /#ledContentIssue -->
                <div id="formComponentSettings" class="col-sm-12 ledSettingsTabContent">   
                </div><!-- /#formComponentSetting -->
                <div id="ledImportContent" class="col-sm-12 ledSettingsTabContent hidden">   
                    Prueba origin
                </div><!-- /#ledImportContent -->
            </div><!-- /#componentSetting -->
            <div class="clearfix"></div>
		</div><!-- /#ledSidebar -->
	</div> 
</div> <!-- /#contentBuilder -->
<?php $this->partial('common/modals/media'); ?>