<?php use Phalcon\Tag;?>
<?php echo $this->getContent(); ?>
<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['magazine', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['issue/new/'.$page->items[0]->magazine->id.'/', 'Crear Borrador']); ?>
    </li>
</ul>
<?php
if ( count($issues) > 0 ){
    ?><h2><?php echo $magazineName;?></h2>
    
    <?php
    foreach ( $issues as $key => $issue ){
        
        if ( $key == 0 ){
            ?>
                <table class="table table-bordered table-striped" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Publicación</th>
                        <th>URL</th>
                    </tr>
                </thead>
                <tbody>
                <?php
        }
        
        ?>
            <tr class="<?php echo $issue->class;?>">
                <td><?php echo $issue->itemORM->id;?></td>
                <td><?php echo $issue->itemORM->name;?></td>
                <td><?php echo $issue->itemORM->publishDate;?></td>
                <td><a href="<?php echo $issue->finalURL;?>" target="_blank"><?php echo $issue->prettyURL;?></a></td>
                <td width="12%">
                    <!-- Botón de editar-->
                    <?php 
                        /**
                         * Solo podemos editar un número si:
                         * - Tenemos Rol de Admin, Editor y Publicador
                         * - El número está en Borrador (no tiene fecha de publicación)
                         * - El número es el último publicado (número activo en el momento)
                         */
                         
                         echo $this->view->getPartial('menus/issueContextualMenu',[
                                        'issue'         => $issue,
                                        'idMagazine'    => $idMagazine,
                                        'routes'        => $routes
                                    ]);
                    ?>
                </td>
            </tr>
            <?php
        
        if( count( $page->items ) - 1 == $key) {
            ?>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="5" align="center">
                            <div class="btn-group">
                                <?php echo ($page->first != $page->current && $page->before != $page->current)? \Phalcon\Tag::linkTo(['issue/index/'. $issue->itemORM->magazine->id .'/?page='.$page->first, '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->before != $page->current)? \Phalcon\Tag::linkTo(['issue/index/'. $issue->itemORM->magazine->id .'/?page='.$page->before, '<i class="icon-step-backward"></i> Anterior', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->next != $page->current)? \Phalcon\Tag::linkTo(['issue/index/'. $issue->itemORM->magazine->id .'/?page='.$page->next, '<i class="icon-step-forward"></i> Siguiente', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->last != $page->current && $page->last != $page->next) ? \Phalcon\Tag::linkTo(['issue/index/'. $issue->itemORM->magazine->id .'/?page='.$page->last, '<i class="icon-step-forward"></i> Última', 'class' => 'btn']) : ''; ?>
                            </div>
                            <div><span class="help-inline"><b><?php echo $page->current . " de ". $page->total_pages;?></b></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
                <?php
        }
    }
}else{
    echo 'No hay números registrados';
}
?>
<!-- DIV DE CONFIRMACIÓN PARA MACHACAR PDF YA CREADO CON ANTERIORIDAD -->
<div id="dialog-confirm-change-pdf" style="display: none;" title="<?php echo _('Generando pdf...');?>">
    <p class="secure-confirmation text-justify">
		<span class="ui-icon ui-icon-alert"></span>
		<?php echo _('Este pdf ya está creado con anterioridad y se va a sustituir por el nuevo.<br/>¿Desea seguir?');?>
	</p>
</div>

<!-- DIV DE CONFIRMACIÓN PARA ELIMINAR UN NUMERO -->
<div id="dialog-confirm-delete-issue" style="display: none;" title="<?php echo _('¿Está seguro de eliminar este número?');?>">
    <p class="secure-confirmation text-justify">
		<span class="ui-icon ui-icon-alert"></span>
		<?php echo _('Se borrarán todos los datos permanentemente.<br/>¿Desea seguir?');?>
	</p>
</div>

<!-- DIV DE CONFIRMACIÓN PARA CLONAR UN NUMERO -->
<div id="dialog-confirm-clone-issue" style="display: none;" title="<?php echo _('¿Está seguro de clonar este número?');?>">
    <p class="secure-confirmation text-justify">
		<span class="ui-icon ui-icon-alert"></span>
		<?php echo _('Se duplicará el contenido y todas las asociaciones de este número.<br/>¿Desea continuar?');?>
	</p>
</div>