<?php

 use Phalcon\Tag; ?>
<?php echo $this->getContent();?>

<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['issue/index/'.$magazine->id.'/', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['', 'Guardar', 'id' => 'saveContent']); ?>
    </li>
    <!--<li class="next">
        <?php echo Phalcon\Tag::submitButton(array('Guardar', 'class' => 'btn btn-primary'));?>
    </li>-->
</ul>

<h2><?php echo $magazine->name;?></h2>

<div class="form-group">
    <label for="issueNumber" class="h3">Nombre del Número</label>
    <input type="text" name="issueNumber" id="issueNumber" value="" class="form-control">
</div>

<ul class="nav nav-tabs" id="contentForm">
    <li class="active"><a href="#one">Tribuna</a></li>
    <li><a href="#two">Foro Abierto</a></li>
    <li><a href="#three">Respuesta de los Tribunales</a></li>
    <li><a href="#four">Reseña de Jurisprudencia</a></li>
    <li><a href="#five">Novedades Legislativas</a></li>
    <li><a href="#six">Consultas</a></li>
    <li><a href="#seven">Doctrina Adm.</a></li>
    <li><a href="#eigth">Órganos Consultivos</a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="one"><?= $this->view->getPartial('issue/contentLayers/tribuna'); ?></div>
    <div class="tab-pane" id="two"><?= $this->view->getPartial('issue/contentLayers/forum'); ?></div>
    <div class="tab-pane" id="three"><?= $this->view->getPartial('issue/contentLayers/respuestaTribunales');?></div>
    <div class="tab-pane" id="four"><?= $this->view->getPartial('issue/contentLayers/resenaJurisprudencia'); ?></div>
    <div class="tab-pane" id="five"><?= $this->view->getPartial('issue/contentLayers/legislativas'); ?></div>
    <div class="tab-pane" id="six"><?= $this->view->getPartial('issue/contentLayers/consulta'); ?></div>
    <div class="tab-pane" id="seven"><?= $this->view->getPartial('issue/contentLayers/docAdministrativa'); ?></div>
    <div class="tab-pane" id="eigth"><?= $this->view->getPartial('issue/contentLayers/orgConsultivos'); ?></div>
</div>

<?= $this->view->getPartial('common/modals/addReview');?>
<?= $this->view->getPartial('common/modals/addAuthorTribune');?>
<?= $this->view->getPartial('common/modals/generateForum');?>
<?= $this->view->getPartial('common/modals/generatePointView');?>
<?= $this->view->getPartial('common/modals/createAuthor');?>
<input type="hidden" name="idMagazine" id="idMagazine" value="<?php echo $magazine->id;?>">