body{
	padding-top: 52px;
	max-width: 1480px;
	margin:0 auto;
}

/*input[type="radio"]+label:before {
    background: none;
}*/

input[type="radio"]:checked+label:after {
    top: 5px;
    left: 5px;
}

input:focus, textarea:focus, button:focus{
    outline: none;
}

th{
    font-size: 14px;
    color: #414141;
}

label, .label-reverse {
    font-weight: normal;
    text-transform: inherit;
    font-size: .875em;
    font-weight: 700;
    color: #333;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

.grey-bg{
    background: #F4F4F4;
    padding: 70px 8.33333333%;
}

.results-table.dark-bg td:first-child, .results-table.dark-bg th:first-child {
    width: 50%;
}

.results-table.dark-bg td, .results-table.dark-bg th {
    width: 50%;
}

.norender {
    resize: none;
}

.title-xs{font-size:14px;}

.title-m{font-size:24px;}

.title-l{font-size:32px;}

.uppercase-title{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
}

.lowercase-title{
    font-weight: 700;
    font-size: 13px;
}

.template-selector .uppercase-title{
    margin-top: 50px;
    margin-bottom: 0;
}

.overflow-y{
	padding: 0;
	overflow-y: scroll;
    display: block;
    height: calc(100vh - 108px);
}

.uppercase-grey{
	text-transform: uppercase;
	color: #414141;
	font-size: 13px;
	font-weight: 500;
}

.lowercase-grey{
    color: #414141;
    font-size: 14px;
    font-weight: 500;
}
.bg-auxiliares{
    background:#e2dadd;
}
.bg-suscriptores{
    background: #dae5e7;

}
li.blue-bg{
    background: #001978;
    color: #FFF;
}
.blue-bg{
	background: #001978;
	color: #FFF;
}

.blue-bg a {
	color: #FFF;
}

.btn.blue-bg {
	font-size: 13px;
	font-weight: 500;
    clear: both;
    display: block;
}

.btn.blue-bg.pull-right {
    clear: both;
}

.blue-text-button {
    background: none;
    border: none;
    padding: 0;
    color: #001978;
    font-weight: 700;
    font-size: .9em;
    padding: 0 8px;
    position: relative;
    text-align: left;
    line-height: 40px;
}

.blue-text-button i {
    font-size: 40px;
    margin-right: 5px;
    vertical-align: middle;
    line-height: 0;
}
.leyenda{
    font-size:0.75em;
    clear:both;
    color:#333;
}
.form-group {
    display: block;
    overflow:hidden;
}


.form-group .small-text{
    font-size: 13px;
    float: right;
}
.filter-col .content-block{
    position: fixed; 
    background: #FFF; 
    max-width: 200px;
}

.filter-col p{
    margin-bottom: 30px;
}

.filter-col label{
    display: block;
}
.filter-col label.add-on{
    display: inline-block;
}
.filter-col label.add-on i{
    font-size: 28px;
    color:#5EC6DD;
    cursor: pointer;
}

.filter-col .form-group input{
    border: 0;
    border-bottom: 1px solid #333;
    width: calc(100% - 35px);
    position: relative;
    overflow: visible;
    font-weight: 600;
    background: none;
}

.date-group.form-group input{
    border: 0;
    border-bottom: 1px solid #333;
    width: calc(75% - 25px);
    position: relative;
    overflow: visible;
    font-weight: 600;
}

.filter-col .form-group input:before, .date-group.form-group input:before {
    font-family: "gestor-newsletters" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\65";
    position: absolute;
    right: -28px;
    font-size: 32px;
    color: #5fc7de;
}

.filter-list{
    position: fixed;
    z-index: 3;
    padding:15px;
    font-size: 1.1em;
    width: 70%;
    max-width: 1015px;
    background: #F4F4F4;
    top:100px
}
.filter-list.filter-schedules button{
    padding-left: 0;
}
.filter-list.filter-schedules li:nth-child(2) button{
    color:#8e8e8e;
}
.filter-list.filter-schedules li:nth-child(4) button{
    color:#00C7DF;
}
.filter-list.filter-schedules li:nth-child(5) button{
    padding-left:28px;
}

.filter-list li{
	display: inline-block;
	margin-right: 20px;
}

.filter-list button{
	padding: 5px 0 5px 28px;
    border:none;
	background: none;
	opacity: 1;
	transition: opacity .5s;
	color: #001978;
    font-weight: 600;
    position: relative;
}

.filter-list button:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 3px;
    left: -6px;
    font-size: 32px;
}

.filter-list .form-group{
    margin-bottom: 0;
}

.reset-filter{
	background:none;
	border:none;
	padding: 0;
	color: #001978;
	font-weight: 700;
	font-size: .9em;
    padding-bottom: 2px;
    position: relative;
    padding-left: 20px;
    width: auto!important; 
    margin-top: 7px!important;
}

.reset-filter:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\6b";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 32px;
    color: #001978;
}

.filter-col .reset-filter{
    margin-bottom: 20px;
}

.back-button{
    background:none;
    border:none;
    padding: 0;
    color: #001978;
    font-weight: 700;
    font-size: .9em;
    padding-bottom: 2px;
    position: relative;
    margin:50px 0;
    padding-left: 30px;
    text-align: left;
}

.back-button:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\63";
    position: absolute;
    top: -2px;
    left: -10px;
    font-size: 32px;
    color: #001978;
}

.cancel-button, .accept-button, .add-button{
    background:none;
    border:none;
    padding: 0;
    color: #00C7DF;
    font-weight: 700;
    font-size: .9em;
    padding: 8px;
    position: relative;
    padding-right: 30px;
    text-align: left;
}
.add-button{
    color: #001978;
    border:0;
    border-bottom:2px solid #001978;
    background:none;
    padding: 0;
    font-weight: 700;
    font-size: .9em;
    padding: 8px;
    position: relative;
    padding-left: 30px;
    text-align: left;
}

.cancel-button:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\66";
    position: absolute;
    top: 4px;
    right: -10px;
    font-size: 32px;
    color: #00C7DF;
}

.accept-button:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\76";
    position: absolute;
    top: 4px;
    right: -10px;
    font-size: 32px;
    color: #00C7DF;
}
.add-button:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\61";
    position: absolute;
    top: 4px;
    left: 0;
    font-size: 26px;
    color: #001978;
}
td .add-button{
    padding-top:0;
    padding-bottom: 0;
    padding-right:5px;
}
td .add-button:before{
    top:12px;
}

.content-tree li{
    list-style-type: none;
    position: relative;
    margin-bottom: 10px;
    font-size: 1.1rem;
    line-height: 1;
}

.content-tree ul {
    margin-top: 10px;
    margin-bottom: 20px;
}

.content-tree li a:before, .content-tree > li:before {
    content: "\43";
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #00C7DF;
    position: absolute;
    top: 0;
    left: -25px;
    font-size: 1em;
}
.content-tree > li.active:before {
    content: "\42"!important;
}
.content-tree > li > a:before{
     content: "\46";
     font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #00C7DF;
    position: absolute;
    top: 0;
    left: -45px;
    font-size: 1.2em;
}
.content-tree > li > a.collapsed:before{
     content: "\45";
     font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #00C7DF;
    position: absolute;
    top: 0;
    left: -45px;
    font-size: 1.2em;
}

.blue-btn, .red-btn{
	margin-right: 0;
	display: inline-block;
    padding:10px 20px;
    margin-bottom: 20px;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid #001978;
    background: #001978;
    color: #FFF;
    position: relative;
    clear: both;
    transition: all .2s;
}

.blue-btn:hover{
    border: 2px solid #001978;
    background: #FFF;
    color: #001978;
}

.red-btn:hover{
    background: #FFF;
    color: #FF4B39;
}

.red-btn{
    background: #FF4B39;
    border-color: #FF4B39;
}

.blue-btn i, .red-btn i{
    font-size: 32px;
    line-height: 0;
    vertical-align: inherit;
    height: 30px;
    overflow: hidden;
    display: inline-block;
}

.social-btn-area .blue-btn{
    height: 50px;
    width: 50px;
    text-align: center;
    padding: 0;
}

.social-btn-area .blue-btn i{
    font-size: 24px;
    height: 23px;
}

.scrolled .filter-list{
	opacity: .9;
}

.tab{
    border: none;
    color: #333;
    font-size: 13px;
}

.tab.active{
    border-bottom: 3px solid #333;
    box-shadow:none;
}

.filter-list button.active, .filter-list button:hover {
    border-bottom-style: solid !important;
    transition: all .2s;
}

#filter-sent{
    color:#27AE60;
    border-bottom: 3px hidden #27AE60;
}
#filter-sent:before{
    content: "\6f";
    color:#27AE60;
}
.status .sent i:before{
    content: "\6f";
    color:#FFF;
}
#filter-scheduled{
    color:#70acdb ;
    border-bottom: 3px hidden #70acdb;
}
#filter-scheduled:before{
    content: "\70";
    font-size: 32px;
}
.status .scheduled i:before{
    content: "\70";
    font-size: 32px;
    color:#FFF;
}
#filter-draft{
    color:#E67E22;
    border-bottom: 3px hidden #E67E22;
}
#filter-draft:before{
    content: "\41";
}
.status i:before{
    content: "\41";
    color:#FFF;
}
.filter-list .reset-filter:before {
    top: 3px;
}
.bg-sent{
	position: absolute; background: #27AE60; width: 87.7%; height: 70px;
}
.bg-scheduled + .bg-sent {
	width: 44.2%; right:15px
}
.bg-scheduled{
	position: absolute; background: #70acdb ; width: 87.7%; height: 70px; 
}
.bg-draft{
	position: absolute; background: #E67E22; width: 87.7%; height: 70px;
}
.magazine-item-actions-list{
    background: #FFF;
    position: absolute;
    z-index: 2;
    width: 50%;
    right: 25px;
    top: 42px;
}
.magazine-item-actions-list:before{
    content: "";
    position: absolute;
    bottom: 100%; 
    right: 5%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #FFF transparent;
 }

.magazine-item-actions-list ul{
	margin:0;
	padding:10px;
}
.magazine-item-actions-list li{
	font-size: 12px;
	font-weight: normal;
	line-height: 21px;
}
.magazine-item-actions-show{    
	height: 25px;
    cursor: pointer;
    background: #fff;
    position: absolute;
    z-index: 2;
    right: 25px;
    border: 1px solid #001978;
    top: 10px;
    text-align: center;
}
.magazine-item-actions-show .icon-android-apps:before {
    content: "\4c";
    font-size: 23px;
    color:#001978;
}
.nl-controls-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #001978;
    opacity: .3;
    display: block;
}

.nl-controls{
    position: absolute;
    width: 100%;
    transform: translateY(50%);
    z-index: 2;
}

#list_sent > div .nl-controls-overlay, #list_sent > div .nl-controls{
    display: none;
} 

#list_sent .nl-container:hover .nl-controls-overlay, #list_sent .nl-container:hover .nl-controls{
    display: block;
} 

.status{
    position: relative;   
    text-align: center;
    padding:3px 0;
}

.status-date{
   display:block;
   color: #FFF;
}

.status i:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
}
a.cont-status{
    padding-bottom: 1px;
     border-bottom: 2px solid transparent;
     display: block;
}
a.cont-status:hover{
    text-decoration: none;
    border-bottom: 2px solid #001978;
}

.status.draft{
	background: #70acdb;
	color: #FFF;
}

.status .scheduled{
	color: #E67E22;
}

.status .sent{	
	color: #001978;
}

.status .draft:after{
    background:#70acdb;
    color: #FFF;
}

.status .scheduled:after{
    background: #E67E22;
    color: #FFF;
}

.status .sent:after{
    background: #27AE60;
    color: #FFF;
}
.layer-opacity{
	width: 100%;   
	background-color: rgba(0, 25, 120, 0.1);    
	height: 100%;    
	padding: 0;    
	position: absolute;    
	z-index: 1;
}

.bg-issueName{
    position: absolute;
    background: #a5a5a5;
    width: 92%;
    height: 30px;
}

.nl-list{
	padding-top: 75px;
	padding-bottom: 50px;
    position: relative;
}

.nl-list .owl-nav{
    position: absolute;
    width: 100%;
    top: 45%;
    transform: perspective(1px) translateY(-50%);
}

.nl-list .owl-nav .owl-prev{
    position: absolute;
    left: -80px;
}

.nl-list .owl-nav .owl-next{
    position: absolute;
    right: -80px;
}

.nl-list.owl-theme .owl-nav [class*=owl-] {
    color: #001978;
    font-size: 2em;
    padding: 15px;
    line-height: 0;
    background: none;
}

.nl-list.owl-theme .owl-nav .disabled {
    opacity: 1;
    color: #D1D1D1;
}

.nl-list > div:nth-of-type(4n+1){
	clear: both;
}

.nl-container{
    display: block;
    font-size: .9em;
    border: 1px solid #f1f1f1;
    box-shadow: 0 0 15px #F1F1F1;
    position: relative;
}
a.nl-container + a{	
    margin-bottom: 30px;
	display: block;
}

.nl-container p{
    padding: 15px;
    margin-bottom: 0;
    font-weight: 400;
    color: #333;   
    max-height: 72px;
    overflow: hidden;
    position: relative;
    background: #FFF;
    transition: all .5s;
	white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;	
}

.sent-items .nl-container p {
    padding: 15px;
    margin-bottom: 0;
    font-weight: 600;
    color: #333;
    height: 52px;
    max-height: 72px;
    overflow: hidden;
    position: relative;
    background: #FFF;
    transition: all .5s;
    text-align: center;
}

/*.nl-container p:after{
    content: url(../images/white-gradient.png?01);
    display: block;
    position: absolute;
    bottom:-5px;
    left: 0;
}*/

.nl-items .nl-container p:after {
    content: '...';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 2px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.nl-container:hover{
    border: 1px solid rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px rgba(0, 25, 120, .4);
}

.nl-items .nl-container:hover p, .nl-horizontal .nl-container p{
    height: auto;
    min-height: 72px;
    max-height: 9999px;
    overflow: visible;
}

.nl-container:hover p:after{
    display: none;
}

.nl-list.nl-horizontal{
    padding-top: 50px;
}

.nl-list.media-items img {
    margin-bottom: 20px;
}
.nl-list.media-items img.active, 
.nl-list.media-items a:hover{
    border:1px solid rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
}
.mT10{margin-top: 10px}
.mT30{margin-top: 30px}
.mT40{margin-top: 40px}
.mT50{margin-top: 50px}
.mT100{margin-top: 100px}


.mL15{
    margin-left: 15px;
}
.mL20{
    margin-left:20px;
}

.last-number{
    background-color: #a1aedd !important;
}

.draft-number{
    background-color: #cad4f7 !important;
}


.media-mgmt .filter-list {
    position: static;
    overflow: hidden;
    z-index: auto;
    margin-left: -15px;
    padding: 20px 10px 20px 10px;
    font-size: 1em;
    width: auto;
    max-width: none;
    background: #F4F4F4;
}
.media-mgmt .filter-list ul {
    margin-bottom: 0;
    padding-left: 0;
}
.media-mgmt .filter-list li {
    margin-right: 0;
}
.media-mgmt .filter-list li:first-child i {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 32px;
    color: #5FC7DE;
}
/*
.media-mgmt .filter-list button {
    padding: 5px 12px 5px 12px;
    background: #001978;
    color: #FFF;
    font-weight: 600;
    font-size: .8em;
    position: absolute;
    top: 0;
    right: 15px;
    height: 100%;
}
.media-mgmt .filter-list button:hover {
    padding-top: 8px;
    border: #001978;
    background: #FFF;
    color: #001978;
}*/
.media-mgmt .nl-list.grey-bg {
    padding: 10px 0 0;
}

/*.media-details .form-group > *:first-child {
    float: none;
    width: auto;
}
.media-details .form-group > *:nth-child(2) {
    width: 75%;
	line-height: 45px;
}*/
.media-details textarea {
    height: 7em;
}


.media-mgmt ::-webkit-input-placeholder {
    color: #CCC !important;
}
.media-mgmt :-moz-placeholder {
    color: #CCC !important;
    opacity: 1;
}
.media-mgmt ::-moz-placeholder {
    color: #CCC !important;
    opacity: 1;
}
.media-mgmt :-ms-input-placeholder {
    color: #CCC !important;
}
.media-mgmt ::-ms-input-placeholder {
    color: #CCC !important;
}

.grey-bg .cont-btn{
    margin: 0 0 20px 0;
}
.grey-bg .cont-btn button{
    margin-bottom:0;
}

.status-icon {
    display:block;   
}

.content_issue, .content_author{
    padding: 40px;
}

.content_issue .ui-sortable-handle img, .content_author .ui-sortable-handle img, .content_pointview .ui-sortable-handle img{
    width: 20px;
    margin-bottom: 10px;
}

.content_issue .list-group, .content_author .list-group{
    border: 1px solid #eee;
    width: 100%;
    min-height: 50px;
    background: #f1f1f1;
}

.finishList, .finishListAuthors {
    min-height: 400px !important;
}

.finishListAuthorPointView{
    min-height: 50px !important;
    background-color: #e1e1e1;
}

#authorPointViewList{
    border: 1px solid #eee;
    width: 100%;
    min-height: 50px;
    background: #e1e1e1;
}

.configTribune{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configTribune p{
    display: inline;
    margin-right: 10px;
}

.configForum{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configForum p{
    display: inline;
    margin-right: 10px;
}

.configRJU{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configRJU p{
    display: inline;
    margin-right: 10px;
}

.configConsulta{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configConsulta p{
    display: inline;
    margin-right: 10px;
}

.configLegislativas{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configLegislativas p{
    display: inline;
    margin-right: 10px;
}

.configRespuestaT{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configRespuestaT p{
    display: inline;
    margin-right: 10px;
}
.configDocAdministrativa{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configDocAdministrativa p{
    display: inline;
    margin-right: 10px;
}

.configOrgConsultivos{
    text-align: right;
    font-size: x-small;
    color: red;
    font-weight: bold;
}

.configOrgConsultivos p{
    display: inline;
    margin-right: 10px;
}

#list_magazines .status .status-icon{
    display: inline-block;
}
.collapse-notification a{
    width: 100%;
    display:block;
    position: relative
}
.collapse-notification a:after{
    content: "\45";
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #001978;
    font-size: 1.2em;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    rotation: 180deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
.collapse-notification a.collapsed:after{
   -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    rotation: 0deg;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0);
}
.collapse-notification a .pull-right{
    margin-right:40px;
}
.collapse-notification a:focus{
   outline: 0;
}
.vertical-list {
	padding: 0;
}

.vertical-list > li , .vertical-list > div {
    padding: 0 10px 0;
    list-style: none;
    border-bottom: 1px solid #333;
    position: relative;
    display: inline-block;
    width: 100%;
    line-height: 50px;
}
.vertical-list > li:hover{
    background-color: #eaeaea;
}
.vertical-list > li.no-border{
    border:0!important; 
    margin-top:20px; 
}
.vertical-list > li.no-border:hover{
    background: none;
}

.vertical-list > button {
    display:block;
    clear: both;
}

.vertical-list li i, .vertical-list .results-table span.icon-bin{
    padding: 10px;
    font-size: 1.6em;
    color: #333;
}
.vertical-list .results-table span.icon-bin{
    padding: 10px;
    font-size: 1.6em;
    color: #00C7DF;
}
.vertical-list li label{
     color:#001978;
    font-weight:700;
    line-height: 25px;
}

.vertical-list .desactiveCheck{
    color:grey;
}

.vertical-list .icon-auxiliar {
    position: absolute;
    right: -35px;
    top: -5px;
    font-size: 28px;
    padding: 0;
    color: #333;
}

.right-side-configurator .vertical-list > li:before {
    font-family: "elderecho" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\51";
    position: absolute;
    right: 35px;
    top: 30px;
}

.vertical-list .edit-list{
    color: #333;
    /*overflow: hidden;
    padding-bottom: 25px;*/
}

.edit-list label{
    color: #333;
}

.edit-list .no-results {
	color: #78000c;
}

.edit-list input[type="radio"]:checked+label:after {
    background: #414141;
}
.active-list, .active-list:hover{
   background:#d8d8d8!important;
}
.active-list > span{
   color:#001978;
    font-weight:700;
}
.results-table th{
    color: #333;
    font-weight: 700!important;
    border-left: 0;
}


.import-from{
	padding:25px 0 25px;
}

.horizontal-list li{
	display: inline-block;
	margin-right: 10px;
}

.import-from li button{
    background: none;
    border: 1px solid #f1f1f1;
    padding: 10px 20px;
    border-radius: 10px !important;
    text-transform: uppercase;
    font-size: 13px;
}

.results-table {
	width: 100%;
	margin-bottom: 20px;
    background-color: #FFF;
    table-layout: fixed;
    white-space: nowrap;
}


.results-table td, .results-table th{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  padding: 12px;
  border-bottom:1px solid #c2c2c2;
    font-weight: 500;
}

.edit-list .results-table td:first-child,
.edit-list .results-table th:first-child{
    width: 45%;
}
.edit-list .results-table td:nth-child(2),
.edit-list .results-table th:nth-child(2){
    width: 45%;
}

.edit-list .results-table.opcion_baja td:first-child,
.edit-list .results-table.opcion_baja th:first-child,
.edit-list .results-table.opcion_baja td:nth-child(2),
.edit-list .results-table.opcion_baja th:nth-child(2){
    width: 35%;
}

.results-table td:focus{
    color:#333;
    background: #ddd;
    outline: none;
}

.results-table th{
    border-bottom: 2px solid #333;
}

.vertical-list .active-list button.btn-a,
.vertical-list .active-list button.btn-c{
    padding:10px;
    margin-bottom: 20px;
}

.vertical-list button i{
    color:#001978;
    padding:0;
}
.aniadir_destinatario{
    margin-top:50px;
}
/*
.edit-list .results-table i{
    color: #FFF;
}
*/
/* LISTAS */

 .results-table.cont-gestion-listas td a.suscriptor-listas{
   color: #001978;
    font-size: 1em;
    display: inline;
    text-decoration: underline;
 }
 .results-table.cont-gestion-listas a{
    display: block;
    color: #333;
    font-size: 1.5em;
    text-align: center;
    text-decoration: none
 }
.cont-btn-search-suscriptor button.btn-search-suscriptor{
    padding: 13px;
    background: #001978;
    color: #FFF;
    font-weight: 600;
    font-size: .8em;
    border: 0;
    width: 25%!important;
    float: right;
    text-align: center;
}
.cont-btn-search-suscriptor input{
    margin-right: 0!important;
    width: 75%!important;
    font-weight: normal!important;
    display: inline-block;
}

/* FIN LISTAS */
.content-list{
    margin: 0 -15px 0 -16px;
}

.content-list p{
    margin-left:15px;
}

tr.blue-bg td:nth-child(2) {
    color: #001978;
    border-left: none;
    position: relative;
}

tr.blue-bg td:nth-child(2):before, .vertical-list li.active-list:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 11px;
    right: 15px;
    font-size: 32px;
    content: "\6f";
    color: #001978;
}

.vertical-list li.blue-bg:before {
    top: 15px;
}

.vertical-list li.blue-bg label{
    color: #FFF;
}
.vertical-list li .num-contactos{
    margin-right:100px;
    line-height:40px;
}

.blue-bg input[type="radio"]:checked+label:after{
    background: #FFF;
}
.blue-bg .blue-text-button{
    color:#FFF;
    margin-right:20px;
}
.blue-bg .results-table{
   color:#FFF;
   background:#888888;
}

/*.form-group > *:first-child{
	/*width: 20%;
	margin-right: 5%;
	float: left;
	padding-top: 13px;*/
   /* text-transform: inherit;
    font-size: .875em;
    font-weight: 700;
    color: #333;
    white-space: nowrap;
}*/

/*.form-group > *:nth-child(2){
	width: 75%;
}*/

.form-group input, .form-group select{
    box-shadow: none;
    border: 0;
    border-bottom: 1px solid #333;
    width: calc(100% - 4px);
    margin-left: 2px;
    position: relative;
    overflow: visible;
    font-weight: 600;
}

.date-group input{
    width: 75%;
}

#nl-preview{
	height: 100%;
}

#nl-preview iframe{
	width:100%;
	height: 100%;
	display: block;
	border:none;
}

.back-bar{
    padding: 25px 45px;
    margin-bottom: 25px;
    list-style: none;
    background: #001978;
    color: #FFF;
    position: relative;
    text-transform: uppercase;
    font-size: 13px;
    border: none;
    text-align: left;
}

.back-bar:hover, .back-bar:active, .back-bar:focus{
    background: #f1f1f1;
    color: #001978;
}

.back-bar:before{
	font-family: "elderecho" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\50";
    position: absolute;
    left: 15px;
    top: 30px;
}

.small-text {
    width: 75%;
    clear: both;
    margin-left: 25%;
    font-size: .85em;
    color: #414141;
    margin-bottom: 10px;
}

.widget-list > li{
    list-style-type: none;
    margin-bottom: 30px;
}

.widget-list div{
    margin:15px 0;
    border: 1px solid #c1c1c1;
}

.widget-list p{
    margin-top: 15px;
    margin-bottom: 0;
}

.blue-highlight{
	border:1px solid rgba(0, 25, 120, .4);
	box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
}

#nl-example{
    margin: 0 auto;
    display: block;
    float: none;
    padding-top:20px;
    padding-bottom: 20px;
}

#nl-edit .cont-edit{
    padding: 10px;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0);
}

#nl-edit .area-edit {
    padding: 40px 15px;
    position: relative;
    border:1px solid #414141;
}

.area-edit{
    background: #FFF;
}

.nl-info{
    font-size: 13px;
}

.horizontal-button-list{
    display: inline-block;
}

.horizontal-button-list > *{
    float: left;
    display: inline-block;
    clear: none !important;
    margin-right: 15px;
    margin-bottom: 0;
}

.select-group{
    position: relative;
}

.select-group select {
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

.select-group select:focus, .select-group select:hover {
    outline: none;
    background: none;
}

.select-group:before {
    font-family: "gestor-newsletters" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 16px;
    content: "\67";
    color: #5fc7de;
    z-index: -1;
}

.content-block{
    margin-top: 70px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}
.content-block form{
    overflow:inherit;
}
/*.content-block .form-group > *:first-child{
    width:20%;
}*/

.accion-list span{
    margin-left:5px;
}
.accion-list button{
    border:0;
    background:none;
    margin:0 10px;
    color:#001978;
    font-size: 0.875em;
}

.accion-list i{
    color:#001978;
    font-size:1.5em;
    vertical-align:middle;
}

.template-selector{
    padding-top: 60px;
}

/*  Overlay controles  */

#comp-controls, #area-controls{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px rgba(0, 25, 120, .4);
}

.btn-a, .btn-b, .btn-c {
    border:none;
    background:#001978;
    color: #FFF;
    padding: 15px;
    line-height:0;
    font-size: 14px;
}

.btn-a *, .btn-b *, .btn-c *{
    vertical-align: middle;
    margin:0 5px;
    font-size: 20px;
}

.btn-a {
    margin-right:   15px;
    margin-bottom: 5px;
}

.btn-c {
    float: right;
    background:#ff4b39;
}
.cancel-btn {
    margin-right: 0px;
    display: inline-block;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid #D0021B;
    background: #D0021B;
    color: #FFF;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s;
}

.cancel-btn i{
    margin-right: 10px;
    font-size: 32px;
    line-height: 0;
    vertical-align: inherit;
    height: 33px;
    overflow: hidden;
    display: inline-block;
}

.cancel-btn:hover {
    background: #b10217;
    border-color: #b10217;
    color: #FFF;
}

.nl-container .btn-a, .nl-container .btn-b, .nl-container .btn-c {
    border: none;
    background: #001978;
    color: #FFF;
    padding: 15px;
    line-height: 0;
    font-size: 14px;
    display: block;
    margin: 20px auto;
}

.area-3-col .cont-edit .btn-c, .area-2-col .cont-edit .btn-c{
    position: absolute;
    bottom: 0;
    left: 0;
}


/* INPUT IMG */

.inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}


.inputfile + label {
    cursor: pointer; /* "hand" cursor */
}

.js .inputfile {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile-6 + label {
    color: #d3394c;
}

.inputfile-6 + label {
    border-bottom: 1px solid #333;
    background-color: #ffffff;
    padding: 0;
}

.inputfile-6 + label span,
.inputfile-6 + label strong {
    padding: .625rem 1.25rem;
}

.inputfile-6 + label span {
    width: calc(100% - 192px);
    min-height: 34.5px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
    color: #333;
    font-size: .7em;
    font-weight: 600;
    padding-left: 0;
}

.inputfile-6 + label strong {
    height: 100%;
    color: #ffffff;
    background-color: #001978;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
}

.inputfile-group .lowercase-grey{
    width: 20%;
    margin-right: 5%;
    float: left;
    padding-top: 13px;
    font-size: .875em;
    font-weight: 700;
    color: #333;
}

.inputfile-group label{
    width: 75%;
    margin-right: 0;
}

.results-table .edit-table, .results-table .edit-table i{
    padding-right: 0;
    width: 10%;
    cursor: pointer
}

.results-table button.delete{
    border:0;
    background:none;
    color:#333;
    font-size:1.6em;
}

/* LOGIN */

.login aside{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    padding: 50px 100px;
    margin: 0;
}

.gestion-nl aside{
    padding: 30px 45px;
    margin: 0 0 50px;
}

.login .input-group{
    width: 100%;
    margin-bottom: 20px;
}

.login .input-group input{
    width: 100%;
    border: none;
    background: #1C3286;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
}
.authController .login .input-group input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #FFF ;
}
.authController .login .input-group input::-moz-placeholder { /* Firefox 19+ */
  color: #FFF;
}
.authController .login .input-group input:-ms-input-placeholder { /* IE 10+ */
  color: #FFF;
}
.authController .login .input-group input:-moz-placeholder { /* Firefox 18- */
  color: #FFF;
}

.login-bg{
    margin-left: 15%;
    position: fixed;
    height: 100vh;
    top: 0;
    width: 100%;
    z-index: -1;
    padding: 0;
}

#loginform i{
    color: #5EC6DD;
    margin-right: 5px;
}

#loginform .form-group{
    margin-bottom: 0;
}

#loginform .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    display: block;
    font-size: 16px;
    width: 100%;
}

#loginform .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    display: block;
    font-size: 16px;
    width: 100%;
}

#loginform .input-group-btn button{
    background: #5EC6DD;
    border: 2px solid #5EC6DD;
    width: 100%;
    display: inline-block;
    text-transform: initial;
    padding: 15px;
    transition: all .2s;
}

#loginform .input-group-btn button:hover{
    background: #001978;
    color: #5EC6DD;
}

.message_error_field {
    clear: both;
    margin-bottom: 0;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    background-color: #FF4B39;
    color: #FFF;
}

/* GESTION NL */

.gestion-nl .input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap;
    display: block;
    font-size: 16px;
    width: 100%;
}

.gestion-nl .input-group-btn button{
    background: #5EC6DD;
    border: none;
    width: 100%;
    display: inline-block;
    text-transform: initial;
    padding: 15px;
}
.container.gestion-nl{
	width:670px;
}
.gestion-nl p{
    margin-top: 2px;
}

.nl-configurator .switch {
    margin-right: 10px;
}

.nl-configurator .slider {
    border: 2px solid #A4A4A4;
}

.led-blue-bg input[type="checkbox"]+label:before {
    border: 1px solid #FFF;
    background: none;
}

.led-blue-bg input[type="checkbox"]+label:after {
    background-color: #FFF;
}

.led-blue-bg label, .led-blue-bg .label-reverse {
    font-weight: 500;
    color: #FFF;
    margin-bottom: 30px;
}

.led-blue-bg label a, .led-blue-bg .label-reverse a {
    font-weight: 700;
    color: #5EC6DD;
}

.uns-all {
    padding-top: 20px;
    border-top: 1px solid #41539a;
    border-bottom: 1px solid #41539a;
    margin-bottom: 20px;
}
.uns-all .form-group{
	margin-bottom: 0.8em;
}

/* PLANIFICACION ENVIOS */

.cont-choose-send .icon-calendar,
.cont-choose-send .icon-scheduled{
    position: absolute;
    bottom: -5px;
    right: 13px;
    font-size: 32px;
    color: #5FC7DE;
}   
.cont-choose-send input.date{
    height:45px!important;
    width: 100%; 
    padding:6px 12px;  
    margin-top: 8px;       
}

.separator{
    border-right:1px solid #001978;
}
.cont-choose-send{
    margin-bottom:0;
}
.cont-choose-send .row{
    margin-bottom:18px;
}
.cont-choose-send select.hour {
    -moz-appearance:none;
    -webkit-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    appearance:none;
}
.cont-choose-send button{
    margin-top:40px;
}

.edit-list .results-table td .delete{
    background:none;
    border:0; 
}

.mR100{
    margin-right: 100px;
}
.mR0{margin-right:0}
.pR50{
    padding-right: 50px;
}

/* PAGINACIÓN */

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #001978;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    color: #001978;
    background: none;
    border-bottom: 3px solid #001978;
}

.pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #ccc;
    background-color: transparent;
}

/* SWITCH CHECKBOX */


/* The switch - the box around the slider */

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 30px;
    float: left;
    margin-right: 10px;
}

/* Hide default HTML checkbox */

.switch input {
    display: none;
}

/* The slider */

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #41539A;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 3px;
    background-color: #41539A;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked+.slider {
    border: 2px solid #FFF;
}
input:checked+.slider:before {
    background-color: #FFF;
}
input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}
input:focus+.slider {
    background-color: #FFF;
}
input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* Rounded sliders */

.slider.round {
    border-radius: 34px !important;
}
.slider.round:before {
    border-radius: 50%;
}
.slider:before {
    content: "";
    position: absolute;
    bottom: 3px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: #A4A4A4;
    -webkit-transition: .4s;
    transition: .4s;
}

table td .slider:before, .find-user .slider:before {   
    background-color: #001978;
}
table td input:checked+.slider, .find-user input:checked+.slider{
    border:2px solid #00C7DF;
}
table td input:checked+.slider:before, .find-user input:checked+.slider:before{
    background-color: #00C7DF;
}
.find-user .list-name{
    line-height:35px; 
}

/* estadísticas */
.stats{
    margin:0 20px;
}
.stats p{
    font-size: 16px;
}
.stats p.name_news_est{
    margin:100px 0 30px 0; 
    font-weight: 700;
}
.stats .icon-stats{
    font-size:22px;
    color:#001978;
}
.colorAzul{
   color:#5EC6DD;
}

.legend{
    float:right; 
    margin-top:72px;
}
.legend .square-legend{
    background-color: #5EC6DD; 
    width: 20px; 
    height:20px;
    float:left; 
    margin-top:10px;
}

.legend .percent{
    color: #959595;    
    font-size: 12px;
}
.cont-donut{
    width: 190px; 
    height:190px; 
    float: left; 
}
.cont-donut .size{
    position: relative; 
    width: 190px; 
    height: 190px;
}
ul.opening-clicks li{
   margin-bottom:10px; 
   list-style-type: none
}
ul.opening-clicks li .datosPuntos2{
    width: 84%
    }
.land{
        fill: #CCCCCC;
fill-opacity: 1;
stroke: white;
stroke-opacity: 1;
stroke-width: 0.5;
}
.land path{
        transition: 0.3s;
}
#contenedorMapa path:hover, #contenedorMapaGrande path:hover {
    -webkit-transform: scale(1.03,1.03);
    -moz-transform: scale(1.03,1.03);
    -o-transform: scale(1.03,1.03);
}
.bg-FFFFFF{
    background-color: #FFF;
}
.barraGris {
    width: 93%;
    height: 13px;
    background-color: #E0E0E0;
    position: absolute;
    top: 31px;
}

.barraAzul {
    height: 13px;
    position: absolute;
    top: 31px;
    z-index: 5;
    background-color: #5EC6DD;
}

.datosPuntos2{
    width: 94%;
    display: block;
    position: absolute;
    border-bottom: 1px dotted #000;
    height: 1px;
    margin-top: -6px;
    z-index: -1;
}

.contenedor-grafica p{
    position: relative;
}

.contenedor-grafica span{
    background: #FFF;
}

/* fin estadísticas */

/* baja suscripcion */
.form-group.mail-baja label{
    width: 100%;
    color:#FFF;
    font-weight: 400;
    font-size:1.125em;
} 
.form-group.mail-baja input{
    width: 100%;
}
/* fin baja suscripcion */

/* página ERROR*/
.error-page {
    text-align: center;
    margin: 2em auto;
    min-height: 50vh;
}
.error-page .icon-close {
    font-size: 12em;
    color: #001978;
}

.error-page .cta {
    margin-right: 1em;
    margin-left: 1em;
}
.cta:hover:before {
    font-family: "gestor-newsletters" !important;   
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    position: absolute;
 content: "\e29b";
    top: -5px;
    left: -3px;
   
}
.cta:hover:after {
   font-family: "gestor-newsletters" !important;   
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    position: absolute;
    content: "\e29a";
    bottom: -5px;
    right: -3px;
}

/* fin PÁGINA ERROR*/

/* MODAL SELECT IMAGE NEWSLETTER */

.filter-list.modal-select-image input{ width: 100%;}
.filter-list.modal-select-image i.icon-calendar{ width: auto;}

/* fin MODAL SELECT IMAGE NEWSLETTER */

/* PÁGINA BUILDER*/

.fullContainer{
    margin-top: 56px !important;
    padding-left: 0px;
    padding-right: 0px;
}

#containerEditComponents, div[id*=nl-]{
    overflow-x: hidden;
}

/* fin PÁGINA BUILDER */ 

.overlay-container{
    display: none;
    content: " ";
    z-index: 9999;    
    height: 100%;    
    width: 100%;    
    position: fixed;    
    left: 0;    
    top: 0;    
    background-color: #f4f4f4;
    opacity: 0.9;
}
.secure-confirmation{
    font-size: 0.9em;
}
.secure-confirmation .ui-icon{
    float:left; 
    margin:3px 12px 20px 0;
}
.secure-confirmation input{
    width:100%;
}
.cont-all-list{
    padding: 15px; 
    border-bottom: 1px solid #ddd; 
    border-right: 1px solid #ddd; 
    border-left: 1px solid #ddd; 
    margin-bottom:20px; 
    background:#FFF;
}
#nl-edit{
    overflow: hidden;
    position: relative;
}

/**
** ESTILOS PARA COSAS DEL CAF
**/

li.caf{
    background-color:#B3344C;
}

li.caf a{
    color: #fff !important;    
}
li.caf a:hover{
    color: #262626 !important;    
}

@media screen and (max-width: 50em) {
    .inputfile-6 + label strong {
        display: block;
    }
}

@media (min-width: 600px) {
    .media-mgmt .nl-list.grey-bg {
        padding: 30px 20px 10px;
    }
}
@media (max-width: 767px) {
    .cont-choose-send .separator{
        border-right:0;
    }
}
@media (min-width: 768px) {
    .content-tree li {
        font-size: 1.3rem;
    }
    .nl-list > div:nth-of-type(3n+1){
        clear: both;
    }
    .nl-list > div:nth-of-type(4n+1){
        clear: none;
    }
    .error-page {
        margin: 4em auto 0 auto;
    }

}

@media (min-width: 992px) {
    .content-tree li {
        font-size: 1.3rem;
    }
    .nl-list > div:nth-of-type(3n+1){
        clear: none;
    }
    .nl-list > div:nth-of-type(4n+1){
        clear: both;
    }
    
    .modal-extralg{
        width:90% !important;
    }
}

/************************* 
** MODIFICACIOPNES BACK **
*************************/

/* CLASES */
.w-100{
    width: 100% !important;
}
.pd5{
    padding: 5px !important;
}
.grey-light-bg, .origin-list-form > li:nth-child(odd){
    background-color: #ECECEC;
}
.mb20{
    margin-bottom: 20px !important;
}
ul.flexUl {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
ul.flexUl li {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    min-width: 31%;
}
ul.flexUl li .btn{
    white-space: none;
    white-space: initial;
    margin-bottom: 0px;
    width: 100%;
}


/* MODIFICACIONES */
.modal-footer .btn{
    margin-bottom: 0;
}
.modal-full .close {
    line-height: .3em;
}
.magazines-table td .btn-group .btn-default{
    float: initial;
    margin-bottom: 0;
    width: 100%;
}
.magazines-table td{
    vertical-align: middle !important;
}
ul.ui-sortable > li{
    cursor: all-scroll;
}

/* PAGINA ORIGENES */
.origin-list-form li i{
    font-size: 22px !important;
    cursor: pointer;
    color: #001978;
}
.origin-list-form > li{
    list-style: none;
    padding: 5px !important;
}
.origin-list-form li div.pull-right{
    margin-left: 10px;
}

/* DIALOG */
.ui-dialog { z-index: 9999 !important ;}

.led-dialog .ui-widget.ui-widget-content:not(#ui-datepicker-div) {
    border: 0px !important;   
}
.led-dialog .ui-dialog-title:not(#ui-datepicker-div){
    color: #001978 !important;
    background-color: #FFF !important;
}
.led-dialog .ui-dialog-titlebar:not(#ui-datepicker-div){
    background-color: white !important;
    border: 0;
}
.led-dialog .ui-dialog-buttonset .ui-button.ui-corner-all {  
    background-color: #001978;
    color: #FFF;
    border: 2px solid #001978;
    font-size: 14px;
    border-radius: 0px;
}
.led-dialog .ui-dialog-buttonset .ui-button.ui-corner-all:hover{
    background-color: white;
    color: #001978;
}
.led-dialog.ui-dialog *{
    font-family: Raleway, Arial, sans-serif !important;
}
.led-dialog .ui-state-active, 
.led-dialog .ui-widget-content .ui-state-active, 
.led-dialog .ui-widget-header .ui-state-active, 
.led-dialog a.ui-button:active, 
.led-dialog .ui-button:active, 
.led-dialog .ui-button.ui-state-active:hover {   
    background: #001978 !important;
    color:#FFF;
}
.led-dialog .ui-state-highlight, 
.led-dialog .ui-widget-content .ui-state-highlight, 
.led-dialog .ui-widget-header .ui-state-highlight {
    border: 1px solid #47b1c8 !important;
    background: #d5f4fb !important;
    color: #777620 !important;
}
.led-dialog.ui-dialog .ui-dialog-titlebar-close { 
    border: 0!important;
}
.led-dialog.ui-dialog .ui-dialog-titlebar {
    padding: .6em 1em;
}
.led-dialog.ui-dialog .ui-dialog-buttonpane{
    border:0;
    margin: 0;
    padding: 0;
    text-align: center;
}
.led-dialog.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset{
    float:none;
    margin-bottom: 10px;
}
#led-dialog .ui-icon{
    display: none !important;
}
#led-dialog [class*=ui-icon-]{
    display: inline-block !important;
    float: left; 
    margin: 3px 12px 20px 0;
}
.led-dialog.ui-corner-all, 
.led-dialog.ui-corner-bottom, 
.led-dialog.ui-corner-right, 
.led-dialog.ui-corner-br {
    border-bottom-right-radius: 0px;
}
.led-dialog.ui-corner-all, 
.led-dialog.ui-corner-bottom, 
.led-dialog.ui-corner-left, 
.led-dialog.ui-corner-bl {
    border-bottom-left-radius: 0px;
}
.led-dialog.ui-corner-all, 
.led-dialog.ui-corner-top, 
.led-dialog.ui-corner-right, 
.led-dialog.ui-corner-tr {
    border-top-right-radius: 0px;
}
.led-dialog.ui-corner-all, 
.led-dialog.ui-corner-top, 
.led-dialog.ui-corner-left, 
.led-dialog.ui-corner-tl {
    border-top-left-radius: 0px !important;
}
#led-dialog{
    display: none;
}
.led-dialog #led-dialog{
    display: block;
}

/* COMPONENTS */
.alert-components{
    margin-top:15px;
}
.alert-components .close{
    font-size: 3em;
    line-height: 0.5 !important;
}

/* PAGINA BACK PORTADA*/
#contentBuilder hr{
    border: 1px solid #001978;
}
#closeComponentSettings{
    margin-top:20px;
}
#ledSettingsMenu{
    margin-top: 0px;
}
#ledContentIssue .panel{
    box-shadow: none !important;
    margin-top: 0;
    border-top: 0;
}
#ledContentIssue .panel:first-of-type{
    border-top: 1px solid #ddd;
}
#ledContentIssue .panel{
    box-shadow: none !important;
    margin-top: 0px;
}
#ledContentIssue .panel-title{
    color: #001978;
}
#ledContentIssue .panel-heading{
    padding: 0px;
}
#ledContentIssue .panel-title a{
    display: block;
    width: 100%;
    padding: 10px 15px;
}
.itemImport {
    padding: 10px 0px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    position: relative;
    padding-right: 35px !important;
}
.importContentItem {
    position: absolute !important;
    left: initial !important;
    right: 0px;
    top: calc(50% - 11px);
}
#ledContentIssue .panel-body .itemImport:last-of-type{
    padding-top: 0;
}
#ledContentIssue .panel-body .itemImport:last-of-type{
    border : 0;
    padding-bottom: 0;
}