.corp-menu {
	padding: 2em 0 0;
}
.corp-menu ul {
	margin-bottom: 0;
	padding-left: 15px;
	list-style: none;
}
.corp-menu li {
	font-weight: 600;
	margin-bottom: 2em;
}
.corp-menu li ul {
	padding-left: 0;
}
.corp-menu li ul li {
	margin-bottom: 0;
}
.corp-menu a {
	word-wrap: break-word;
}

.footer {
	background: #001978;
	padding: 40px 0;
	overflow:hidden;
}
.footer .container-fluid {
    padding-right: 0;
    padding-left: 0;
}
.footer-logo {
	text-align: center;
    padding-bottom: 2em;
    border-bottom: 2px solid #1f3488;
    margin-bottom: 2em;
}
.footer .social-squares {
	text-align: center;
}
.footer .social-squares li {
    display: inline-block;
	margin-left: 15px;
}
.footer .social-squares li:first-child {
	margin-left: 0;
}
.footer .social-squares li i {
    font-size: 1.9em;
    color: #FFF;
  }
.footer p, .footer p a {
	color: #FFF;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: .9em;
}
.footer p {
	text-align: center;
}
.footer p a {
	font-weight: 400;
	font-size: 1em;
}

.footer p span {
	width: 100%;
    display: block;
    margin-top: 15px;
}


@media (min-width:992px) {
	.footer .social-squares{
		text-align: right;
	}
	.footer-logo {
		padding-bottom: 0;
		text-align: left;
		border-bottom: none;
	}
	.footer .container-fluid {
	    padding-right: 15px;
	    padding-left: 15px;
	}
	.footer p {
		text-align: left;
	}
	.footer p span {
	    display: inline;
		margin-top: 0;
	}
}