@charset "UTF-8";

@font-face {
  font-family: "elderecho";
  src:url("../fonts/elderecho.eot");
  src:url("../fonts/elderecho.eot?#iefix") format("embedded-opentype"),
    url("../fonts/elderecho.woff") format("woff"),
    url("../fonts/elderecho.ttf") format("truetype"),
    url("../fonts/elderecho.svg#elderecho") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "elderecho" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="ed-"]:before,
[class*=" ed-"]:before {
  font-family: "elderecho" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "gestor-newsletters";
  src:url("../fonts/gestor-newsletters.eot");
  src:url("../fonts/gestor-newsletters.eot?#iefix") format("embedded-opentype"),
    url("../fonts/gestor-newsletters.woff") format("woff"),
    url("../fonts/gestor-newsletters.ttf") format("truetype"),
    url("../fonts/gestor-newsletters.svg#gestor-newsletters") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "gestor-newsletters" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "gestor-newsletters" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ============== SPINNER ============== */
i[class^="icon"], i[class^="ed-"] {
 text-decoration: none !important;
 display: inline-block;
}
.ed-load-a {
 animation-name: spin;
 animation-duration: 1500ms;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
 height: 80px;
 width: 80px;
}
@keyframes spin {
 from {
  transform:rotate(0deg);
 }
 to {
  transform:rotate(360deg);
 }
}
/* ===============FIN SPINNER ================== */

.ed-autor:before {
  content: "\61";
}
.ed-buscador:before {
  content: "\62";
}
.ed-calendario-mediano:before {
  content: "\64";
}
.icon-bin:before {
  content: "\64";
}
.ed-candado:before {
  content: "\65";
}
.icon-calendar:before {
  content: "\65";
}
.ed-edit:before {
  content: "\66";
}
.icon-cancel:before {
  content: "\66";
}
.ed-enviar:before {
  content: "\67";
}
.ed-facebook:before {
  content: "\68";
}
.ed-facebook-2:before {
  content: "\69";
}
.ed-flecha-leer-mas:before {
  content: "\6c";
}
.ed-norma-criterio:before {
  content: "\6d";
}
.ed-subir:before {
  content: "\6e";
}
.icon-stats:before {
  content: "\6e";
}
.ed-play:before {
  content: "\71";
}
.icon-usuario:before {
  content: "\71";
}
.icon-save:before {
  content: "\72";
}
.icon-play:before {
  content: "\73";
}
.ed-menu:before {
  content: "\75";
}
.ed-linkedin-2:before {
  content: "\78";
}
.ed-linkedin:before {
  content: "\79";
}
.ed-twitter:before {
  content: "\7a";
}
.ed-twitter-2:before {
  content: "\41";
}
.ed-usuario:before {
  content: "\42";
}
.ed-youtube:before {
  content: "\43";
}
.ed-closed-sq:before {
  content: "\76";
}
.icon-ok:before {
  content: "\76";
}
.ed-open-sq:before {
  content: "\77";
}
.ed-label-end:before {
  content: "\44";
}
.icon-android-exit:before {
  content: "\44";
}
.ed-label-end-fill:before {
  content: "\45";
}
.ed-label-start:before {
  content: "\46";
}
.ed-label-start-fill:before {
  content: "\47";
}
.ed-twitter-bird:before {
  content: "\49";
}
.icon-ios-eye:before {
  content: "\49";
}
.ed-poi:before {
  content: "\4a";
}
.ed-reloj:before {
  content: "\4b";
}
.ed-star-icon:before {
  content: "\6f";
}
.ed-play-icon:before {
  content: "\70";
}
.icon-scheduled:before {
  content: "\70";
}
.ed-avion:before {
  content: "\4c";
}
.ed-mundo-juridico:before {
  content: "\74";
}
.ed-calendario:before {
  content: "\63";
}
.ed-flecha-grande:before {
  content: "\6a";
}
.icon-clone:before {
  content: "\6a";
}
.ed-flecha-grande-2:before {
  content: "\6b";
}
.ed-ed-flecha-bold:before {
  content: "\50";
}
.ed-logo-led:before {
  content: "\54";
}
.ed-close:before {
  content: "\4f";
}
.ed-checkmark:before {
  content: "\56";
}
.ed-funnel:before {
  content: "\4e";
}
.ed-ico-modalidad:before {
  content: "\48";
}
.ed-logo-3:before {
  content: "\53";
}
.ed-glyphicon-remove-circle:before {
  content: "\58";
}
.ed-bolsa:before {
  content: "\4d";
}
.ed-switch:before {
  content: "\52";
}
.ed-salir:before {
  content: "\55";
}
.ed-ico-coste:before {
  content: "\57";
}
.ed-cog:before {
  content: "\5a";
}
.ed-information:before {
  content: "\30";
}
.ed-alert:before {
  content: "\31";
}
.ed-print:before {
  content: "\33";
}
.ed-gallery:before {
  content: "\34";
}
.ed-list:before {
  content: "\32";
}
.ed-social-rss:before {
  content: "\35";
}
.ed-descarga-utilidades:before {
  content: "\35";
}
.ed-ico-noticias:before {
  content: "\36";
}
.ed-social-rss:before {
  content: "\37";
}
.ed-load-a:before {
  content: "\38";
}
.ed-ico-sobre:before {
  content: "\39";
}
.ed-ico-p-right:before {
  content: "\59";
}
.ed-ico-p-down:before {
  content: "\59";
}
.ed-android-arrow-dropdown:before {
  content: "\21";
}
.ed-ed-flecha-bold-der:before {
  content: "\51";
}
.ed-xls:before {
  content: "\22";
}
.ed-pdf:before {
  content: "\23";
}
.ed-help:before {
  content: "\24";
}
.ed-wrench:before {
  content: "\26";
}
.ed-ios-gear:before {
  content: "\27";
}
.ed-ios-gear-outline:before {
  content: "\28";
}
.ed-android-document:before {
  content: "\2b";
}
.ed-android-home:before {
  content: "\2c";
}
.ed-ios-folder-outline:before {
  content: "\25";
}
.ed-ios-folder:before {
  content: "\29";
}
.ed-android-call:before {
  content: "\2a";
}
.ed-chatbox:before {
  content: "\2d";
}
.ed-chevron-up:before {
  content: "\2e";
}
.ed-image:before {
  content: "\2f";
}
.ed-ico-p-up:before {
  content: "\3a";
}
.icon-add:before {
  content: "\61";
}
