/* AZUL LED */

 .led-blue-bg{
	background:#001978;
	color:#FFF;
 }

  .led-blue-bg:after{
	color:#001978;
 }

 /* VERDE ED

.ed-green-bg{
	background:#42b5b3;
	color:#FFF;
}

.ed-green-bg:after{
	color:#42b5b3;
}

.ed-green-border{
	border-color:#42b5b3;
	color:#42b5b3;
}

*/

 /* VERDE ED */

.ed-green-bg{
	background:#5EC6DD;
	color:#FFF;
}

.ed-green-bg:after{
	color:#5EC6DD;
}

.ed-green-border{
	border-color:#5EC6DD;
	color:#5EC6DD;
}

/* ICONOS */

.ed-pdf {
	color: #EF4136;
}
.ed-xls {
	color: #107C10;
}



/* COLORES PRINCIPALES DE MATERIAS */

.fiscal-bg{
	background:#0A2447;
	color:#FFF;
}

.social-bg{
	background:#741425;
	color:#FFF;
}
.laboral-bg{
	background:#741425;
	color:#FFF;
}

.inmobiliario-bg{
	background:#162F26;
	color:#FFF;
}

.administrativo-bg{
	background:#68737B;
	color:#FFF;
}
.proteccion-de-datos-bg{
	background:#68737B;
	color:#FFF;
}

.civil-bg{
	background:#D0C7B6;
	color:#FFF;
}

.contable-bg{
	background:#1A459A;
	color:#FFF;
}
.auditoria-bg{
	background:#1A459A;
	color:#FFF;
}

.multimateria-bg{
	background:#F19600;
	color:#FFF;
}

.mercantil-bg{
	background:#D3BA89;
	color:#FFF;
}

.penal-bg{
	background:#331F7D;
	color:#FFF;
}
.compliance-bg{
	background:#331F7D;
	color:#FFF;
}

.procesal-bg{
	background:#FFCF2B;
	color:#414141;
}
.juridico-bg{
	background:#001978;
	color:#FFF;
}

.fiscal-border{
	border-color:#0A2447;
	color: #0A2447;
}

.social-border{
	border-color:#741425;
	color: #741425;
}
.laboral-border{
	border-color:#741425;
	color: #741425;
}

.inmobiliario-border{
	border-color:#162F26;
	color: #162F26;
}

.administrativo-border{
	border-color:#68737B;
	color: #68737B;
}
.proteccion-de-datos-border{
	border-color:#68737B;
	color: #68737B;
}

.civil-border{
	border-color:#D0C7B6;
	color:#D0C7B6;
}

.contable-border{
	border-color:#1A459A;
	color: #1A459A;
}
.auditoria-border{
	border-color:#1A459A;
	color: #1A459A;
}

.multimateria-border{
	border-color:#F19600;
	color: #F19600;
}

.mercantil-border{
	border-color:#D3BA89;
	color: #D3BA89;
}

.penal-border{
	border-color:#331F7D;
	color: #331F7D;
}
.compliance-border{
	border-color:#331F7D;
	color: #331F7D;
}

.procesal-border{
	border-color:#FFCF2B;
	color: #FFCF2B;
}
.juridico-border{
	border-color: #001978;
	color: #FFF;
}


/* COLORES COMPLEMENTARIOS DE MATERIAS  */


.fiscal-comp-bg{
	background:#5EC6DD;
	color:#FFF;
}

.social-comp-bg{
	background:#E5869D;
	color:#FFF;
}
.laboral-comp-bg{
	background:#E5869D;
	color:#FFF;
}

.inmobiliario-comp-bg{
	background:#44AE61;
	color:#FFF;
}

.administrativo-comp-bg{
	background:#CDCF3B;
	color:#FFF;
}
.proteccion-de-datos-comp-bg{
	background:#CDCF3B;
	color:#FFF;
}

.civil-comp-bg{
	background:#C6002A;
	color:#FFF;
}

.contable-comp-bg{
	background:#63B9E4;
	color:#FFF;
}
.auditoria-comp-bg{
	background:#63B9E4;
	color:#FFF;
}

.multimateria-comp-bg{
	background:#E65F37;
	color:#FFF;
}

.mercantil-comp-bg{
	background:#194B9F;
	color:#FFF;
}

.penal-comp-bg{
	background:#42B5B3;
	color:#FFF;
}
.compliance-comp-bg{
	background:#42B5B3;
	color:#FFF;
}

.procesal-comp-bg{
	background:#878273;
	color:#FFF;
}
.juridico-comp-bg{
	background:#001978;
	color:#FFF;
}

/* COLORES DE LABELS */

.fiscal-bg:after{
	color:#0A2447;
}

.social-bg:after{
	color:#741425;
}
.laboral-bg:after{
	color:#741425;
}

.inmobiliario-bg:after{
	color:#162F26;
}

.administrativo-bg:after{
	color:#68737B;
}
.proteccion-de-datos-bg:after{
	color:#68737B;
}

.civil-bg:after{
	color:#D0C7B6;
}

.contable-bg:after{
	color:#1A459A;
}
.auditoria-bg:after{
	color:#1A459A;
}

.multimateria-bg:after{
	color:#F19600;
}

.mercantil-bg:after{
	color:#D3BA89;
}

.penal-bg:after{
	color:#331F7D;
}
.compliance-bg:after{
	color:#331F7D;
}

.procesal-bg:after{
	color:#FFCF2B;
}
.juridico-bg:after{
	color:#001978;
}


/* OTROS COLORES */


