.media-item {
    display: inline-block;
    height: 105px;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}

.media-item.active {
    border:1px solid rgba(0, 25, 120, .4);
    -webkit-box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
    -moz-box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
}

.nl-list.media-items .media-item img {
    margin-bottom: 0;
    min-height: 100%;
    min-width: 100%;
    max-width: 110%;
}

.nl-list.media-items img {
    margin-bottom: 20px;
}
.nl-list.media-items img.active, 
.nl-list.media-items a:hover{
    border:1px solid rgba(0, 25, 120, .4);
    box-shadow: 0 0 15px  rgba(0, 25, 120, .4);
}

#mainModal .modal-body {
    padding: 0;
    background: #fff;
}

.media-mgmt .filter-list {
    position: static;
    overflow: hidden;
    z-index: auto;
    margin-left: -15px;
    padding: 20px 10px 20px 10px;
    font-size: 1em;
    width: auto;
    max-width: none;
    background: #F4F4F4;
}
.media-mgmt .filter-list ul {
    margin-bottom: 0;
    padding-left: 0;
}
.media-mgmt .filter-list li {
    margin-right: 0;
}
.media-mgmt .filter-list li:first-child i {
    position: absolute;
    top: 3px;
    right: 20px;
    font-size: 32px;
    color: #5FC7DE;
}
.media-mgmt .nl-list.grey-bg {
    padding: 10px 0 0;
}
.media-mgmt ::-webkit-input-placeholder {
    color: #CCC !important;
}
.media-mgmt :-moz-placeholder {
    color: #CCC !important;
    opacity: 1;
}
.media-mgmt ::-moz-placeholder {
    color: #CCC !important;
    opacity: 1;
}
.media-mgmt :-ms-input-placeholder {
    color: #CCC !important;
}
.media-mgmt ::-ms-input-placeholder {
    color: #CCC !important;
}

.grey-bg .cont-btn{
    margin: 0 0 20px 0;
}
.grey-bg .cont-btn button{
    margin-bottom:0;
}

@media (min-width: 600px) {
    .media-mgmt .nl-list.grey-bg {
        padding: 30px 20px 10px;
    }
}