.navbar{
    border: none;
}

.logo{
    padding: 0px;
    text-align: left;
}

.section-bar .logo a{
    background: #FFF;
    padding: 16px 0 15px;
}
.section-bar li.logo:hover{   
    border:0;    
}
.section-bar{
    background: #001978;
    max-width: 1480px;
    margin: 0 auto;   
    width: 100%;
    right:auto;
    left:auto;
    z-index: 25;
}

.section-bar ul{
    list-style-type: none;
    margin-bottom: 0px;
    padding:0px;
    clear: both;
    overflow: hidden;
    height: 52px;
}

.section-bar li, .walkthrough-bar li{
    float:left;
    transition: all .2s;
}

.section-bar li a:hover,
.section-bar li a:active {
    text-decoration: none;
    border-bottom: 3px solid #FFF;
    padding: 16px 50px 14px;
}

.section-bar li.active a{
    color:#001978;
    background:#FFF;   
}

.section-bar li.pull-right:hover{
    border-bottom:none;
}

.section-bar li a{
    color: #FFF;
    font-size: 13px;
    padding: 16px 50px 14px;
    text-transform: uppercase;
    display: block;
     border-bottom: 3px solid transparent;
}

.section-bar li a:hover{
    text-decoration: none;
}

.walkthrough-bar{
    border-top:1px solid #f1f1f1;
    border-bottom:1px solid #f1f1f1;
    background: #FFF;
    max-width: 1480px;
    margin:0 auto;
}

.walkthrough-bar ul{
    margin-bottom: 0px;
    padding:0px;
}

.walkthrough-bar li{
    margin:0px;
    text-align: center;
}

.walkthrough-bar li a{
    font-size: 13px;
    padding: 15px 0px;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.current-position{
    background: #f1f1f1;
}

.save-btn {
    margin-right: 0px;
    display: inline-block;
    padding: 8px 20px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 2px solid #FAE61E;
    background: #FAE61E;
    color: #001978;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    transition: all .2s;
}

.save-btn i{
    margin-right: 10px;
    font-size: 32px;
    line-height: 0;
    vertical-align: inherit;
    height: 33px;
    overflow: hidden;
    display: inline-block;
}

.save-btn:hover {
    background: #00C7DF;
    border-color: #00C7DF;
    color: #FFF; 
}
.section-bar ul.cont-nav{
    height: 55px;
     background-color: #FFF;
}
.section-bar ul.cont-nav li{
    height: 55px;
    background-color: #FFF;
}
.section-bar ul.cont-nav li a{
    line-height: 55px; 
    padding: 0 15px!important;
    color:#001978;
}
