<?php use Phalcon\Tag;?>
<?php echo $this->getContent(); ?>
<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['magazine', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['origin/new/', 'Crear origen']); ?>
    </li>
</ul>
<h2><?php echo _('Or&iacute;genes');?></h2>
<?php
if ( count($page->items) > 0 ){
    
    foreach ( $page->items as $key => $origin ){
        if ( $key == 0 ){
            ?>
                <table class="table table-bordered table-striped magazines-table" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>URL</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <?php
        }
        
        ?>
            <tr>
                <td><?php echo $origin->id;?></td>
                <td><?php echo $origin->name;?></td>
                <td><?php echo $origin->url;?></td>
                <td width="300px">
                    <!-- Botón de editar-->
                    <div class="btn-group">
                        <a href="<?php echo $baseUrl; ?>origin/edit/<?php echo $origin->id; ?>" class="btn btn-default"><i class="ed-edit"></i> Editar</a>
                    </div>
                    <!-- Botón de eliminar-->
                    <div class="btn-group">
                        <a href="javascript:void(0)" class="btn btn-default deleteOrigin" data-action="<?php echo $baseUrl; ?>origin/remove/" data-id="<?php echo $origin->id; ?>">
                            <i class="icon-bin"></i> <?php echo _('Eliminar'); ?> 
                        </a>
                    </div>
                </td>
            </tr>
        <?php
        if( count( $page->items ) - 1 == $key) {
        ?>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="5" align="center">
                            <div class="btn-group">
                                <?php //echo \Phalcon\Tag::linkTo(['magazine/search', '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']); ?>
                                <?php echo ($page->first != $page->current && $page->before != $page->current)? \Phalcon\Tag::linkTo(['origin/index/?page='.$page->first, '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->before != $page->current)? \Phalcon\Tag::linkTo(['origin/index/?page='.$page->before, '<i class="icon-step-backward"></i> Anterior', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->next != $page->current)? \Phalcon\Tag::linkTo(['origin/index/?page='.$page->next, '<i class="icon-step-forward"></i> Siguiente', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->last != $page->current && $page->last != $page->next) ? \Phalcon\Tag::linkTo(['origin/index/?page='.$page->last, '<i class="icon-step-forward"></i> Última', 'class' => 'btn']) : ''; ?>
                            </div>
                            <div><span class="help-inline"><b><?php echo $page->current . " de ". $page->total_pages;?></b></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <?php $this->partial('common/modals/defaultDialog'); ?>
        <?php
        }
    }
}else{
    echo _('<p>No hay or&iacute;genes registrados.</p>');
}
