<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['origin/index/', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['', 'Guardar', 'id' => $saveAction]); ?>
    </li>
</ul>

<h3><?php echo $origin ? _('Editar origen') : _('Nuevo origen'); ?></h3>

<div class="row-fluid">
    <form id="origin-form" method='post'>
        <!--Campo nombre -->
        <div class="col-sm-3 form-group">
            <label><?php echo _('Nombre');?></label>
            <?php echo $form->render('name', ['value' => $origin->name, 'class' => 'form-control', 'required' => 'required']); ?>
        </div>
        <!--Campo url -->
        <div class="col-sm-3 form-group">
            <label><?php echo _('Url');?></label>
            <?php echo $form->render('url', ['value' => $origin->url, 'class' => 'form-control', 'required' => 'required']); ?>
        </div>
        <!--Campo tipo -->
        <div class="col-sm-3 form-group">
            <label><?php echo _('Tipo');?></label>
            <?php echo $form->render('idOriginType', ['value' => $origin->idOriginType]); ?>
        </div>
        <!--Campo origen -->
        <div class="col-sm-3 form-group">
            <label><?php echo _('Nodo o función por defecto');?></label>
            <?php echo $form->render('origin', ['value' => $origin->origin, 'class' => 'form-control', 'required' => 'required']); ?>
        </div>
        <?php echo $form->render('id', ['value' => $origin->id]); ?>
        <?php echo $form->render('fields', ['value' => $fieldsJSON]); ?>
        <?php echo $form->render('filters', ['value' => $filtersJSON]); ?>
        <?php echo $form->render('magazines', ['value' => $magazines]); ?>
        <?php echo $form->render('components', ['value' => $components]); ?>
    </form><!-- /#origin-form -->
</div>

<div class="row-fluid" style="margin-bottom: 3em;">
    <div id="origin-fields" class="col-sm-3">
        <label class="w-100 title-origin-form">
            <?php echo _('Campos'); ?>
            <a href="javascript:void(0)" id="addFieldOrigin" class="pull-right">
                <?php echo _('Nuevo campo'); ?>
            </a>
        </label>
        <ul id="fields-list" class="origin-list-form no-padding <?php echo $fields ? '' : 'hidden'; ?>">
            <?php if($fields) : ?>
                <?php foreach ($fields as $field) : ?>
                    <li title="<?php echo $field->tag; ?>">
                        <?php echo $field->field; ?>
                        <div class="pull-right remove-field"><i class="icon-bin"></i></div>
                    </li>    
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
        <div id="no-field" class="grey-light-bg pd5 <?php echo $fields ? 'hidden' : ''; ?>">
            <?php echo _('No tiene campos asociados.'); ?>
        </div><!-- /#no-field -->
    </div><!-- /#origin-field -->
    
    <div id="origin-filter" class="col-sm-3">
        <label class="w-100 title-origin-form">
            <?php echo _('Filtros'); ?>
            <a href="javascript:void(0)" id="addFilterOrigin" class="pull-right">
                <?php echo _('Nuevo filtro'); ?>
            </a>
        </label>
        <ul id="filters-list" class="origin-list-form no-padding <?php echo $filters ? '' : 'hidden'; ?>">
            <?php if($filters)  : ?>
                <?php foreach ($filters as $filter) : ?>
            <li title="<?php echo $filter->param; ?>" 
                data-options="<?php echo htmlspecialchars(json_encode($filter->options), ENT_QUOTES, 'UTF-8'); ?>" 
                data-attributes="<?php echo htmlspecialchars(json_encode($filter->attributes), ENT_QUOTES, 'UTF-8'); ?>">
                        <?php echo $filter->title; ?>
                        <div class="pull-right remove-filter"><i class="icon-bin"></i></div>
                        <div class="pull-right options-filter">
                            <a href="javascript:void(0)" class="options" title="Opciones"> Opc. </a>
                        </div>
                        <div class="pull-right attributes-filter">
                            <a href="javascript:void(0)" class="attributes" title="Atributos"> Atr. </a>
                        </div>
                    </li>
                <?php endforeach; ?>
            <?php endif; ?>
        </ul>
        <div id="no-filters" class="grey-light-bg pd5 <?php echo $filters ? 'hidden' : ''; ?>">
            <?php echo _('No tiene filtros asociados.'); ?>
        </div><!-- /#no-filter -->
    </div><!-- /#origin-filters -->
    
    <div id="origin-magazines" class="col-sm-3">
        <label for="magazines_id" class="w-100 title-origin-form"><?php echo _('Revistas asociadas'); ?></label>
        <?php echo $form->render('magazines_id', ['value' => $magazinesList]); ?>
    </div><!-- /#origin-magazines -->
    
    <div id="origin-components" class="col-sm-3">
        <label for="components_id" class="w-100 title-origin-form"><?php echo _('Componentes asociados'); ?></label>
        <?php echo $form->render('components_id', ['value' => $componentsList]); ?>
    </div><!-- /#origin-components -->
    
    <div class="clearfix"></div>
</div>
<?php $this->partial('common/modals/fieldForm'); ?>
<?php $this->partial('common/modals/filterForm'); ?>
<?php $this->partial('common/modals/filterOptions'); ?>
<?php $this->partial('common/modals/filterAttributes'); ?>