<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['component/index/', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['', 'Guardar', 'id' => 'updateComponent']); ?>
    </li>
</ul>

<h3><?php echo _('Editar componente : ').$component->folder; ?></h3>

<div class="row-fluid">
    <!--Campo nombre y descripción-->
    <div class="col-sm-3">
        <form id="component-form" method='post'>
            <div class="form-group">
                <label><?php echo _('Nombre y descripción'); ?></label>
                <?php echo $form->render('name', ['value' => $component->name, 'class' => 'form-control', 'required' => 'required']); ?>
            </div>
            <div class="form-group">
                <?php echo $form->render('description', ['value' => $component->description, 'class' => 'form-control', 'placeholder' => 'Descripción']); ?>
            </div>
            <?php echo $form->render('id', ['value' => $component->id]); ?>
            <?php echo $form->render('magazines', ['value' => $magazines]); ?>
            <?php echo $form->render('zones', ['value' => $zones]); ?>
            <?php echo $form->render('origins', ['value' => $origins]); ?>
        </form><!-- /#component-form -->
    </div>
    <!--Campo revistas -->
    <div class="col-sm-3">
        <label><?php echo _('Revistas');?></label>
        <?php echo $form->render('magazines_id', ['value' => $magazinesList, 'class' => 'form-control']); ?>
    </div>
    <!--Campo tipo -->
    <div class="col-sm-3">
        <label><?php echo _('Zonas');?></label>
        <?php echo $form->render('zones_id', ['value' => $zonesList, 'class' => 'form-control']); ?>
    </div>
    <!--Campo origen -->
    <div class="col-sm-3">
        <label><?php echo _('Origenes');?></label>
        <?php echo $form->render('origins_id', ['value' => $originsList, 'class' => 'form-control']); ?>
    </div>
</div>