<?php if($messageRegister->msgSuccess) : ?>
<div class="alert alert-success alert-components alert-dismissible show" role="alert">
  <?php echo $messageRegister->msgSuccess; ?>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<?php endif; ?>

<?php if($messageUnregister->msgSuccess) : ?>
<div class="alert alert-warning alert-components alert-dismissible show" role="alert">
  <?php echo $messageUnregister->msgSuccess; ?>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<?php endif; ?>

<?php if($messageRegister->msgError) : ?>
<div class="alert alert-danger alert-components alert-dismissible show" role="alert">
  <?php echo $messageRegister->msgError; ?>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<?php endif; ?>

<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['component', '&larr; Atrás']); ?>
    </li>
</ul>
<h2><?php echo _('Componentes');?></h2>
<?php
if ( count($page->items) > 0 ){
    
    foreach ( $page->items as $key => $component ){
        if ( $key == 0 ){
            ?>
                <table class="table table-bordered table-striped magazines-table" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Directorio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                <?php
        }
        
        ?>
            <tr>
                <td><?php echo $component->id;?></td>
                <td><?php echo $component->name;?></td>
                <td><?php echo $component->folder;?></td>
                <td width="12%">
                    <!-- Botón de editar-->
                    <div class="btn-group w-100">
                        <a href="<?php echo $baseUrl; ?>component/edit/<?php echo $component->id; ?>" class="btn btn-default"><i class="ed-edit"></i> Editar</a>
                    </div>
                </td>
            </tr>
        <?php
        if( count( $page->items ) - 1 == $key) {
        ?>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="5" align="center">
                            <div class="btn-group">
                                <?php echo ($page->first != $page->current && $page->before != $page->current)? \Phalcon\Tag::linkTo(['component/index/?page='.$page->first, '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->before != $page->current)? \Phalcon\Tag::linkTo(['component/index/?page='.$page->before, '<i class="icon-step-backward"></i> Anterior', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->next != $page->current)? \Phalcon\Tag::linkTo(['component/index/?page='.$page->next, '<i class="icon-step-forward"></i> Siguiente', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->last != $page->current && $page->last != $page->next) ? \Phalcon\Tag::linkTo(['component/index/?page='.$page->last, '<i class="icon-step-forward"></i> Última', 'class' => 'btn']) : ''; ?>
                            </div>
                            <div><span class="help-inline"><b><?php echo $page->current . " de ". $page->total_pages;?></b></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        <?php
        }
    }
}else{
    echo _('<p>No hay componentes registrados.</p>');
}
