<nav class="navbar section-bar navbar-fixed-top">
	<ul class="cont-nav">
		<li class="logo col-md-2">
		    <a href="<?php echo $this->url->get(); ?>">
                <img src="https://assets.lefebvre.es/media/logos/web/comunes/lefebvre-ij-114x40.png" alt="LEFEBVRE INTELIGENCIA">
            </a>
		</li>
   </ul>
</nav>