<div class="ledComponent">
    <h3 class="title-section col pl-0 mb-3 mt-3 mr-3">
        {{ledGroupTitle}}
            {{ledLiveTitle}}
        {{/ledGroupTitle}}
    </h3>
    <article class="mod-comun  p-3 mb-3 pb-3">
        <ul class="m-0 p-0 los-mas">
            <li class="item" data-loop="true">
                <div class="float-left number">{{@order}}.</div>
                <div class="resumen"><a href="{{@link}}" target="_blank" rel="external">{{@title}}</a></div>
            </li>
        </ul>
    </article>
</div>