<div class="ledComponent mod-comun p-3 pb-4 mb-3 pb-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class=""></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class=""></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active" data-multiple="true">
                <h2 class="title-common-mod">¿Hasta dónde llega el principio de efectividad? A vueltas con el art.71.2.b)</h2>
                <span class="autor">Vicente López de la Serna</span>
                <div class="cont-img">
                    <img src="img/img-autor.png" alt="">
                </div>
            </div>
            <div class="carousel-item">
                <h2 class="title-common-mod">Reclamación del perjudicado tras la reforma del Código Penal por LO 2/2019 en materia de accidentes de tráfico</h2>
                <span class="autor">Maria Jose Loeches Saavedra</span>
                <div class="cont-img">
                    <img src="img/img-autor2.png" alt="">
                </div>
            </div>
            <div class="carousel-item">
                <h2 class="title-common-mod">Sobre el régimen jurídico aplicable de los contratos de arrendamientos celebrados en el periodo de vigencia del Real Decreto Ley 21/2018, de 14 de diciembre del alquiler</h2>
                <span class="autor">Diana Muñoz Puig</span>
                <div class="cont-img">
                    <img src="img/img-autor.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>