<div class="ledComponent mod-comun p-3 pb-4 mb-3 pb-5">
    <a href="detalle.html">
        <h2 class="title-common-mod">
            {{ledGroupTitle}}
                {{ledLiveTitle}}
            {{/ledGroupTitle}}
        </h2>
        <p>
            {{ledGroupDescription}}
                {{ledLiveDescription}}
            {{/ledGroupDescription}}
        </p>
    </a>
    <span class="text-bold-bottom-left">
        <a href="#" data-toggle="popover" data-content="Magistrado de la Audiencia Provincial de Alicante" data-placement="top" data-trigger="hover">
            <span class="lf-icon-information"></span>
            {{ledGroupAuthor}}
                {{ledLiveAuthor}}
            {{/ledGroupAuthor}}
        </a>
    </span>
</div>