<?php

?>

<div class="container-fluid media-mgmt media-library">
	<div class="row">
		<div class="col-sm-2">
            <?php \Helpers\Media\Menu::Build($directories); ?>
		</div>

		<div class="col-sm-10">
			<div class="row media-bar">
				<div class="col-xs-12">
					<ul class="filter-list modal-select-image">
						<li class="form-group col-sm-3">
							<input type="text" class="form-control led-datepicker" name="date-from" id="dateFrom" placeholder="<?php echo _('Fecha desde'); ?>" autocomplete="off">
							<label for="dateFrom" class="add-on"><i class="icon-calendar"></i></label>
						</li>
						<li class="form-group col-sm-3">
							<input type="text" class="form-control led-datepicker" name="date-to" id="dateTo" placeholder="<?php echo _('Fecha hasta'); ?>" autocomplete="off">
							<label for="dateTo" class="add-on"><i class="icon-calendar"></i></label>
						</li>
                        <li class="form-group col-sm-3 ">
							<input type="search" class="form-control" id="filterTitle" placeholder="<?php echo _('Título'); ?>">
						</li>
						 <li class="form-group col-sm-3">
							<button type="submit" class="btn-common filter-search-all filter-search" style="text-transform: initial;">
								<?php echo _('Buscar'); ?>
							</button>
							<button class="pull-right reset-filter filter-search hide" data-clear="1" id="clearFilterMedia">
								<?php echo _('Resetear filtros'); ?>
							</button>
						</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div id="media-main-content-parent">
					<div id="media-main-content" class="col-xs-12 nl-list media-items grey-bg">
						<div class="row">
							<div class="alert alert-danger text-center hide" id="divInfoErrorMedia">
								<span id="msgInfoErrorMedia"></span>
								<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
							</div>
                            <div class="alert alert-success text-center hide" id="divInfoOkMedia">
								<span id="msgInfoOkMedia"></span>
								<!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
							</div>
							<aside class="col-sm-12 text-center cont-btn">
								<form method="post" action="<?php echo $this->url->get('media/uploadFile'); ?>" id="mediaUploadForm" enctype="multipart/form-data">
									<input name="imageFile" type="file" id="ledUploadMedia" class="inputfile" data-limit-size="<?php echo $this->config->repository->limitUpload; ?>" />
									<label for="ledUploadMedia" class="blue-btn btn-new-image"> <i class="icon-add"></i><?php echo _('Subir imagen nueva'); ?> </label>
								</form>
							</aside>
							<div id="media-content-images-container">
								<div id="media-content-images">
									<?php if ($images): ?>
										<?php foreach ($images as $key => $image): ?>
                                            <div class="col-xs-6 col-sm-4 col-md-2">
												<a class="media-item col-md-12 no-padding" href="javascript:void(0);" data-url="<?php echo $image->url; ?>">
													<?php 
                                                        $sizes            = $tools->getImgSizes($image->sizes->thumbnail);
                                                        $classTopPosition = $sizes->height > $sizes->width ? 'media-img-top' : '';
                                                    ?>
                                                    <img class="media-img <?php echo $classTopPosition; ?>" src="<?php echo $image->sizes->thumbnail; ?>" data-url="<?php echo $image->url; ?>" alt="Texto descriptivo obligatorio" data-name="<?php echo $image->name; ?>" data-extension="<?php echo $image->extension; ?>">
												</a>
											</div>
										<?php endforeach; ?>
									<?php endif; ?>
								</div>
							</div>
						</div>
						<div class="row">
							<input id="paginationMedia" type="hidden" value="<?= $page; ?>" />
							<input id="isPagination" type="hidden" value="0" />
							<input class="ledAddMedia" type="hidden" value="1" />

							<?php
							$classPagination = 'applyPaginationFilterMedia';
							$this->partial('common/partials/pagination');
							?>
						</div>
					</div>
				</div>
			</div>

	</div>

	<div class="row">
		<div class="overlay-crop" id="led-cropper-plugin">
			<span id="closeEditCropper">
				<button class="back-button mT10 mL20">Volver</button>
			</span>
            <div class="col-sm-12">
				<div class="tools-container-crop">
                    <ul class="list-inline">
                        <li>
                            <button class="zoom btn btn-primary" id="zoom-out">&nbsp;-&nbsp;</button>
                        </li>
						<li>
							<button class="zoom btn btn-primary" id="crop-action"><?php echo _('Recortar'); ?></button>
						</li>
                        <li>
                            <button class="zoom btn btn-primary" id="zoom-in">&nbsp;+&nbsp;</button>
                        </li>
                    </ul>
                </div>
                <div class="image-container-crop">
                </div>
            </div>
        </div>
    </div>

</div>