<?php
if (!empty($components)):
    foreach ($components as $component):

        $compatibleZones = '';

        foreach ($component->zones as $zoneKey) {
            $compatibleZones .= ' ledZoneType-' . $zoneKey;
        }
        ?>

        <li class="conf-trigger col-sm-12 ledDraggable<?php echo $compatibleZones; ?>"
            data-id="<?php echo $component->id; ?>"
            data-fields='<?php echo $component->fields; ?>'
            data-html='<?php echo $component->view; ?>'>
            <div class="ledDraggableHtml<?php echo $compatibleZones; ?>" title="<?php echo $component->name; ?>">
                <div class="previewComponent<?php echo $compatibleZones; ?>">
                    <?php echo html_entity_decode($component->view); ?>
                </div>
                <div class="clearfix"></div>
            </div>
        </li>
    <?php endforeach; ?>
<?php endif; ?>
