<?php if (!$contentsIssueIsEmpty): ?>
    <?php $isFirstPropNotEmpty = true; ?>
    <div class="panel-group" id="accordion-content-issues"> 
        <!--Tribunas-->
        <?php if (count($contentsIssue->tribunas) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#tribunas">
                            <?php echo _('Tribunas'); ?>
                        </a>
                    </h4>
                </div>
                <div id="tribunas" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->tribunas as $tribuna): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($tribuna), ENT_QUOTES, 'UTF-8'); ?>">                                 
                                <?php echo $tribuna->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $tribuna->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Foro Abierto-->
        <?php if (count($contentsIssue->foro_abierto) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#foro_abierto">
                            <?php echo _('Foro Abierto'); ?>
                        </a>
                    </h4>
                </div>
                <div id="foro_abierto" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->foro_abierto as $foro_abierto): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($foro_abierto), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $foro_abierto->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $foro_abierto->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Reseñas de Jurisprudencia-->
        <?php if (count($contentsIssue->jurispridencias) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#jurispridencias">
                            <?php echo _('Reseñas de Jurisprudencia'); ?>
                        </a>
                    </h4>
                </div>
                <div id="jurispridencias" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->jurispridencias as $jurispridencia): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($jurispridencia), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $jurispridencia->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $jurispridencia->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Novedades Legislativas-->
        <?php if (count($contentsIssue->legislacion) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#legislacion">
                            <?php echo _('Novedades Legislativas'); ?>
                        </a>
                    </h4>
                </div>
                <div id="legislacion" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->legislacion as $legislacion): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($legislacion), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $legislacion->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $legislacion->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Consultas-->
        <?php if (count($contentsIssue->consultas) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#consultas">
                            <?php echo _('Consultas'); ?>
                        </a>
                    </h4>
                </div>
                <div id="consultas" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->consultas as $consultas): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($consultas), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $consultas->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $consultas->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Doctrina Administrativa-->
        <?php if (count($contentsIssue->doctrina_administrativa) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#doctrina_administrativa">
                            <?php echo _('Doctrina Administrativa'); ?>
                        </a>
                    </h4>
                </div>
                <div id="doctrina_administrativa" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->doctrina_administrativa as $doctrina_administrativa): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($doctrina_administrativa), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $doctrina_administrativa->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $doctrina_administrativa->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Órganos Consultivos-->
        <?php if (count($contentsIssue->organos_consultivos) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#organos_consultivos">
                            <?php echo _('Órganos Consultivos'); ?>
                        </a>
                    </h4>
                </div>
                <div id="organos_consultivos" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->organos_consultivos as $organo_consultivo): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($organo_consultivo), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $organo_consultivo->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $organo_consultivo->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
        <!--Respuesta de los Tribunales-->
        <?php if (count($contentsIssue->respuestas_tribunales) > 0): ?>
            <div class="panel panel-default">    
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-content-issues" href="#respuestas_tribunales">
                            <?php echo _('Respuesta de los Tribunales'); ?>
                        </a>
                    </h4>
                </div>
                <div id="respuestas_tribunales" class="panel-collapse collapse <?php echo $isFirstPropNotEmpty ? 'in' : ''; ?>">
                    <div class="panel-body">
                        <?php foreach ($contentsIssue->respuestas_tribunales as $respuesta_tribunales): ?>
                            <div class="itemImport contentIssue" 
                                 data-content="<?php echo htmlspecialchars(json_encode($respuesta_tribunales), ENT_QUOTES, 'UTF-8'); ?>"> 
                                <?php echo $respuesta_tribunales->title; ?> 
                                <input type="checkbox" class="importContentItem issueContent" name="importContentItem" id="content-<?php echo $respuesta_tribunales->id; ?>">
                            </div>
                        <?php endforeach; ?>
                    </div>
                </div>
            </div>
            <?php $isFirstPropNotEmpty = false; ?>
        <?php endif; ?>
        
    </div>
<?php else : ?>
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-danger" role="alert">
                <?php echo _('No hay contenido disponible.'); ?>
            </div>
        </div>
    </div>
<?php endif; ?>
