<?php

	$class = isset($classPagination) ? $classPagination : 'applyPaginationFilter';

	if( $pages > 1 ){
		?>
		<div class="text-center">
			<ul class="pagination">

				<!-- Primera página -->
				<?php
				if( $page > 2 ) {
					?>
					<li>
						<span class="<?=$class;?>" data-page="1" title="<?php echo _('Primera página');?>">&lt;&lt;</span>
					</li>
                    <li>
						<span class="<?=$class;?>" data-page="1" title="<?php echo _('Primera página');?>">1</span>
					</li>
                    <li data-page="<?php echo $pages;?>">
						<span class="noApplyPaginationFilterLeft">...</span>
					</li>
					<?php
				}
				?>

				<!-- Página anterior -->
				<?php
				if( $page >= 2 ) {
					$prevPage = $page - 1;
					?>
					<li>
						<span class="<?=$class;?>" data-page="<?php echo $prevPage; ?>" title="<?php echo _('Página anterior');?>"><?php echo $prevPage; ?></span>
					</li>
					<?php
				}
				?>

				<!-- Página actual -->
				<li class="<?=$class;?> active" data-page="<?php echo $page;?>" title="<?php echo _('Primera actual');?>">
					<span><?php echo $page;?></span>
				</li>

				<!-- Siguiente página -->
				<?php
				if( ($pages - $page) >= 1 ) {
					$nextPage = $page + 1;
					?>
					<li class="<?=$class;?>" data-page="<?php echo $nextPage;?>">
						<span><?php echo $nextPage; ?></span>
					</li>
					<?php
				}
				?>

				<!-- Última página -->
				<?php
				if( ($pages - $page) > 1 ) {
					?>
                    <li data-page="<?php echo $pages;?>">
						<span class="noApplyPaginationFilterRight">...</span>
					</li>
                    <li data-page="<?php echo $pages;?>" title="<?php echo _('Última página');?>">
						<span class="<?=$class;?>" data-page="<?php echo $pages;?>" title="<?php echo _('Última página');?>"><?php echo $pages; ?></span>
					</li>
					<li data-page="<?php echo $pages;?>" title="<?php echo _('Última página');?>">
						<span class="<?=$class;?>" data-page="<?php echo $pages;?>" title="<?php echo _('Última página');?>">&gt;&gt;</span>
					</li>
					<?php
				}
				?>
			</ul>
		</div>
		<?php
	}
	?>
