<?php

 use Phalcon\Tag; ?>
<?php echo $this->getContent();?>

<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['author/index/', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['', 'Actualizar', 'id' => 'updateAuthor']); ?>
    </li>
</ul>

<h2>Actualizar Autor</h2>
<form action="<?php echo $this->url->get('author/save'); ?>" method="post" class="" id="formUpdateAuthor" enctype="multipart/form-data">
    <?php $this->flashSession->output(); ?>
    <div id="" class="content_issue">
        <div class="row">
            
            <div class="col-sm-6">
                <p class="h3">Datos del autor</p>
                <div class="alert alert-danger hidden" role="alert" id="errorAuthorUpdateForm"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <div class="form-group">
                                <label for="tratamiento">Tratamiento *</label>
                                <select class="form-control required" id="tratamiento" name="tratamiento">
                                    <option value="D." <?php echo ($author->tratamiento == 'D.') ? 'selected' : '';?>>D.</option>
                                    <option value="Dña." <?php echo ($author->tratamiento == 'Dña.') ? 'selected' : '';?>>Dña.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fullName">Nombre y Apellidos *</label>
                                <input type="text" name="fullName" id="fullName" value="<?php echo $author->fullName;?>" class="required"> 
                            </div>
                            <div class="form-group">
                                <label for="job">Cargo *</label>
                                <input type="text" name="job" id="job" value="<?php echo $author->job;?>" class="required"> 
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <p class="h3">Imagen del autor</p>
                <?php
                    $imageAuthor = ($author->image != '') ? $author->image : 'no-img.png';
                    
                    $classInputFile = '';
                    if ( $author->image != '' ){
                        $classInputFile = 'hidden';
                    }
                    
                    ?>
                        <div class="form-group <?php echo $classInputFile;?>" id="groupFile" style="">
                            <label for="urlImageFile">Archivo de la imagen</label>
                            <input type="file" id="urlImageFile" name="urlImageFile" class="form-control" placeholder="Inserta la URL de la imagen asociada" accept=".jpg,.jpeg,.png" > 
                        </div>
                
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="img-wrap <?php echo ($author->image == '') ? 'hidden' : '';?>">
                                    <span class="close delete-action">&times;</span>
                                    <img src="/images/authors/<?php echo $imageAuthor; ?>" id="authorImageDisplay" width="100%">
                                </div>
                            </div>
                        </div>
            </div>
            
        </div>
    </div>
    <input type="hidden" name="idAuthor" id="idAuthor" value="<?php echo $author->id;?>">
    <input type="hidden" name="changeImage" id="changeImage" value="0">
    <input type="hidden" name="edit" id="edit" value="true">
</form>

<!-- DIV DE CONFIRMACIÓN PARA ELIMINAR LA IMAGEN DE UN AUTOR -->
<div id="dialog-confirm-delete-image-author" style="display: none;" title="<?php echo _('¿Está seguro de eliminar la imagen?');?>">
    <p class="secure-confirmation text-justify">
		<span class="ui-icon ui-icon-alert"></span>
		<?php echo _('Se borrará la imagen permanentemente.<br/>¿Desea seguir?');?>
	</p>
</div>