<?php use Phalcon\Tag;?>
<?php echo $this->getContent(); ?>

<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['magazine', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['author/new/', 'Crear Autor']); ?>
    </li>
</ul>

<div class="pager">
    
    <form action="<?php echo $this->url->get('author/search'); ?>" method="post" class="">
        <div class="search-bar col-xs-12 col-md-6">
            <input id="searchBtn" type="search" class="form-control" placeholder="Buscar" name="fullName">
            <div class="input-group-append">
                <button class="btn btn-primary " type="submit" id="searchButton"><span class="lf-icon-search"></span></button>
            </div>
        </div>
    </form>
    
</div>
<?php
if ( count($page->items) > 0 ){
    
    ?><h2>Autores</h2><?php
    
    foreach ( $page->items as $key => $author ){
        
        /**
         * Imagen del autor
         */
        $imageAuthor = ($author->image != '') ? $author->image : 'no-img.png';
        
        if ( $key == 0 ){
            ?>
                <table class="table table-bordered table-striped" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                <?php
        }
        
        ?>
            <tr class="">
                <td><?php echo $author->id;?></td>
                <!--<td><img src="/images/authors/<?php echo $imageAuthor; ?>" width="80px"></td>-->
                <td><img src="<?php echo ($author->image != '') ? $author->image : '/images/authors/no-img.png';?>" width="80px"></td>
                <td><?php echo $author->tratamiento . ' ' . $author->fullName;?></td>
                <td><?php echo $author->job;?></td>
                <td width="8%">
                    <!-- Botón de editar-->
                    <?php 
                        /**
                         * Solo podemos eliminar un autor si:
                         * - Este no tiene ninguna publicación o contenido a su nombre
                         */
                         $classDeleteButton = ( count( $author->contentIssue ) > 0 ) ? 'isDisabled' : 'deleteAuthor';
                         $hrefDeleteButton = 'javascript:void(0)';
                         $titleDeleteButton = ( count( $author->contentIssue ) > 0 ) ? 'No se puede eliminar' : '';
                         ?>
                            <div class="btn-group">
                                <a href="<?php echo '/author/edit/'. $author->id;?>" class="btn-without-border"><span class="lf-icon-edit"></span></a>
                                <a href="<?php echo $hrefDeleteButton;?>" data-id="<?php echo $author->id;?>" class="btn-without-border <?php echo $classDeleteButton;?>" title="<?php echo $titleDeleteButton;?>"><span class="lf-icon-trash"></span></a>
                            </div>
                </td>
            </tr>
            <?php
        
        if( count( $page->items ) - 1 == $key) {
            ?>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="5" align="center">
                            <div class="btn-group">
                                <?php echo ($page->first != $page->current && $page->before != $page->current)? \Phalcon\Tag::linkTo(['author/index/?page='.$page->first, '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->before != $page->current)? \Phalcon\Tag::linkTo(['author/index/?page='.$page->before, '<i class="icon-step-backward"></i> Anterior', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->next != $page->current)? \Phalcon\Tag::linkTo(['author/index/?page='.$page->next, '<i class="icon-step-forward"></i> Siguiente', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->last != $page->current && $page->last != $page->next) ? \Phalcon\Tag::linkTo(['author/index/?page='.$page->last, '<i class="icon-step-forward"></i> Última', 'class' => 'btn']) : ''; ?>
                            </div>
                            <div><span class="help-inline"><b><?php echo $page->current . " de ". $page->total_pages;?></b></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
                <?php
        }
    }
}else{
    echo 'No hay autores registrados';
}
?>
<!-- DIV DE CONFIRMACIÓN PARA ELIMINAR UN AUTOR -->
<div id="dialog-confirm-delete-author" style="display: none;" title="<?php echo _('¿Está seguro de eliminar a este autor?');?>">
    <p class="secure-confirmation text-justify">
		<span class="ui-icon ui-icon-alert"></span>
		<?php echo _('Se borrarán todos los datos permanentemente.<br/>¿Desea seguir?');?>
	</p>
</div>