<?php

 use Phalcon\Tag; ?>
<?php echo $this->getContent();?>

<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['author/index/', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['', 'Guardar', 'id' => 'createAuthor']); ?>
    </li>
</ul>

<h2>Nuevo Autor</h2>
<form action="<?php echo $this->url->get('author/create'); ?>" method="post" class="" id="formNewAuthor" enctype="multipart/form-data">
    <?php $this->flashSession->output(); ?>
    <div id="" class="content_issue">
        <div class="row">
            
            <div class="col-sm-6">
                <p class="h3">Datos del autor</p>
                <div class="alert alert-danger hidden" role="alert" id="errorAuthorForm"></div>
                <div class="row">
                    <div class="col-sm-12">
                        <fieldset>
                            <div class="form-group">
                                <label for="tratamiento">Tratamiento *</label>
                                <select class="form-control required" id="tratamiento" name="tratamiento">
                                    <option value="D.">D.</option>
                                    <option value="Dña.">Dña.</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="fullName">Nombre y Apellidos *</label>
                                <input type="text" name="fullName" id="fullName" value="" class="required"> 
                            </div>
                            <div class="form-group">
                                <label for="job">Cargo *</label>
                                <input type="text" name="job" id="job" value="" class="required"> 
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            
            <div class="col-sm-6">
                <p class="h3">Imagen del autor</p>
                
                <div class="form-group" style="" id="groupFile">
                    <label for="urlImageFile">Archivo de la imagen</label>
                    <input type="file" id="urlImageFile" name="urlImageFile" class="form-control" placeholder="Inserta la URL de la imagen asociada" accept=".jpg,.jpeg,.png"> 
                </div>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="img-wrap hidden">
                            <img src="/images/authors/no-img.png" id="authorImageDisplay" width="100%">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</form>