<div id="content_consulta" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Consultas Seleccionadas</p>
            <ul id="finishListConsulta" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::CONSULTASID])){
                        foreach( $contents[\Util\LegalContent::CONSULTASID] as $consulta ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $consulta->id;?>" data-type="28" data-nref="<?php echo $consulta->nref;?>" data-review="<?php echo  htmlspecialchars($consulta->body);?>" data-title="<?php echo  htmlspecialchars($consulta->title);?>" data-keywords="<?php echo $consulta->keywords;?>" data-epigraph="" data-resume="" data-signature="" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $consulta->title;?></p>
                                    <div class="configConsulta">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Consulta</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchConsulta"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefConsulta">NREF</label>
                            <input type="text" name="nrefConsulta" id="nrefConsulta" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleConsulta">Título</label>
                            <input type="text" name="titleConsulta" id="titleConsulta" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchConsulta"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefConsultaList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

