<div id="content_docadministrativa" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Doctrinas Administrativas Seleccionadas</p>
            <ul id="finishListDocAdministrativa" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::DOCADMINID])){
                        foreach( $contents[\Util\LegalContent::DOCADMINID] as $administrativa ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $administrativa->id;?>" data-type="29" data-nref="<?php echo $administrativa->nref;?>" data-review="<?php echo  htmlspecialchars($administrativa->body);?>" data-title="<?php echo  htmlspecialchars($administrativa->title);?>" data-keywords="<?php echo $administrativa->keywords;?>" data-epigraph="" data-resume="<?php echo $administrativa->resume;?>" data-signature="" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $administrativa->title;?></p>
                                    <div class="configDocAdministrativa">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Doctrina Administrativa</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchDocAdministrativa"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefDocAdministrativa">NREF</label>
                            <input type="text" name="nrefDocAdministrativa" id="nrefDocAdministrativa" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleDocAdministrativa">Título</label>
                            <input type="text" name="titleDocAdministrativa" id="titleDocAdministrativa" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchDocAdministrativa"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefDocAdministrativaList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

