<div id="content_forum" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Foros Seleccionados</p>
            <ul id="finishListForums" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::FORUMID])){
                        foreach( $contents[\Util\LegalContent::FORUMID] as $forum ){
                            
                            $authors = array();
                            foreach($forum->author as $author){
                                $authors[] = $author->id;
                            }
                            $authorsString = implode (",", $authors);
                            
                            foreach($forum->approachResult as $approachResult){
                                
                                if ($approachResult->idDataTypeForum == 1){
                                    $idApproach = $approachResult->id;
                                    $approach   = $approachResult->content;
                                }else{
                                    $idResultForum = $approachResult->id;
                                    $resultForum   = $approachResult->content;
                                }
                            }
                            
                            $pointsView = array();
                            foreach( $forum->pointView as $point ){
                                
                                $pointView = new stdClass();
                                $pointView->id = $point->id;
                                $pointView->author = $point->idAuthor;
                                $pointView->text = $point->pointView;
                                $pointView->fullname = $point->author->tratamiento . " " . $point->author->fullName;
                                
                                $pointsView[] = json_encode($pointView);
                            }
                            $pointsViewsString = implode(';', $pointsView);
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" 
                                    data-id="<?php echo $forum->id;?>" 
                                    data-type="25" 
                                    data-nref="<?php echo $forum->nref?>" 
                                    data-title="<?php echo $forum->title;?>" 
                                    data-keywords="<?php echo $forum->keywords;?>" 
                                    data-idapproach="<?php echo $idApproach;?>"
                                    data-approach="<?php echo htmlspecialchars($approach);?>"
                                    data-idresult="<?php echo $idResultForum;?>"
                                    data-result="<?php echo htmlspecialchars($resultForum);?>" 
                                    data-pointsviews="<?php echo htmlspecialchars($pointsViewsString);?>" 
                                    data-authors="<?php echo $authorsString;?>" 
                                    data-complete="true" 
                                    style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $forum->title;?></p>
                                    <div class="configForum">
                                        <p><a href="javascript:void(0);" class="generateForum">Editar Foro</a></p>
                                        <p><a href="javascript:void(0);" class="addAuthor addCordinator">Editar Autor/es</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Foro</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchForum"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefTribune">NREF</label>
                            <input type="text" name="nrefTribune" id="nrefForum" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleTribune">Título</label>
                            <input type="text" name="titleTribune" id="titleForum" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchForum"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefForumList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

