<div id="content_legislativas" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Novedades Legislativas Seleccionadas</p>
            <ul id="finishListLegislativas" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::NOVLEGISID])){
                        foreach( $contents[\Util\LegalContent::NOVLEGISID] as $legislativa ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $legislativa->id;?>" data-type="27" data-nref="<?php echo $legislativa->nref;?>" data-review="<?php echo  htmlspecialchars($legislativa->body);?>" data-title="<?php echo  htmlspecialchars($legislativa->title);?>" data-keywords="<?php echo $legislativa->keywords;?>" data-epigraph="" data-resume="" data-signature="" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $legislativa->title;?></p>
                                    <div class="configLegislativas">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Novedad Legislativa</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchLegislativas"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefLegislativas">NREF</label>
                            <input type="text" name="nrefLegislativas" id="nrefLegislativas" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleLegislativas">Título</label>
                            <input type="text" name="titleLegislativas" id="titleLegislativas" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchLegislativas"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefLegislativasList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

