<div id="content_orgconsultivos" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Órganos Consultivos Seleccionados</p>
            <ul id="finishListOrgConsultivos" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::ORGCONSULTIVOSID])){
                        foreach( $contents[\Util\LegalContent::ORGCONSULTIVOSID] as $organo ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $organo->id;?>" data-type="30" data-nref="<?php echo $organo->nref;?>" data-review="<?php echo  htmlspecialchars($organo->body);?>" data-title="<?php echo  htmlspecialchars($organo->title);?>" data-keywords="<?php echo $organo->keywords;?>" data-epigraph="" data-resume="<?php echo $organo->resume;?>" data-signature="" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $organo->title;?></p>
                                    <div class="configOrgConsultivos">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Órgano Consultivo</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchOrgConsultivos"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefOrgConsultivos">NREF</label>
                            <input type="text" name="nrefOrgConsultivos" id="nrefOrgConsultivos" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleOrgConsultivos">Título</label>
                            <input type="text" name="titleOrgConsultivos" id="titleOrgConsultivos" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchOrgConsultivos"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefOrgConsultivosList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

