<div id="content_rju" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Reseñas Seleccionadas</p>
            <ul id="finishListRJU" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::JURISPRUDENCEID])){
                        foreach( $contents[\Util\LegalContent::JURISPRUDENCEID] as $jurisprudence ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $jurisprudence->id;?>" data-type="26" data-nref="<?php echo $jurisprudence->nref;?>" data-review="<?php echo  htmlspecialchars($jurisprudence->body);?>" data-title="<?php echo  htmlspecialchars($jurisprudence->title);?>" data-keywords="<?php echo $jurisprudence->keywords;?>" data-epigraph="" data-resume="<?php echo $jurisprudence->resume;?>" data-signature="" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $jurisprudence->title;?></p>
                                    <div class="configRJU">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Reseña</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchRJU"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefRJU">NREF</label>
                            <input type="text" name="nrefRJU" id="nrefRJU" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleRJU">Título</label>
                            <input type="text" name="titleRJU" id="titleRJU" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchRJU"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefRJUList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

