<div id="content_respuestaT" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Respuestas Seleccionadas</p>
            <ul id="finishListRespuestaT" class="list-group connectedSortable finishList">
                <?php 
                    if(!empty($contents[\Util\LegalContent::RESTRIBUNALESID])){
                        foreach( $contents[\Util\LegalContent::RESTRIBUNALESID] as $resTribunales ){
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $resTribunales->id;?>" data-type="31" data-nref="<?php echo $resTribunales->nref;?>" data-review="<?php echo  htmlspecialchars($resTribunales->body);?>" data-title="<?php echo  htmlspecialchars($resTribunales->title);?>" data-keywords="<?php echo $resTribunales->keywords;?>" data-epigraph="<?php echo $resTribunales->epigraph;?>" data-resume="<?php echo $resTribunales->resume;?>" data-signature="<?php echo $resTribunales->signature;?>" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $resTribunales->title;?></p>
                                    <div class="configRespuestaT">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Contenido</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Respuesta</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchRespuestaT"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefRespuestaT">NREF</label>
                            <input type="text" name="nrefRespuestaT" id="nrefRespuestaT" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleRespuestaT">Título</label>
                            <input type="text" name="titleRespuestaT" id="titleRespuestaT" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchRespuestaT"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefRespuestaTList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

