<div id="content_tribune" class="content_issue">
    <div class="row">
        <div class="col-sm-6">
            <p class="h3">Tribunas Seleccionadas</p>
            <ul id="finishListTribunes" class="list-group connectedSortable finishList">
                <!--<li class="list-group-item"><image src="/images/icons/icon-arrows-az.png" />Lion</li>
                <li class="list-group-item"><image src="/images/icons/icon-arrows-az.png" />Dog</li>
                <li class="list-group-item"><image src="/images/icons/icon-arrows-az.png" />Cat</li>
                <li class="list-group-item"><image src="/images/icons/icon-arrows-az.png" />Tiger</li>-->
                <?php 
                    if(!empty($contents[\Util\LegalContent::TRIBUNESID])){
                        foreach( $contents[\Util\LegalContent::TRIBUNESID] as $tribune ){
                            
                            $authors = array();
                            foreach($tribune->author as $author){
                                $authors[] = $author->id;
                            }
                            $authorsString = implode (",", $authors);
                            
                            ?>
                                <li class="list-group-item ui-sortable-handle listables" data-id="<?php echo $tribune->id;?>" data-type="24" data-nref="<?php echo $tribune->nref;?>" data-review="<?php echo  htmlspecialchars($tribune->body);?>" data-title="<?php echo  htmlspecialchars($tribune->title);?>" data-keywords="<?php echo $tribune->keywords;?>" data-epigraph="<?php echo  htmlspecialchars($tribune->epigraph);?>" data-resume="" data-signature="" data-authors="<?php echo $authorsString;?>" data-complete="true" style="position: relative; left: 0px; top: 0px;"><img src="/images/icons/icon-arrows-az.png">
                                    <p><?php echo $tribune->title;?></p>
                                    <div class="configTribune">
                                        <p><a href="javascript:void(0);" class="addReview">Editar Reseña</a></p>
                                        <p><a href="javascript:void(0);" class="addAuthor">Editar Autor/es</a></p>
                                    </div>
                                </li>
                                <?php
                        }
                    }
                ?>
            </ul>
        </div>
        <div class="col-sm-6">

            <p class="h3">Buscar Tribuna</p>
            <div class="alert alert-danger hidden" role="alert" id="errorSearchTribune"></div>
            <div class="row">
                <div class="col-sm-10">
                    <fieldset>
                        <div class="form-group">
                            <label for="nrefTribune">NREF</label>
                            <input type="text" name="nrefTribune" id="nrefTribune" value="">
                        </div>
                        <div class="form-group">
                            <label for="titleTribune">Título</label>
                            <input type="text" name="titleTribune" id="titleTribune" value="">
                        </div>
                    </fieldset>
                </div>
                <div class="col-sm-2">
                    <a href="javaScript:void(0);" class="btn btn-primary" id="searchTribune"><i class="ed-buscador"></i></a>
                </div>

            </div>

            <ul id="nrefTribuneList" class="list-group connectedSortable"></ul>
        </div>
    </div>
</div>

