<?php use Phalcon\Tag;?>
<?php echo $this->getContent(); ?>
<?php echo Tag::form(array('magazine/search', 'id'=>'searchMagazineForm')); ?>

    <h2>
        Buscar Revista
    </h2>

    <fieldset>
        <?php
            foreach ($form as $element) {
                ?>
                    <div class="form-group">
                        <label for="<?php echo $element->getName(); ?>"><?php echo $element->getLabel(); ?></label>
                        <?php
                        echo $element;
                        ?>
                    </div>
                    <?php
            }
        ?>

        <div class="control-group">
            <?php echo Phalcon\Tag::submitButton(array('Buscar', 'class' => 'btn btn-primary'));?>
        </div>

    </fieldset>
</form>