<?php use Phalcon\Tag;?>
<?php echo Tag::form(array('magazine/save', 'role'=>'form')); ?>

    <ul class="pager">
        <li class="previous pull-left">
            <?php echo \Phalcon\Tag::linkTo(['magazine', '&larr; Atrás']); ?>
        </li>
        <li class="pull-right">
            <?php echo Phalcon\Tag::submitButton(array('Guardar', 'class' => 'btn btn-success'));?>
        </li>
    </ul>

    <?php echo $this->getContent(); ?>
    <h2>Editar Revista</h2>

    <fieldset>
    <?php
         foreach ($form as $element) {
             if (is_a($element, 'Phalcon\Forms\Element\Hidden')){
                 echo $element;
             }else{
                 ?>
                    <div class="form-group">
                        <?php echo $element->getLabel(); ?>
                        <?php echo $element;?>
                    </div>
                    <?php
             }
         }
    ?>
    </fieldset>

</form>