<div id="list_magazines">
    <div class="row nl-list">
        <?php
        foreach ($magazines as $magazine) {
            ?>
            <div class="col-sm-3 magazine-item">
                <div class="magazine-item-actions-show">
                    <i class="icon-android-apps" title="Acciones"></i>
                </div>
                <div class="triangle"></div>
                <div class="magazine-item-actions-list hide">
                    <ul>                                                          
                        <li>                                        
                            <a href="">                                            
                                <span title="Descargar PDF">Descargar PDF</span>                                        
                            </a>                                    
                        </li>
                    </ul>
                </div>                                
                <a href="/issue/index/<?php echo $magazine->id;?>" title="<?php echo $magazine->name;?>" class="nl-container">
                    <div class="layer-opacity"></div>
                    <div class="preview-html">
                        <p class="h3"><?php echo $magazine->name;?></p>
                        <?php
                            $fileImgNotification	= '/images/preview.png';

                            echo '<img class="magazine-preview" style="width:100%; height:auto" src="'.$fileImgNotification.'" />';
                        ?>
                    </div>
                </a>
                <?php
                    $issueName = '';
                    if ( $magazine->issue != false ){
                        foreach($magazine->issue as $issue){
                            if ($issue->id == $magazine->idNumber){
                                $issueName = $issue->name;
                            }
                        }
                    }
                ?>
                <a class="cont-status" href="/issue/index/<?php echo $magazine->id;?>">
                    <div class="bg-issueName"></div>
                    <div class="status" title="<?php echo $issueName;?>">
                        <span class=""><?php echo $issueName;?></span>
                    </div>
                </a>
            </div>
            <?php
        }
        ?>
    </div>
</div>