<?php use Phalcon\Tag;?>
<?php echo $this->getContent(); ?>
<ul class="pager">
    <li class="previous">
        <?php echo \Phalcon\Tag::linkTo(['magazine', '&larr; Atrás']); ?>
    </li>
    <li class="next">
        <?php echo \Phalcon\Tag::linkTo(['magazine/new', 'Crear Revista']); ?>
    </li>
</ul>
<?php
if ( count($page->items) > 0 ){
    foreach ( $page->items as $key => $magazine ){
        if ( $key == 0 ){
            ?>
                <table class="table table-bordered table-striped" align="center">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Url</th>
                        <th>Último número</th>
                    </tr>
                </thead>
                <tbody>
                <?php
        }
        
        ?>
            <tr>
                <td><?php echo $magazine->id;?></td>
                <td><?php echo $magazine->name;?></td>
                <td><?php echo $magazine->url;?></td>
                <td><?php echo $magazine->idNumber;?></td>
                <td width="7%"><?php echo \Phalcon\Tag::linkTo(['magazine/edit/'.$magazine->id, '<i class="glyphicon glyphicon-edit"></i> Editar', 'class' => 'btn btn-default']); ?></td>
            </tr>
            <?php
        
        if( count( $page->items ) - 1 == $key) {
            ?>
                </tbody>
                <tbody>
                    <tr>
                        <td colspan="7" align="right">
                            <div class="btn-group">
                                <?php //echo \Phalcon\Tag::linkTo(['magazine/search', '<i class="icon-fast-backward"></i> Primero', 'class' => 'btn']); ?>
                                <?php echo ($page->before != $page->current)? \Phalcon\Tag::linkTo(['magazine/search?page='.$page->before, '<i class="icon-step-backward"></i> Anterior', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->next != $page->current)? \Phalcon\Tag::linkTo(['magazine/search?page='.$page->next, '<i class="icon-step-forward"></i> Siguiente', 'class' => 'btn']) : ''; ?>
                                <?php echo ($page->last != $page->current && $page->last != $page->next) ? \Phalcon\Tag::linkTo(['magazine/search?page='.$page->last, '<i class="icon-step-forward"></i> Última', 'class' => 'btn']) : ''; ?>
                                <span class="help-inline"><?php echo $page->current . " de ". $page->total_pages;?></span>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
                <?php
        }
    }
}else{
    echo 'No hay revistas registradas';
}