<!DOCTYPE HTML>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <?= $this->view->getPartial('common/head'); ?>
    <body class="<?= $rootvar['bodyClass']; ?>">
		<?= $this->view->getPartial('common/header'); ?>
		<!--<div class="container-fluid push-area">-->
        <div class="container-fluid <?= $containerClass; ?>" style="margin-top: 60px;">
			<?= $this->getContent(); ?>
		</div>
		<?= $this->view->getPartial('common/footer'); ?>
    </body>
</html>
