<!DOCTYPE HTML>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <?= $this->view->getPartial('common/head'); ?>
    <body class="<?= $rootvar['bodyClass']; ?>">
		<?= $this->getContent(); ?>
		<?= $this->view->getPartial('common/layouts/plain/footer'); ?>
    </body>
</html>


