<footer class="footer <?= $footerClass; ?>">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 footer-logo">
                    <a rel="nofollow" href="https://lefebvre.es" target="_blank">
                        <img alt="INTELIGENCIA JURÍDICA | LEFEBVRE" src="<?= $this->url->get('images/lefebvre-ij-bl-h40.png') ?>">
                    </a>
                </div>
                <ul class="col-xs-12 col-md-6 social-squares">
                    <li>
                        <a href="https://www.facebook.com/Lefebvre.ES/" target="_blank" title="Facebook"><img src="https://lefebvre.es/wp-content/plugins/led-portalcorporativo/includes/media/images/logo-fb.png" width="30" height="30" alt="Facebook"> </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/lefebvre_es" target="_blank" title="Linkedin"><img src="https://lefebvre.es/wp-content/plugins/led-portalcorporativo/includes/media/images/logo-linkedin.png" width="30" height="30" alt="Linkedin"> </a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/c/lefebvre_es" target="_blank" title="Youtube"><img src="https://lefebvre.es/wp-content/plugins/led-portalcorporativo/includes/media/images/logo-youtube.png" width="30" height="30" alt="Youtube"> </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Lefebvre_ES" target="_blank" title="Twitter"><img src="https://lefebvre.es/wp-content/plugins/led-portalcorporativo/includes/media/images/logo-twitter.png" width="30" height="30" alt="Twitter"> </a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <p class="col-xs-12">
                    ©2019 Lefebvre. Todos los derechos reservados.
                    <span>
                        <a href="/aviso-legal/" target="_blank" title="Aviso legal">Aviso legal</a> &nbsp;|&nbsp;
                        <a href="/politica-privacidad/" target="_blank" title="Política de privacidad">Política de privacidad</a> &nbsp;|&nbsp;
                        <a href="/politica-cookies/" target="_blank" title="Política de Cookies">Política de Cookies</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
    <?php 
        $this->assets->outputJs('commonJs');
        $this->assets->outputInlineJs();
    ?>
</footer>