<header>
    
    <nav class="navbar section-bar navbar-fixed-top">

        <ul class="cont-nav">
            <li class="logo col-md-2">
                <a href="<?php echo $this->url->get(); ?>">
                    <img src="https://content.lefebvreelderecho.com/getImage.aspx?image=mailing/comunes/lefebvre-inteligencia-juridica-h40.png" alt="LEFEBVRE" width="112" height="40">
                </a>
            </li>

            <?php if( $this->session->get('user')): ?>
                <li class="pull-right">
                    <a href="auth/logout" style="padding:0; color:#001978; "><i class="icon-android-exit"></i> Salir</a>
                </li>
            <?php endif ?>
        </ul>
        <div id="led-mainmenu">
            <ul class="led-mainmenu">
                <li class="">
                    <a class="link-menu" href="<?php echo $this->url->get('author/index'); ?>">
                        <?php echo _('Autores'); ?>
                    </a>
                </li>
                <?php if($user->rolName === 'Admin'): ?>
                    <li class="pull-right">
                        <a href="<?php echo $baseUrl.'origin'; ?>">
                            <?php echo _('Origenes'); ?>
                        </a>
                    </li>
                    <li class="pull-right">
                        <a href="<?php echo $baseUrl.'component'; ?>">
                            <?php echo _('Componentes'); ?>
                        </a>
                    </li>
                <?php endif; ?>
             </ul>
        </div>
    </nav>

    <!-- DIV INFO sobre las diferentes acciones de la plataforma -->
    <div id="ledInfoActions" style="
        padding: 10px;
        z-index: 1030;
        text-align: center;
        font-size: 14px;
        max-width: 1480px;
        width: 100%;
        position: fixed;
        top: 105px;
        border:1px solid;
        display: none;"></div>

    <div class="flash-messages" style="
        padding: 10px;
        z-index: 1030;
        text-align: center;
        font-size: 14px;
        max-width: 1480px;
        width: 100%;
        position: fixed;
        top: 105px;">
        <?php $this->flashSession->output(); ?>
        <?php echo $this->flash->output(); ?>
    </div>    
</header>