<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Revistas</title>
	<meta name="description" content="Revistas"/>
	<meta name="keywords" content="Revistas"/>
	<meta name="generator" content="Lefebvre"/>
	<meta name="author" content="Lefebvre &middot;">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="<?= $this->url->get('images/favicon.ico') ?>"/>
    <?php $this->assets->outputCss('commonCss'); ?>
    <?php $this->assets->outputJs('headerJs'); ?>
</head>