<!DOCTYPE HTML>
<html lang="es" prefix="og: http://ogp.me/ns#">
    <?= $this->view->getPartial('common/head'); ?>
    <body class="<?php echo $rootvar['bodyClass']; ?>">
        <?php $this->partial('common/login/logomenu'); ?>
        <?php echo $this->getContent(); ?>
    </body>
</html>
